{% extends 'basePrincipal.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/armarEliminatoria.css') }}">
{% endblock %}

{% block body %}
holas

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarEliminatoria.js') }}"></script>
	<script src="{{ asset('public/js/page/jquery.min_1.js') }}"></script>
{% endblock %}
