{% extends 'basePrincipal.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/menu/baseFechas.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div id="message" class="ocultar">
        lalaala
    </div>

    <div data-id="1">
        <a href="#" class="btn btn-sm btn-danger btn-delete">
            {{ 'Delete'|trans }}
        </a>
    </div>


    {{ include('futfunBundle:Default:forms/form.html.twig',
    { form: delete_form_ajax, message: 'Are you sure ?'|trans, id: 'form-delete', with_submit: false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/menu/sssss.js') }}"></script>
{% endblock %}