{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/inicio.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {% for flashMessage in app.session.flashbag.get('login') %}
        <span class="alert-success">
                    {{ flashMessage }}
                 </span>
    {% endfor %}

    <div class="panel panel-success" id="pnlMisAPuestas">
        <div class="panel-heading" id="pnlTitMisApuestas">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTMisApuestas">
                    {% trans %}Bets you are participating{% endtrans %} ({{ datos.apuestasParticipando|length }})
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyMisApuestas">
            {{ include('futfunBundle:Administrador:panel/apuestaParticipando.html.twig') }}
        </div>
    </div>
    <div class="panel panel-success" id="pnlAPuestasRestantes">
        <div class="panel-heading" id="pnlTitApuestasRestantes">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTApuestasRestantes">
                    {% trans %}Remaining bets{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyApuestasRestantes">
            {{ include('futfunBundle:Administrador:panel/apuestaRestantes.html.twig') }}
        </div>
    </div>
    <div class="panel panel-success" id="pnlTorneos">
        <div class="panel-heading" id="pnlTitTorneos">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTTorneos">
                    {% trans %}Tournaments created{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyTorneos">
            {{ include('futfunBundle:Administrador:panel/torneos.html.twig') }}
        </div>
    </div>
    {{ include('futfunBundle:ApuestasTorneo:forms/formAgregarUsuApu.html.twig',
    {formMenu : datos.delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-agregar', with_submit: false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/inicio.js') }}"></script>
{% endblock %}