{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/inicio.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {% for flashMessage in app.session.flashbag.get('login') %}
        <span class="alert-success">
                    {{ flashMessage }}
                 </span>
    {% endfor %}

    <div class="panel panel-success" id="pnlMisAPuestas">
        <div class="panel-heading" id="pnlTitMisApuestas">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTMisApuestas">
                    {% trans %}Bets you are participating{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyMisApuestas">
            <p class="enlinea">{% trans %}You are participating in{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.apuestasParticipando|length }}</p>

            <p class="enlinea"> {% trans %}bets{% endtrans %}</p>
            <table class="table" id="tblApuestasParticipando">
                <tr>
                    <th class="th1">{% trans %}Name{% endtrans %}</th>
                    <th class="th2">{% trans %}Additional features{% endtrans %}</th>
                    <th class="th2">{% trans %}Date{% endtrans %}</th>
                    <th class="th3">{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.apuestasParticipando|length > 0 %}
                    {% for participante in datos.apuestasParticipando %}
                        <tr>
                            <td>
                                {{ participante.apuestasBase.nombre }}
                            </td>
                            {% if datos.extras[participante.apuestasBase.id].valor == "1" %}
                                {% set claseColor = "gris" %}
                                {% set clasePosE = "pose1" %}
                            {% elseif datos.extras[participante.apuestasBase.id].isCompleto == true %}
                                {% set claseColor = "verde" %}
                            {% else %}
                                {% set claseColor = "rojo" %}
                            {% endif %}
                            {% if datos.extras[participante.apuestasBase.id].valor == "2"
                            or datos.extras[participante.apuestasBase.id].valor == "1" %}
                                {% set clasePosE = "pose1" %}
                            {% else %}
                                {% set clasePosE = "pose2" %}
                            {% endif %}
                            <td>
                                <div id="pnlExtraParticipando" class="{{ claseColor }} {{ clasePosE }}">
                                    <a class="{% if claseColor == "gris" %}disabled{% endif %} aExtra"
                                       {% if claseColor != "gris" %}href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': participante.apuestasBase.id }) }}"{% endif %} >
                                        <p> {{ datos.extras[participante.apuestasBase.id].fecha }}</p>
                                        {% if datos.extras[participante.apuestasBase.id].valor == "3" %}
                                            <p>{{ datos.extras[participante.apuestasBase.id].hora }}</p>
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                            <td>
                                {% if datos.fechasApuestas[participante.apuestasBase.id].fechaLimite == "No hay fecha" %}
                                    {% set clasepos = "pos2" %}
                                    {% set claseposP = "posP2" %}
                                    {% set claseP1 = "posPP2" %}
                                {% elseif datos.fechasApuestas[participante.apuestasBase.id].numeroFecha == "n/g" %}
                                    {% set claseP1 = "posPP1" %}
                                    {% set claseposP = "posP1" %}
                                {% else %}
                                    {% set clasepos = "pos1" %}
                                    {% set claseposP = "posP1" %}
                                    {% set claseP1 = "posPP2" %}
                                {% endif %}
                                {% if datos.fechasApuestas[participante.apuestasBase.id].isComplete == true %}
                                    {% set claseCol = "verde" %}
                                {% else %}
                                    {% set claseCol = "rojo" %}
                                {% endif %}
                                <div id="pnlFechaParticipando" class="{{ claseCol }} {{ claseposP }}">
                                    <a href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': participante.apuestasBase.id, 'numeroFecha' : datos.fechasApuestas[participante.apuestasBase.id].numFechaApu }) }}">
                                        <p id="p1"
                                           class="{{ claseP1 }}">{{ datos.fechasApuestas[participante.apuestasBase.id].numeroFecha }}</p>

                                        {% if datos.fechasApuestas[participante.apuestasBase.id].numeroFecha != "n/g" %}
                                            <p id="p2"
                                               class="{{ clasepos }}">{{ datos.fechasApuestas[participante.apuestasBase.id].fechaLimite }}</p>
                                        {% endif %}
                                        {% if datos.fechasApuestas[participante.apuestasBase.id].fechaLimite != "No hay fecha" %}
                                            <p id="p3">{{ datos.fechasApuestas[participante.apuestasBase.id].horaLimite }}</p>
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div id="pnlSpan">
                                    <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}Tournament data{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}See results{% endtrans %}"
                                      class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">{% trans %}You are not participating in any bet{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
            <div id="pnlInfo">
                <div id="pnlRojo"></div>
                <p id="pRojo">- {% trans %}Indicates that it was not completed{% endtrans %}</p>

                <div id="pnlVerde"></div>
                <p id="pVerde">- {% trans %}Indicates that it was completed{% endtrans %}</p>

                <div id="pnlGris"></div>
                <p id="pGris">- {% trans %}No extras were entered{% endtrans %}</p>

                <div id="pnlNG">n/g</div>
                <p id="pNG">- {% trans %}There are no generated dates{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-success" id="pnlTorneosEnProgreso">
        <div class="panel-heading" id="pnlTitTorneosEnProgreso">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTTorneosEnProgreso">
                    {% trans %}Tournaments created{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyTorneosEnProgreso">
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.torneosEjecucion|length }}</p>

            <p class="enlinea"> {% trans %}tournaments that are running{% endtrans %}</p>
            <table class="table" id="tblTorneosEjecucion">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Class{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.torneosEjecucion|length > 0 %}
                    {% for torneo in datos.torneosEjecucion %}
                        <tr>
                            <td>{{ torneo.nombre }}</td>
                            <td>{{ torneo.clase }}</td>
                            <td>
                                <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}Tournament data{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                {% if datos.isAdministradoresT[torneo.id] == true %}
                                    <a href="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}Update date{% endtrans %}"
                                      class="glyphicon glyphicon-edit red" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                                <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}Complete/edit results{% endtrans %}"
                                      class="glyphicon glyphicon-pencil red" aria-hidden="true"></span>
                                </a>
                                {% if datos.desempates[torneo.id] is not empty %}
                                    <a href="{{ path('trabajo_dbbundle_torneos_ver_datos_desempate',{'idTorneo' : datos.desempates[torneo.id].torneo.id }) }}">
                                <span title="{% trans %}Ver Desempate{% endtrans %}"
                                      class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}No tournaments running{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.torneosFinalizados|length }}</p>

            <p class="enlinea"> {% trans %}finished tournaments{% endtrans %}</p>
            <table class="table" id="tblTorneosFinalizados">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Class{% endtrans %}</th>
                    <th>{% trans %}Champion{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.torneosFinalizados|length > 0 %}
                    {% for torneo in datos.torneosFinalizados %}
                        <tr>
                            <td>{{ torneo.nombre }}</td>
                            <td>{{ torneo.clase }}</td>
                            <td>{{ torneo.campeon.nombre }}</td>
                            <td>
                                <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}Tournament data{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}">
                                <span title="{% trans %}See results{% endtrans %}"
                                      class="glyphicon glyphicon-pencil red" aria-hidden="true"></span>
                                </a>
                                {% if datos.desempates[torneo.id] is defined and datos.desempates[torneo.id] is not empty %}
                                    <a href="{{ path('trabajo_dbbundle_torneos_ver_datos_desempate',{'idTorneo' : datos.desempates[torneo.id].torneo.id }) }}">
                                <span title="{% trans %}Ver Desempate{% endtrans %}"
                                      class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}There are no bets to sign up{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="panel panel-info" id="pnlApuestasTodas">
        <div class="panel-heading" id="pnlTitApuestasTodas">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTApuestasTodas">
                    {% trans %}Betting in development{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyApuestasTodas">
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.apuestasInscripcion|length }}</p>

            <p class="enlinea"> {% trans %}bets that are to register{% endtrans %}</p>
            <table class="table" id="tblApuestasInscripcion">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Deadline{% endtrans %}</th>
                    <th>{% trans %}Participants{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.apuestasInscripcion|length > 0 %}
                    {% for apuesta in datos.apuestasInscripcion %}
                        <tr>
                            <td>{{ apuesta.nombre }}</td>
                            <td>
                                <div id="pnlFechaLimite" class="">
                                    <p id="p1"
                                       class="pFechaLimite1">{{ datos.fechasLimitesInscripcion[apuesta.id].fechaLimite }}</p>

                                    {% if datos.fechasApuestas[apuesta.id].fechaLimite != "No hay fecha" %}
                                        <p id="p2"
                                           class="pFechaLimite2">{{ datos.fechasApuestas[apuesta.id].horaLimite }}</p>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ datos.fechasLimitesInscripcion[apuesta.id].participantes|length }}</td>
                            <td>
                                {% if datos.fechasLimitesInscripcion[apuesta.id].isAnotarse == true %}
                                    <a href="#" class="btnSignUp" data-id="{{ apuesta.id }}">
                                <span title="{% trans %}Sign up{% endtrans %}"
                                      class="glyphicon glyphicon-plus-sign red" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                                <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}See bet{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}There are no bets to sign up{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.restoApuestasDatos.arrayComenzado|length }}</p>

            <p class="enlinea"> {% trans %}bets that are being developed{% endtrans %}</p>
            <table class="table" id="tblApuestasComenzadasNoParticipando">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Current date{% endtrans %}</th>
                    <th>{% trans %}Participants{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.restoApuestasDatos.arrayComenzado|length > 0 %}
                    {% for apuesta in datos.restoApuestasDatos.arrayComenzado %}
                        <tr>
                            <td>{{ apuesta.nombre }}</td>
                            {% if datos.restoApuestasDatos.fechaBaseActual[apuesta.id].numeroFecha is defined %}
                                <td>{{ datos.restoApuestasDatos.fechaBaseActual[apuesta.id].numeroFecha }}</td>
                            {% else %}
                                <td>n/c</td>
                            {% endif %}
                            <th>{{ datos.restoApuestasDatos.arrayParticipantes[apuesta.id]|length }}</th>
                            <td>
                                <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}See bet{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': apuesta.id }) }}">
                                    <span title="{% trans %}See results{% endtrans %}"
                                          class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}No bets developing{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="panel panel-info" id="pnlTorneosTodos">
        <div class="panel-heading" id="pnlTitTorneosTodos">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTTorneosTodos">
                    {% trans %}Finished bets{% endtrans %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyTorneosTodos">
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.apuestasFinalizadasParticipe|length }}</p>

            <p class="enlinea"> {% trans %}bets that you have participated{% endtrans %}</p>
            <table class="table" id="tblApuestasFinalizadasParticipando">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Champion{% endtrans %}</th>
                    <th>{% trans %}Participants{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.apuestasFinalizadasParticipe|length > 0 %}
                    {% for participante in datos.apuestasFinalizadasParticipe %}
                        <tr>
                            <td>{{ participante.apuestasBase.nombre }}</td>
                            <td>{{ participante.apuestasBase.campeon.username }}</td>
                            <td>{{ datos.arrayParticipante.arrayParticipantes[participante.apuestasBase.id]|length }}</td>
                            <td>
                                <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}See bet{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': participante.apuestasBase.id }) }}">
                                    <span title="{% trans %}View extras{% endtrans %}"
                                          class="glyphicon glyphicon-edit red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': participante.apuestasBase.id }) }}">
                                    <span title="{% trans %}See results{% endtrans %}"
                                          class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}There are no bets that you have participated{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
            <p class="enlinea">{% trans %}There are{% endtrans %}</p>

            <p class="enlinea fondoAP">{{ datos.restoApuestasDatos.arrayFinalizado|length }}</p>

            <p class="enlinea"> {% trans %}bets that have ended{% endtrans %}</p>
            <table class="table" id="tblApuestasFinalizadasNoParticipando">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Champion{% endtrans %}</th>
                    <th>{% trans %}Participants{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                {% if datos.restoApuestasDatos.arrayFinalizado|length > 0 %}
                    {% for apuesta in datos.restoApuestasDatos.arrayFinalizado %}
                        <tr>
                            <td>{{ apuesta.nombre }}</td>
                            <td>{{ apuesta.campeon.username }}</td>
                            <td>{{ datos.restoApuestasDatos.arrayParticipantes[apuesta.id]|length }}</td>
                            <td>
                                <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}See bet{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': apuesta.id }) }}">
                                    <span title="{% trans %}View extras{% endtrans %}"
                                          class="glyphicon glyphicon-edit red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': apuesta.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': apuesta.id }) }}">
                                    <span title="{% trans %}See results{% endtrans %}"
                                          class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}No bets finished{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {{ include('futfunBundle:ApuestasTorneo:forms/formAgregarUsuApu.html.twig',
    {formMenu : datos.delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-agregar', with_submit: false}) }}

{% endblock %}