{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/armarEliminatoria.css') }}">
{% endblock %}

{% block fechas %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_comprobarFecha',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : datos.numFechaGet - 1,
    'numeroFechaAdel' : datos.numFechaGet + 1}%}
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarArriba','editar' : '', 'clase' : 'cmbGuardarArribaSinEditar'} %}
    {{ form_start(form, {'method': 'POST','name' : 'frmCrearFechaEliminacion','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ArmarFechasTorneo:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ArmarFechasTorneo:messages/dangerEliminatoria.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    <div class="col-xs-1" id="lblnomFecha">
                        {{ form_label(form.fecha['nombreFecha']) }}
                    </div>
                    <div class="col-xs-4" id="pnlNombreFecha">
                        {{ form_widget(form.fecha['nombreFecha'],{'id' : 'txtNombreFecha',
                            'attr' : {'class' : 'form-control', 'placeholder' : 'Enter date name...'|trans}}) }}
                    </div>
                    <div class="col-xs-2" id="lblFechaInicio">
                        {{ form_label(form['fechaAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlFechaInicio">
                        {{ form_widget(form['fechaAt'],{'id' : 'txtFechaInicio',
                            'attr' : {'class' : 'form-control js-datepicker',
                                'placeholder' : 'Enter date...'|trans,'readonly' : 'true'}}) }}
                    </div>
                    <div class="col-xs-2" id="lblHoraInicio">
                        {{ form_label(form['timeAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlHoraInicio">
                        {{ form_widget(form['timeAt'],{'id' : 'txtHoraInicio',
                            'attr' : {'class' : 'form-control js-timespicker',
                                'placeholder' : 'Enter start time...'|trans,'readonly' : 'true' }}) }}
                    </div>
                </div>
            </h3>
        </div>

        <div class="panel-body" id="pnlBodyCrear1">
            {% for i in 1..datos.cantGrupos %}
                <div class="cntLoco">
                    <table class="table tableClass">
                        <tr>
                            {% for j in 1..datos.cantPartidos %}
                                <div class="panel panel-warning pnlPartido">
                                    <div class="panel-heading pnlTPartido">
                                        <h3 class="panel-title">
                                            <div class="row pnl-row pnlTituloPartido">
                                                <div class="col-xs-3 lblfechaAt">
                                                    {{ form_label(form['fechaPartidoAt' ~ i ~ j]) }}
                                                </div>
                                                <div class="col-xs-6 ">
                                                    {{ form_widget(form['fechaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                        'attr' : {'class' : 'form-control js-datepicker txtfechaAt',
                                                            'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                </div>
                                                <div class="col-xs-3 lblHoraAt">
                                                    {{ form_label(form['horaPartidoAt' ~ i ~ j]) }}
                                                </div>
                                                <div class="col-xs-6 ">
                                                    {{ form_widget(form['horaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                        'attr' : {'class' : 'form-control js-timespicker txtHoraAt',
                                                            'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                </div>
                                            </div>
                                        </h3>
                                    </div>
                                    <div class="panel-body pnlBodyCrear2">
                                        <div class="form-group pnlPartidoDentro">
                                            <label class="col-xs-1 lblNumPartido">
                                                {% if datos.finalConTercero == "2" and j == 1 %}
                                                    Tercer puesto
                                                {% elseif datos.finalConTercero == "1" and j == 1 %}
                                                    Final
                                                {% elseif datos.finalConTercero == "2" and j == 2 %}
                                                    Final
                                                {% else %}
                                                    {{ j }}
                                                {% endif %}
                                            </label>

                                            <div class="col-xs-5">
                                                {{ form_widget(form['localPartido' ~ i ~ j],
                                                {'id' : 'txtLocal' ~ i ~ j,
                                                    'attr' : {'class' : 'form-control bordeClass txtLocal', 'placeholder' : 'Enter local...'|trans,
                                                    'readonly' : 'true','onclick' : 'prueba(this)'}}) }}
                                                <span class="text-danger">{{ form_errors(form['localPartido' ~ i ~ j]) }}</span>
                                            </div>
                                            <label class="col-xs-1 lblVs">vs</label>

                                            <div class="col-xs-5">
                                                {{ form_widget(form['visitaPartido' ~ i ~ j],
                                                {'id' : 'txtVisita' ~ i ~ j,
                                                    'attr' : {'class' : 'form-control bordeClass txtVisita', 'placeholder' : 'Login visitor...'|trans,
                                                    'readonly' : 'true','onclick' : 'prueba(this)'}}) }}
                                                <span class="text-danger">{{ form_errors(form['visitaPartido' ~ i ~ j]) }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="panel panel-info pnlEquipos">
                    <!-- Default panel contents -->
                    <div class="panel-heading pnlTitEquipos">
                        <h3 class="panel-title">Equipos</h3>
                    </div>

                    <table id="tblEquipos" class="table">

                        {% set i = 0 %}

                        {% for equipo in datos.equipos %}

                            {% set i = i + 1 %}

                            <div class="pnlIntE" id="pnlEquipoGral{{ i }}" data-idclub="{{ equipo }}">
                                <input type="button" value="{{ equipo }}"
                                       onclick="ingresarEquipo('{{ equipo|e('js') }}',
                                               '{{ 1 }}',{{ datos.cantPartidos }},{{ datos.equipos|length }});"
                                       id="btnEquipoGral{{ i }}"/>
                                        <span class="glyphicon glyphicon-pencil btnModificarEquipo"
                                              aria-hidden="true"></span>
                            </div>

                        {% endfor %}

                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarAbajo','editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar' } %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_comprobarFecha',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : datos.numFechaGet - 1,
    'numeroFechaAdel' : datos.numFechaGet + 1}%}
    {{ form_end(form) }}
    {{ include('futfunBundle:ArmarFechasTorneo:forms/formCambiarNombreEquipo.html.twig',
    {formMenu : cambiarUsuario, message : 'Are you sure?'|trans, id: 'form-cambiar', with_submit: false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarEliminatoria.js') }}"></script>
{% endblock %}