{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/armarFecha.css') }}">
{% endblock %}

{% block fechas %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_comprobarFecha',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : fecha - 1,
    'numeroFechaAdel' : fecha + 1}%}
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarArriba','editar' : '', 'clase' : 'cmbGuardarArribaSinEditar'} %}
    {{ form_start(form, {'method': 'POST','name' : 'frmCrearFecha','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ArmarFechasTorneo:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ArmarFechasTorneo:messages/danger.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    <div class="col-xs-1" id="lblnomFecha">
                        {{ form_label(form.fecha['nombreFecha']) }}
                    </div>
                    <div class="col-xs-4" id="pnlNombreFecha">
                        {{ form_widget(form.fecha['nombreFecha'],{'id' : 'txtNombreFecha',
                            'attr' : {'class' : 'form-control', 'placeholder' : 'Enter date name...'|trans}}) }}
                    </div>
                    <div class="col-xs-2" id="lblFechaInicio">
                        {{ form_label(form['fechaAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlFechaInicio">
                        {{ form_widget(form['fechaAt'],{'id' : 'txtFechaInicio',
                            'attr' : {'class' : 'form-control js-datepicker',
                                'placeholder' : 'Enter date start...'|trans,'readonly' : 'true'}}) }}
                    </div>
                    <div class="col-xs-2" id="lblHoraInicio">
                        {{ form_label(form['timeAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlHoraInicio">
                        {{ form_widget(form['timeAt'],{'id' : 'txtHoraInicio',
                            'attr' : {'class' : 'form-control js-timespicker',
                                'placeholder' : 'Enter start time...'|trans,'readonly' : 'true' }}) }}
                    </div>
                </div>
            </h3>
        </div>

        <div class="panel-body" id="pnlBodyCrear1">
            {% for i in 1..datos.cantGrupos %}
                <div class="panel panel-success pnlGrupo">
                    <div class="panel-heading pnlTitGrupo">
                        <h3 class="panel-title">
                            <div class="row pnl-row pnlTituloGrupo">
                                <div class="col-xs-3 lblTituloGrupo">
                                    {{ form_label(form['grupo' ~ i]['grupo']['nombre']) }}
                                </div>
                                <div class="col-xs-4" id="pnlNombreGrupo">
                                    {{ form_widget(form['grupo' ~ i]['grupo']['nombre'],{'id' : 'txtGrupos' ~ i,
                                        'attr' : {'class' : 'form-control txtGrupos','readonly' : 'true'}}) }}
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body pnlBodyCrear2">
                        <div class="container cntLoco">
                            <table class="table tableClass">
                                <tr>
                                    {% for j in 1..datos.cantPartidos %}
                                        <div class="panel panel-warning pnlPartido">
                                            <div class="panel-heading pnlTPartido">
                                                <h3 class="panel-title">
                                                    <div class="row pnl-row pnlTituloPartido">
                                                        <div class="col-xs-3 lblfechaAt">
                                                            {{ form_label(form['fechaPartidoAt' ~ i ~ j]) }}
                                                        </div>
                                                        <div class="col-xs-6 ">
                                                            {{ form_widget(form['fechaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                                'attr' : {'class' : 'form-control js-datepicker txtfechaAt',
                                                                    'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                            <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                        </div>
                                                        <div class="col-xs-3 lblHoraAt">
                                                            {{ form_label(form['horaPartidoAt' ~ i ~ j]) }}
                                                        </div>
                                                        <div class="col-xs-6 ">
                                                            {{ form_widget(form['horaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                                'attr' : {'class' : 'form-control js-timespicker txtHoraAt',
                                                                    'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                            <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                            <div class="panel-body pnlBodyCrear3">
                                                <div class="form-group pnlPartidoDentro">
                                                    <label class="col-xs-1 lblNumPartido">{{ j }}</label>

                                                    <div class="col-xs-5">
                                                        {{ form_widget(form['localPartido' ~ i ~ j],
                                                        {'id' : 'txtLocal' ~ i ~ j,
                                                            'attr' : {'class' : 'form-control bordeClass txtLocal', 'placeholder' : 'Enter local...'|trans,
                                                            'readonly' : 'true','onclick' : 'prueba(this)'}}) }}
                                                        <span id="spnLocal"
                                                              class="text-danger">{{ form_errors(form['localPartido' ~ i ~ j]) }}</span>
                                                    </div>
                                                    <label class="col-xs-1 lblVs">vs</label>

                                                    <div class="col-xs-5">
                                                        {{ form_widget(form['visitaPartido' ~ i ~ j],
                                                        {'id' : 'txtVisita' ~ i ~ j,
                                                            'attr' : {'class' : 'form-control bordeClass txtVisita', 'placeholder' : 'Login visitor...'|trans,
                                                            'readonly' : 'true','onclick' : 'prueba(this)'}}) }}
                                                        <span id="spnVisita"
                                                              class="text-danger">{{ form_errors(form['visitaPartido' ~ i ~ j]) }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <div class="row pnl-row pnlEquipoLibre {% if not datos.isHabLibre %}ocultar{% endif %}">
                                        <div class="col-xs-2 pnlEquipoLibreLbl" id="lblEquipoLibre{{ i }}">
                                            {{ form_label(form['equipoLibre' ~ i]) }}
                                        </div>
                                        <div class="col-xs-4 pnlEquipoLibreTxt">
                                            {{ form_widget(form['equipoLibre' ~ i],{'id' : 'txtEquipoLibre' ~ i,
                                                'attr' : {'class' : 'form-control bordeClass txtEquipoLibre', 'placeholder' : 'Enter free team...'|trans,
                                                    'disabled' : not datos.isHabLibre,'readonly' : 'true',
                                                    'onclick' : 'prueba(this)'}}) }}
                                            <span class="text-danger">{{ form_errors(form['equipoLibre' ~ i]) }}</span>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                        <div class="panel panel-info pnlEquipos">
                            <!-- Default panel contents -->
                            <div class="panel-heading pnlTitEquipos">
                                <h3 class="panel-title">Equipos</h3>
                            </div>

                            <table id="tblEquipos" class="table">

                                {% for posicion in grupos[i-1] %}

                                    <div class="pnlIntE" id="pnlEquipoGral{{ posicion.id }}"
                                         data-idclub="{{ posicion.club.nombre }}">
                                        <input type="button" value="{{ posicion.club.nombre }}"
                                               onclick="ingresarEquipo('{{ posicion.club.nombre|e('js') }}',
                                                       '{{ i }}',{{ datos.cantPartidos }},{{ datos.isHabLibre }});"
                                               id="btnEquipoGral{{ posicion.id }}"/>
                                                <span class="glyphicon glyphicon-pencil btnModificarEquipo"
                                                      aria-hidden="true"></span>
                                    </div>

                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarAbajo','editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar'} %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_comprobarFecha',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : fecha - 1,
    'numeroFechaAdel' : fecha + 1}%}
    {{ form_end(form) }}
    {{ include('futfunBundle:ArmarFechasTorneo:forms/formCambiarNombreEquipo.html.twig',
    {formMenu : cambiarUsuario, message : 'Are you sure?'|trans, id: 'form-cambiar', with_submit: false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarFechas.js') }}"></script>
{% endblock %}