{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/CrearPrimeraFecha.css') }}">
{% endblock %}

{% block fechas %}
    <br />
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarArriba','editar' : '', 'clase' : 'cmbGuardarArribaSinEditar'} %}
    {{ form_start(form, {'method': 'POST','name' : 'frmPrimeraFecha',
        'attr' : {'class' : 'form-horizontal',
            'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ArmarFechasTorneo:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ArmarFechasTorneo:messages/dangerPrimera.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">
        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    <div class="col-xs-1" id="lblFecha">
                        {{ form_label(form.fecha['nombreFecha']) }}
                    </div>
                    <div class="col-xs-4">
                        {{ form_widget(form.fecha['nombreFecha'],{'id' : 'txtNomFecha',
                            'attr' : {'class' : 'form-control', 'placeholder' : 'Enter date name...'|trans}}) }}
                    </div>
                    <div class="col-xs-2" id="lblFechaInicio">
                        {{ form_label(form['fechaAt']) }}
                    </div>
                    <div class="col-xs-3">
                        {{ form_widget(form['fechaAt'],{'id' : 'txtFechaAt',
                            'attr' : {'class' : 'form-control js-datepicker', 'placeholder' : 'Enter date...'|trans,'readonly' : 'true'}}) }}
                    </div>
                    <div class="col-xs-2" id="lblHoraInicio">
                        {{ form_label(form['timeAt']) }}
                    </div>
                    <div class="col-xs-3">
                        {{ form_widget(form['timeAt'],{'id' : 'txtTimeAt',
                            'attr' : {'class' : 'form-control js-timespicker', 'placeholder' : 'Enter time...'|trans,'readonly' : 'true' }}) }}
                    </div>
                </div>
            </h3>
        </div>

        <div class="panel-body" id="pnlBodyCrear1">
            {% for i in 1..datos.cantGrupos %}
                <div class="panel panel-success pnlGrupo">
                    <div class="panel-heading pnlTitGrupo">
                        <h3 class="panel-title">
                            <div class="row pnl-row pnlTituloGrupo">
                                <div class="col-xs-3 lblTituloGrupo">
                                    {{ form_label(form['grupo' ~ i]['grupo']['nombre']) }}
                                </div>
                                <div class="col-xs-4">
                                    {{ form_widget(form['grupo' ~ i]['grupo']['nombre'],{'id' : 'txtGrupos',
                                        'attr' : {'class' : 'form-control txtTituloGrupo',
                                            'readonly' : isHabilitarGrupo, 'value' : valorGrupo}}) }}
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body pnlBodyCrear2">
                        <table class="table tableClass">
                            <tr>
                                {% for j in 1..datos.cantPartidos %}
                                    <div class="panel panel-warning pnlPartido">
                                        <div class="panel-heading pnlPartidoTit">
                                            <h3 class="panel-title">
                                                <div class="row pnl-row pnlTituloPartido">
                                                    <div class="col-xs-3 lblTituloPartido">
                                                        {{ form_label(form['fechaPartidoAt' ~ i ~ j]) }}
                                                    </div>
                                                    <div class="col-xs-6">
                                                        {{ form_widget(form['fechaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                            'attr' : {'class' : 'form-control js-datepicker txtTituloPartido', 'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                        <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                    </div>
                                                    <div class="col-xs-3 lblHoraAt">
                                                        {{ form_label(form['horaPartidoAt' ~ i ~ j]) }}
                                                    </div>
                                                    <div class="col-xs-6 ">
                                                        {{ form_widget(form['horaPartidoAt' ~ i ~ j],{'id' : 'txtFechaPartido' ~ i ~ j,
                                                            'attr' : {'class' : 'form-control js-timespicker txtHoraAt',
                                                                'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                        <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ i ~ j]) }}</span>
                                                    </div>
                                                </div>
                                            </h3>
                                        </div>
                                        <div class="panel-body pnlBodyCrear3">
                                            <div class="form-group pnlPartidoDentro">
                                                <label class="col-xs-1 lblNumPartido">{{ j }}</label>

                                                <div class="col-xs-5">
                                                    {{ form_widget(form['localPartido' ~ i ~ j],{'id' : 'txtLocal' ~ i ~ j,
                                                        'attr' : {'class' : 'form-control txtLocal', 'placeholder' : 'Enter local...'|trans}}) }}
                                                    <span class="text-danger">{{ form_errors(form['localPartido' ~ i ~ j]) }}</span>
                                                </div>
                                                <label class="col-xs-1 lblVs">vs</label>

                                                <div class="col-xs-5">
                                                    {{ form_widget(form['visitaPartido' ~ i ~ j],{'id' : 'txtVisita' ~ i ~ j,
                                                        'attr' : {'class' : 'form-control txtVisita', 'placeholder' : 'Login visitor...'|trans}}) }}
                                                    <span class="text-danger">{{ form_errors(form['visitaPartido' ~ i ~ j]) }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tr>
                            <tr>
                                <div class="row pnl-row pnlEquipoLibre {% if not datos.isHabLibre %}ocultar{% endif %}">
                                    <div class="col-xs-2 lblEquipoLibre">
                                        {{ form_label(form['equipoLibre' ~ i]) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_widget(form['equipoLibre' ~ i],{'id' : 'txtEquipoLibre' ~ i,
                                            'attr' : {'class' : 'form-control txtEquipoLibre', 'placeholder' : 'Enter free team...'|trans,'disabled' : not datos.isHabLibre}}) }}
                                        <span class="text-danger">{{ form_errors(form['equipoLibre' ~ i]) }}</span>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarAbajo','editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar'} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/primeraFecha.js') }}"></script>
{% endblock %}