{{ form_start(formMenu, {'attr' : {'id': id|default('formMenu')}}) }}

    {{ form_widget(formMenu) }}

<div id="pnlDentroModFec">
    <div class="modal-header pnlHeaderMF">
        <h4 id="exampleModalLabel1" class="exampleModalLabel">
            {% trans %}Enter new date and time{% endtrans %}
        </h4>
        <h4 id="exampleModalLabel2" class="exampleModalLabel">
            {% trans %}Enter date name{% endtrans %}
        </h4>
    </div>
    <div class="pnlMFValores" id="pnlMFValores1">
        <input type="text" class="js-datepicker" id="txtFechaInicio" name="txtFechaInicio"
               placeholder='{% trans %}Enter date...{% endtrans %}' readonly/>
        <input type="text" class="js-timespicker" id="txtHoraInicio" name="txtHoraInicio"
               placeholder='{% trans %}Enter start time...{% endtrans %}' readonly/>
        <span id="spnError1" class="glyphicon glyphicon-ok ocultar">
            <p id="pError1"></p>
        </span>
    </div>
    <div class="pnlMFValores" id="pnlMFValores2">
        <input type="text" id="txtNombreFecha" name="txtNombreFecha"
               placeholder='{% trans %}Enter date name...{% endtrans %}'/>
        <span id="spnError2" class="glyphicon glyphicon-ok ocultar">
            <p id="pError2"></p>
        </span>
    </div>
    <div class="modal-footer pnlFooterBtn" data-idf="{{ datos.fechaBase.id }}" data-lug="">
        <span class="glyphicon glyphicon-remove spnClase" aria-hidden="true"
              id="spnCancel"></span>
        <span class="glyphicon glyphicon-ok spnClase" aria-hidden="true"
              id="spnOk"></span>
    </div>
</div>

{{ form_end(formMenu) }}