<span class="text-danger">{{ form_errors(form.fecha['nombreFecha']) }}</span>
<span class="text-danger">{{ form_errors(form['fechaAt']) }}</span>
<span class="text-danger">{{ form_errors(form['timeAt']) }}</span>
{% for msg in app.session.flashBag.get('mensaje-danger') %}
    <div class="alert alert-danger" role="alert">
        <div class="container">{{ msg }}</div>
    </div>
{% endfor %}
{{ form_errors(form) }}