{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verdatosdesempate.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {{ include('futfunBundle:CrearDesempate:messages/sucess.html.twig') }}
    {{ include('futfunBundle:CrearDesempate:messages/danger.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/verdatosdesempate.js') }}"></script>
{% endblock %}