<div class="panel panel-success" id="pnlAccesoTorneo">
    <div class="panel-heading" id="pnlHeadingTituloAccesoTorneo">
        <h3 class="panel-title" id="pnlTitleAccesoTorneo">
            {% trans %}Access{% endtrans %}
        </h3>
    </div>
    <div class="panel-body" id="pnlBodyCrearAccesoTorneo">
        {% if datos.torneo is defined %}
            {% set id = datos.torneo.id %}
        {% elseif datos.apuesta is defined %}
            {% set id = datos.apuesta.id %}
        {% elseif datos.apuestaBase is defined %}
            {% set id = datos.apuestaBase.id %}
        {% elseif datos.desempateDatos is defined %}
            {% set id = datos.desempateDatos.torneo.id %}
        {% endif %}
        {{ render(controller(
        'futfunBundle:Accesos:accesos', {
            'id' : id})) }}
    </div>
</div>