<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; utf-8">
    <title>{% block title %}Apuestas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}"/>
        <link href="{{ asset('public/css/menu/basePrincipal.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/css/menu/titulo.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/css/menu/menu.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/datepicker/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/datepicker/jquery-ui.structure.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/datepicker/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/boostrapMenu/css/bootstrap-submenu.min.css') }}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('public/css/jquery.timepicker.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block tit %}
    {{ include('titulo.html.twig') }}
{% endblock %}
{% block nav %}
    {{ include('menu.html.twig') }}
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('public/datepicker/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('public/datepicker/jquery-ui.js') }}"></script>
    <script src="{{ asset('public/js/funciones.js') }}"></script>
    <script src="{{ asset('public/js/menu/agregarParticipante.js') }}"></script>
    <script src="{{ asset('public/boostrapMenu/js/bootstrap-submenu.min.js') }}" defer></script>
    <script src="{{ asset('public/js/jquery.timepicker.min.js') }}"></script>
    <script src="{{ asset('public/datepicker/bootstrap-datepicker.XX.js') }}" charset="UTF-8"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "DD, MM d, yy",
                showAnim: "clip"
            });


            $('.js-timespicker').timepicker({'scrollDefault': 'now'});
            $('[data-submenu]').submenupicker();
            $('#mdlAccAPuesta').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })
        });

    </script>
{% endblock %}
</body>
</html>