{% set ususarioApuesta = "" %}
{% set desempate = "" %}
{% if datos.nombreTorneoLugar=="armarEliminacion" %}
    {% if datos.numFechaGet=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if datos.numFechaGet==datos.ultimaFechaIda %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
{% elseif datos.nombreTorneoLugar=="armarFecha" %}
    {% if fecha=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if fecha>=datos.ultimaFechaIda %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
{% elseif datos.nombreTorneoLugar=="CompletarResultadoFecha" %}
    {% if datos.fechaBase.numeroFecha=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if datos.fechaBase.numeroFecha==datos.cantFechas %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
    {% if claseBoton=="arriba" %}
        {% set claseBoton1 = "dropdown" %}
    {% else %}
        {% set claseBoton1 = "dropup" %}
    {% endif %}
    {% set fechaAhora = datos.fechaBase.numeroFecha %}
{% elseif datos.nombreTorneoLugar=="CompletarResultadoApuestas" %}
    {% if datos.fechaBase.numeroFecha=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if datos.isUltimaFecha==true %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
    {% if claseBoton=="arriba" %}
        {% set claseBoton1 = "dropdown" %}
    {% else %}
        {% set claseBoton1 = "dropup" %}
    {% endif %}
    {% set fechaAhora = datos.fechaBase.numeroFecha %}
    {% if datos.fechaBase.grupoFechas is not defined %}
        {% set desempate = "DF-" %}
    {% else %}
        {% set desempate = "" %}
    {% endif %}
{% elseif datos.nombreTorneoLugar=="verResultadoApuestas" %}
    {% if datos.fechaBase.numeroFecha=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if datos.fechaBase.numeroFecha==datos.cantFechas %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
    {% if claseBoton=="arriba" %}
        {% set claseBoton1 = "dropdown" %}
    {% else %}
        {% set claseBoton1 = "dropup" %}
    {% endif %}
    {% set fechaAhora = datos.fechaBase.numeroFecha %}
    {% set ususarioApuesta = "&usuario=" ~ datos.usuarioDeLaApuesta.username %}
{% elseif datos.nombreTorneoLugar=="crearfechadesempate" %}
    {% if fechaGet=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if fechaGet>=datos.ultimaFechaIda %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
{% elseif datos.nombreTorneoLugar=="CompletarResultadoDesempate" %}
    {% if datos.fechaDesempate.numeroFecha=="1" %}
        {% set habilitarPrevius = "true" %}
    {% else %}
        {% set habilitarPrevius = "false" %}
    {% endif %}
    {% if datos.fechaDesempate.numeroFecha==datos.cantFechas %}
        {% set habilitarNext = "true" %}
    {% else %}
        {% set habilitarNext = "false" %}
    {% endif %}
    {% if claseBoton=="arriba" %}
        {% set claseBoton1 = "dropdown" %}
    {% else %}
        {% set claseBoton1 = "dropup" %}
    {% endif %}
    {% set fechaAhora = datos.fechaDesempate.numeroFecha %}
{% endif %}

<nav aria-label="Page navigation" id="pnlFechasCorridas">
    <ul class="pager">
        <li id="liAtras" class="previous{% if habilitarPrevius=="true" %} disabled {% endif %}"><a
                    href="{{ path(pathDireccion) }}?{{ atributoTorneo }}={{ idTorneo }}&numeroFecha={{ numeroFechaAtras }}{{ ususarioApuesta }}&direccion=atras">
                <span aria-hidden="true">&larr;</span> Anterior</a></li>
        <li class="next{% if habilitarNext=="true" %} disabled {% endif %}"><a
                    href="{{ path(pathDireccion) }}?{{ atributoTorneo }}={{ idTorneo }}&numeroFecha={{ numeroFechaAdel }}{{ ususarioApuesta }}&direccion=adel">
                Siguiente<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
{% if datos.nombreTorneoLugar=="CompletarResultadoFecha"
or datos.nombreTorneoLugar=="CompletarResultadoApuestas"
or datos.nombreTorneoLugar=="verResultadoApuestas" %}
    <div class="{{ claseBoton1 }} pnlIrFecha">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="false">{{ desempate }}{{ numeroFechaDato }}<span
                    class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for fechaLista in arrayFecha %}
                {% set numFechaIr = fechaLista.numeroFecha %}
                {% if datos.nombreTorneoLugar!="CompletarResultadoApuestas" %}
                    {% if fechaLista.numeroFecha==fechaAhora %}
                        {% set habilitarFechaActual  = "true" %}
                    {% else %}
                        {% set habilitarFechaActual = "false" %}
                    {% endif %}
                {% else %}
                    {% if (fechaLista.grupoFechas is defined and datos.fechaApuesta.grupoFechas is defined)
                    or  (fechaLista.grupoFechas is not defined and datos.fechaApuesta.grupoFechas is not defined) %}
                        {% if fechaLista.numeroFecha==datos.fechaApuesta.numeroFecha %}
                            {% set habilitarFechaActual = "true" %}
                        {% else %}
                            {% set habilitarFechaActual = "false" %}
                        {% endif %}
                    {% else %}
                        {% set habilitarFechaActual = "false" %}
                    {% endif %}
                    {% if fechaLista.grupoFechas is not defined %}
                        {% set desempate = "DF-" %}
                        {% set numFechaIr = datos.cantFechas + fechaLista.numeroFecha %}
                    {% else %}
                        {% set desempate = "" %}
                        {% set numFechaIr = fechaLista.numeroFecha %}
                    {% endif %}
                {% endif %}
                <li class="{% if habilitarFechaActual == "true" %} disabled {% endif %}">
                    <a href="{{ path(pathDireccion) }}?{{ atributoTorneo }}={{ idTorneo }}&numeroFecha={{ numFechaIr }}{{ ususarioApuesta }}">{{ desempate }}{{ fechaLista.numeroFecha }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endif %}