<div class="" id="pnlGuardarLYE">
    {% set habGuard = false %}
    {% if editar != "" %}
        {% if datos.nombreTorneoLugar == "CompletarResultadoFecha"
        or datos.nombreTorneoLugar == "CompletarResultadoDesempate"%}
            {% if datos.isHabEditar == true %}
                {% set titleEditar = "Solo los administradores pueden editar resultados de los torneos" %}
            {% else %}
                {% set titleEditar = "Habilita los campos para editar los resultados de los torneos" %}
            {% endif %}
            {% set habEdit = datos.isHabEditar %}
            {% set habGuard = true %}
        {% elseif datos.nombreTorneoLugar == "CompletarResultadoApuestas" %}
            {% if datos.isModificar[0] == false %}
                {% set titleEditar = "Ya no se puede completar la apuesta, el tiempo ya se agoto" %}
            {% else %}
                {% set titleEditar = "Habilita los campos para editar los resultados de las apuestas" %}
            {% endif %}
            {% set habEdit = not datos.isModificar[0] %}
            {% set habGuard = true %}
        {% elseif datos.nombreTorneoLugar == "confirmarapuesta" %}
            {% set habEdit = false %}
            {% set titleEditar = "Guarda los datos confirmados de los extras pero no finaliza el torneo" %}
        {% endif %}
        <input type="button" value="{{ datos.botonEditar }}"
               class="btn btn-primary col-xs-2" id="{{ editar }}"
                {% if habEdit == true %} disabled {% endif %}
               title="{{ titleEditar }}"/>
    {% endif %}


    <input type="button" value="{{ datos.botonGuardar }}"
           class="btn btn-primary {{ clase }}" id="{{ id }}" {% if habGuard == true %} disabled {% endif %}/>
</div>