{% extends 'basePrincipal.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/menu/baseFechas.css') }}" type="text/css">
{% endblock %}

{% block body %}
    {% if datos.nombreTorneoLugar == "armarEliminacion"
    or datos.nombreTorneoLugar == "armarFecha"
    or datos.nombreTorneoLugar == "tablatorneo"
    or datos.nombreTorneoLugar == "CompletarResultadoFecha"
    or datos.nombreTorneoLugar == "datostorneo"
    or datos.nombreTorneoLugar == "tabladesempate" %}
        <div id="pnlTituloTorneo">
            <label id="lblTipoTorneoNombre">{% trans %}Tournament:{% endtrans %}</label>
            <label id="h1TitTorneo">{{ datos.torneo.nombre }}</label>
        </div>
        <br/>
    {% elseif datos.nombreTorneoLugar == "apuesta"
    or datos.nombreTorneoLugar == "datosapuesta"
    or datos.nombreTorneoLugar == "confirmarapuesta"
    or datos.nombreTorneoLugar == "tablaapuestas"
    or datos.nombreTorneoLugar == "CompletarResultadoApuestas"
    or datos.nombreTorneoLugar == "verResultadoApuestas" %}
        <div id="pnlTituloTorneo">
            <label id="lblTipoTorneoNombre">{% trans %}Tournament:{% endtrans %}</label>
            <label id="h1TitTorneo">{{ datos.apuesta.nombre }}</label>
            <label id="lblTitTorneoA">{% trans %}Reference tournament:{% endtrans %}</label>
            <label id="lblTitTorneoB">{{ datos.apuesta.torneo.nombre }}</label>
        </div>
        <br/>
    {% elseif datos.nombreTorneoLugar == "crearDesempate"
    or datos.nombreTorneoLugar == "crearfechadesempate"
    or datos.nombreTorneoLugar == "CompletarResultadoDesempate"
    or datos.nombreTorneoLugar == "verdatosDesempate" %}
        <div id="pnlTituloTorneo">
            <label id="lblTipoTorneoNombre">{% trans %}Tournament:{% endtrans %}</label>
            <label id="h1TitTorneo">{{ datos.desempateDatos.torneo.nombre }}</label>
        </div>
        <br/>
    {% endif %}
    {% if datos.torneo is defined or  datos.apuesta is defined
    or datos.apuestaBase is defined or datos.desempateDatos is defined %}
        {% include 'accesoTorneo.html.twig' %}
    {% endif %}
    <div class="panel panel-primary" id="pnlPrimary" name="pnlPrimary">
        <div class="panel-heading" id="pnlHeadingTitulo">
            <h3 class="panel-title" id="pnlTitle">{{ datos.titulo }}</h3>
            {% if datos.subtitulo is defined %}
                <h4 id="pnlSubTitle">{{ datos.subtitulo }}</h4>
            {% endif %}
        </div>
        <div class="panel-body" id="pnlBodyCrear" name="pnlBodyCrear">
            {% block fechas %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/menu/baseFechas.js') }}"></script>
{% endblock %}