<ul class="nav navbar-nav navbar-right" id="ulUsuarioALoguearse">
		<a href="{{ path('login') }}" id="iniciarSesion" class="btn btn-primary navbar-btn" role="button">
			Iniciar sesion
		</a>
		<a href="{{ path('trabajo_dbbundle_user_registrarse') }}" id="registrarse" class="btn btn-primary navbar-btn"
		   role="button">
			Registrarse
		</a>
</ul>


