<ul class="nav navbar-nav navbar-right" id="ulUsuarioLogueado">
    <div class="dropdown" id="usuarioLogueado">
        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                id="btnTitulo">
            {{ app.user.username }}
            <span class="badge" id="bdgTitulo">
                {{ render(controller(
                'futfunBundle:Mensajes:mostrarMensajesNuevos')) }}
            </span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" id="ddnLogueo">
            <li>
                <a href="{{ path('trabajo_dbbundle_perfil_usuario') }}">
                    Perfil
                    <span class="glyphicon glyphicon-user" aria-hidden="true" id="icoPerfil"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('mensajes') }}?bm=r">
                    Mensajes
                    <span class="badge" id="spnMensaje">
                        {{ render(controller(
                        'futfunBundle:Mensajes:mostrarMensajesNuevos')) }}
                    </span>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" id="icoMensaje"></span>
                </a>
            </li>
            <li>
                <a href="{{ asset('logout') }}">
                    Cerrar sesion
                    <span class="glyphicon glyphicon-off" aria-hidden="true" id="icoCerrarSesion"></span>
                </a>
            </li>
        </ul>
    </div>
</ul>