<nav class="navbar navbar-inverse" id="pnltituloLoco">
    <div class="container-fluid pnlAdentro">
        <div class="collapse navbar-collapse" id="pnlCollapse">
            <ul class="nav navbar-nav ulContenedor">
                <li class="dropdown liTorneos">
                    <a tabindex="0" data-toggle="dropdown" href="#" data-submenu id="aTorneos">
                        Torneos<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu ulFondo" id="ulFondo1">
                        {{ render(controller(
                        'futfunBundle:TorneosOficiales:devolverTorneos')) }}
                    </ul>
                </li>
                <li class="dropdown liApuestas">
                    <a tabindex="0" data-toggle="dropdown" href="#" data-submenu id="aApuestas">
                        Apuestas<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu ulFondo" id="ulFondo2">
                        {{ render(controller(
                        'futfunBundle:ApuestasMenu:devolverApuestas')) }}
                    </ul>
                </li>
            </ul>
            <div id="pnlLogueo">
                {% if (app.user != null) %}
                    {{ include('logueado.html.twig') }}
                {% else %}
                    {{ include('loguearse.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

</nav>

<div id="pnlAccesoPizarraMsg">
    {% trans %}Message board{% endtrans %}
</div>
<div id="pnlPizarraMsg" class="ocultar" data-mostrarmas="15">
    {{ render(controller(
    'futfunBundle:PizarraMensajes:mostrarMensajes')) }}
</div>