{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/crearTorneo.css') }}" type="text/css">
{% endblock %}

{% block fechas %}
    {{ form_start(form,{'attr' : {'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ form_errors(form) }}
    <div class="row pnl-row" id="pnl1FilaArriba">
        <div class="col-xs-2" id="lblNombreTorneo">
            {{ form_label(form.nombre) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.nombre,{'id' : 'txtNombreTorneo','attr' : {'class' : 'form-control',
                'placeholder' : 'Enter name...'|trans}}) }}
            <span class="text-danger">{{ form_errors(form.nombre) }}</span>
        </div>
    </div>
    <div class="row pnl-row" id="pnlCantYTipo">
        <div class="col-xs-2" id="lblCantEquipos">
            {{ form_label(form.dato.cantEquipos) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.dato.cantEquipos,{'id' : 'txtCantEquipos' , 'attr' : {'class' : 'form-control',
                'placeholder' : 'Enter teams...'|trans}}) }}
            <span class="text-danger">{{ form_errors(form.dato.cantEquipos) }}</span>
        </div>
        <div class="col-xs-2" id="lblTipoTorneo">
            {{ form_label(form.tipoTorneo) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.tipoTorneo,{'id' : 'cmbTipoTorneo','attr' : {'class' : 'form-control',
                'placeholder' : 'Enter Type...'|trans}}) }}
            <span class="text-danger">{{ form_errors(form.tipoTorneo) }}</span>
        </div>
    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-success" id="pnlSuperiorLiga">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title" id="h4Liga">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       href="#collapseOne" id="aLiga"
                       aria-expanded="false" aria-controls="collapseOne">
                        <label>Liga</label><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
                                                 id="spnLiga"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body" id="pnlLigaAdentro">
                    <div class="row pnl-row" id="pnl1filaLiga">
                        <div class="col-xs-2" id="lblFormaLiga">
                            {{ form_label(form.dato.formaGrupo) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.dato.formaGrupo,{'id' : 'cmbFormaLiga',
                                'attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.formaGrupo) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblVueltaGrupo">
                            {{ form_label(form.dato.vueltaGrupo) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.dato.vueltaGrupo,{'id' : 'cmbVueltaGrupo',
                                'attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.vueltaGrupo) }}</span>
                        </div>
                    </div>
                    <div class="row pnl-row" id="pnl2filaLiga">
                        <div class="col-xs-3" id="lblFechasAdic">
                            {{ form_label(form.dato.fechasAdic) }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_widget(form.dato.fechasAdic,{'id' : 'cmbFechasAdic',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Enter additional dates...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.fechasAdic) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblpartDesem">
                            {{ form_label(form.dato.partidoDesempate) }}
                        </div>
                        <div class="col-xs-3" id="pnlPartidoDes">
                            {{ form_widget(form.dato.partidoDesempate,{'id' : 'chcpartDesem', 'name' : 'chcpartDesem',
                                'attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.partidoDesempate) }}</span>
                        </div>
                    </div>
                    <div class="panel panel-info" id="pnlPuntos">
                        <div class="panel-heading" id="pnlHeadingPuntos">
                            <h3 class="panel-title" id="pnlTitlePuntos">
                                {% trans %}Puntos por:{% endtrans %}
                            </h3>
                        </div>
                        <div class="panel-body" id="pnlBodyCrearPuntos">
                            <div class="row contPuntos">
                                <div class="col-xs-2" id="lblPxG">
                                    {{ form_label(form.dato.puntosPartGanados) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_widget(form.dato.puntosPartGanados,{'id' : 'txtPxG', 'value' : '3',
                                        'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                                    <span class="text-danger">{{ form_errors(form.dato.puntosPartGanados) }}</span>
                                </div>
                                <div class="col-xs-2" id="lblPxE">
                                    {{ form_label(form.dato.puntosPartEmpatados) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_widget(form.dato.puntosPartEmpatados,{'id' : 'txtPxE','value' : '1',
                                        'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                                    <span class="text-danger">{{ form_errors(form.dato.puntosPartEmpatados) }}</span>
                                </div>
                                <div class="col-xs-2" id="lblPxP">
                                    {{ form_label(form.dato.puntosPartPerdidos) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_widget(form.dato.puntosPartPerdidos,{'id' : 'txtPxP','value' : '0',
                                        'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                                    <span class="text-danger">{{ form_errors(form.dato.puntosPartPerdidos) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" id="pnlSuperiorLigaExtra">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title" id="h4LigaExtra">
                    <a class="collapsed" id="aLigaExtra" role="button" data-toggle="collapse"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <label>Liga extra</label>
                                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
                                      id="spnLigaExtra"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapsing" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body" id="pnlLigaExtraAdentro">
                    <div class="row pnl-row" id="pnl1filaLigExtra">
                        <div class="col-xs-3" id="lblCantGrupos">
                            {{ form_label(form.dato.cantGrupos) }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_widget(form.dato.cantGrupos,{'id' : 'txtCantGrupos','attr' : {'class' : 'form-control',
                                'placeholder' : 'Enter number of groups...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.cantGrupos) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblEquipGrupos">
                            {{ form_label(form.dato.equipGrupos) }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_widget(form.dato.equipGrupos,{'id' : 'txtEquipGrupos',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Enter group return...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.equipGrupos) }}</span>
                        </div>
                    </div>

                    <div class="row pnl-row" id="pnl2filaLigExtra">
                        <div class="col-xs-3" id="lblClasPorGrupo">
                            {{ form_label(form.dato.clasPorGrupo) }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_widget(form.dato.clasPorGrupo,{'id' : 'txtClasPorGrupo',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Enter the classifieds...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.clasPorGrupo) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblClasAdic">
                            {{ form_label(form.dato.clasAdic) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.dato.clasAdic,{'id' : 'txtClasAdic','attr' : {'class' : 'form-control',
                                'placeholder' : 'Enter additional classifieds...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.clasAdic) }}</span>
                        </div>
                    </div>
                    <div class="row pnl-row" id="pnl3filaLigExtra">
                        <div class="col-xs-3" id="lblTipoClasif">
                            {{ form_label(form.dato.tipoClasificacion) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.dato.tipoClasificacion,{'id' : 'cmbTipoClasif',
                                'attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.tipoClasificacion) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" id="pnlSuperiorEliminacion">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title" id="h4Eliminacion">
                    <a class="collapsed" id="aEliminacion" role="button" data-toggle="collapse"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <label>Eliminacion</label>
                                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
                                      id="spnEliminacion"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapsing" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body" id="pnlEliminacionAdentro">
                    <div class="row pnl-row" id="pnl1filaEliminacion">
                        <div class="col-xs-3" id="lblComienzo">
                            {{ form_label(form.dato.comienzoElim) }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_widget(form.dato.comienzoElim,{'id' : 'cmbComienzo','attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.comienzoElim) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblFormaElim">
                            {{ form_label(form.dato.formaElim) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.dato.formaElim,{'id' : 'cmbFormaElim','attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.formaElim) }}</span>
                        </div>
                    </div>
                    <div class="row pnl-row" id="pnl2filaEliminacion">
                        <div class="col-xs-3" id="lblTercerPuesto">
                            {{ form_label(form.dato.partTercerPuesto) }}
                        </div>
                        <div class="col-xs-3 border-none">
                            {{ form_widget(form.dato.partTercerPuesto,{'id' : 'chcTercerPuesto','attr' : {'class' : 'form-control border-none'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.partTercerPuesto) }}</span>
                        </div>
                        <div class="col-xs-3" id="lblFormaFinal">
                            {{ form_label(form.dato.formaFinal) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.dato.formaFinal,{'id' : 'cmbFormaFinal','attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.formaFinal) }}</span>
                        </div>
                    </div>
                    <div class="row pnl-row" id="pnl3filaEliminacion">
                        <div class="col-xs-2" id="lblGolVisita">
                            {{ form_label(form.dato.golVisitante) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.dato.golVisitante,{'id' : 'chcGolVisita',
                                'attr' : {'class' : 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(form.dato.golVisitante) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar' } %}

    <div class="row pnl-row" style="display: none" id="btnGuardarOculto">

        {{ form_widget(form.save,{'id' : 'btnGuardar' ,'attr' : {'class' : 'btn btn-success col-xs-1'}}) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/crearTorneo.js') }}"></script>
{% endblock %}