{{ form_start(formMenu, {'attr' : {'id': id|default('formMenu')}}) }}

    {{ form_widget(formMenu) }}

    {% if with_submit is not defined or with_submit == true %}
        <input class="btn btn-lg btn-block btn-danger"
               type="button" value="{{ 'Sign up'|trans }}"
               onclick="confirmAgregar()"/>
    {% endif %}

{{ form_end(formMenu) }}

<script>
    var message = '{{ message }}';

    function confirmAgregar() {

        console.log("entro lala");

    }
</script>