{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verFechasApuestas.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_apuestas_completar_fecha_apuesta',
    'atributoTorneo' : "idApuesta", 'idTorneo' : datos.apuesta.id,
    'numeroFechaAtras' : datos.fechaBase.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaBase.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "arriba"} %}
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarArriba',
    'editar' : 'cmbEditarArriba', 'clase' : 'cmbGuardarArribaConEditar'} %}

    {{ form_start(form, {'method': 'POST','name' : 'frmResultadosApuestas','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ApuestasFechas:messages/warning.html.twig') }}
    {{ include('futfunBundle:ApuestasFechas:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasFechas:messages/danger.html.twig') }}
    <br/>
    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    {% if datos.fechaBase.grupoFechas is defined %}
                        {% set valorFechaNombre = "Fecha" %}
                    {% else %}
                        {% set valorFechaNombre = "Desempate fecha" %}
                    {% endif %}
                    {{ valorFechaNombre }} {{ datos.fechaBase.nombreFecha }} - Fecha Limite
                    {% if datos.arrayFechas[0] is not empty %}
                        {{ datos.arrayFechas[0] }}
                    {% else %}
                        no hay fecha ingresada
                    {% endif %}
                </div>
            </h3>
        </div>
        {% if datos.fechaBase.grupoFechas is defined %}
            {% set grupos = datos.fechaBase.grupoFechas|length %}
        {% else %}
            {% set grupos = 1 %}
        {% endif %}
        {% set k = 0 %}
        <div class="panel-body" id="pnlBodyCrear1" data-grupos="{{ grupos }}">
            {% for i in 1..grupos %}
                <div class="panel panel-success pnlGrupo">
                    <div class="panel-heading pnlTitGrupo">
                        <h3 class="panel-title">
                            <div class="row pnl-row pnlTituloGrupo">
                                {% if datos.fechaBase.grupoFechas[i-1].grupo is defined
                                and datos.fechaBase.grupoFechas[i-1].grupo is not empty %}
                                    {% set grupoNombre = "Grupo " ~ datos.fechaBase.grupoFechas[i-1].grupo.nombre %}
                                {% else %}
                                    {% set grupoNombre = "No lleva nombre de grupo" %}
                                {% endif %}
                                {{ grupoNombre }}
                            </div>
                        </h3>
                    </div>
                    {% if datos.fechaBase.grupoFechas is defined %}
                        {% set partidos = datos.fechaBase.grupoFechas[i - 1].partidoFechas %}
                    {% else %}
                        {% set partidos = datos.fechaBase.desempatePartidos %}
                    {% endif %}
                    <div class="panel-body pnlBodyCrear2" id="pnlPartidos{{ i }}"
                         data-partidos="{{ partidos|length }}">
                        <table class="table tableClass">
                            <tr>
                                {% for partidoFecha in partidos %}
                                    {% set k = k + 1 %}
                                    <div class="panel panel-warning pnlPartidosGrupo">
                                        <div class="panel-heading pnlPartidosFechaTit">
                                            <div class="row pnl-row pnlPartidosFecha">
                                                <label class="lblPartidoFecha">
                                                    {% if datos.arrayFechas[i][partidoFecha.numeroPartido] is empty %}
                                                        No hay fecha ingresada
                                                    {% else %}
                                                        {{ datos.arrayFechas[i][partidoFecha.numeroPartido] }}
                                                    {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="panel-body pnlBodyCrear3">
                                            <div class="row pnl-row pnlPartidoDentro">
                                                <label class="col-md-1 lblNumPartidoDentro">
                                                    {{ partidoFecha.numeroPartido }}
                                                </label>

                                                <div class="col-sm-3 lblLocalPartidoDentro">
                                                    <label>{{ partidoFecha.local.nombre }}</label>
                                                </div>
                                                <div class="col-md-1"
                                                     id="pnlHabilitar{{ i }}{{ partidoFecha.numeroPartido }}"
                                                     data-habilitar="{{ datos.isModificar[i][partidoFecha.numeroPartido] }}">
                                                    {{ form_widget(form['apuestaValor' ~ k]['resultadoLocal'],
                                                    {'id' : 'txtResultadoLocal' ~ k,
                                                        'attr' : {'class' : 'form-control txtLocalResultado', 'readonly' : true}}) }}
                                                    {% for msg in app.session.flashBag.get('apuestaValor' ~ k) %}
                                                        <div class="alert-danger spnResLocal">{{ msg }}</div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-md-1">
                                                    {{ form_widget(form['apuestaValor' ~ k]['resultadoVisita'],
                                                    {'id' : 'txtResultadoVisita' ~ k,
                                                        'attr' : {'class' : 'form-control txtVisitaResultado', 'readonly' : true}}) }}
                                                </div>
                                                <div class="col-sm-3 lblVisitaPartidoDentro">
                                                    <label>{{ partidoFecha.visita.nombre }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% if datos.fechaBase.grupoFechas is defined %}
                                    {% if datos.fechaBase.grupoFechas[i - 1].equipoLibre is empty %}
                                        {% set hab = true %}
                                        {% set valorLibre = "No hay equipos libres" %}
                                    {% else %}
                                        {% set hab = false %}
                                        {% set valorLibre = Libre ~ datos.fechaBase.grupoFechas[i - 1].equipoLibre %}
                                    {% endif %}
                                {% else %}
                                    {% if datos.fechaBase.equipoLibre is empty %}
                                        {% set hab = true %}
                                        {% set valorLibre = "No hay equipos libres" %}
                                    {% else %}
                                        {% set hab = false %}
                                        {% set valorLibre = Libre ~ datos.fechaBase.equipoLibre %}
                                    {% endif %}
                                {% endif %}

                                <div class="col-sm-3 pnlEquipoLibre {% if hab == true %}ocultar{% endif %}">
                                    <label class="lblEquipoLibre">
                                        {{ valorLibre }}
                                    </label>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if datos.fechaBase.grupoFechas is defined %}
        {% set fecLoca = datos.fechaBase.numeroFecha %}
    {% else %}
        {% set fecLoca = datos.cantFechas + datos.fechaBase.numeroFecha %}
    {% endif %}
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : 'cmbEditarAbajo', 'clase' : 'cmbGuardarAbajoConEditar'} %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_apuestas_completar_fecha_apuesta',
    'atributoTorneo' : "idApuesta", 'idTorneo' : datos.apuesta.id,
    'numeroFechaAtras' : fecLoca - 1,
    'numeroFechaAdel' : fecLoca + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "abajo"} %}
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/verFechasApuestas.js') }}"></script>
{% endblock %}