{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/completarResultadosDesempate.css') }}" type="text/css">
{% endblock %}

{% block fechas %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_completar_resultados_desempate',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.desempateDatos.torneo.id,
    'numeroFechaAtras' : datos.fechaDesempate.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaDesempate.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaDesempate.numeroFecha,
    'arrayFecha' : datos.fechasDesempate,
    'claseBoton' : "arriba"} %}
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarArriba',
    'editar' : 'cmbEditarArriba', 'clase' : 'cmbGuardarArribaConEditar'} %}
    {{ form_start(form, {'method': 'POST','name' : 'frmResultadosDesempate',
        'attr' : {'class' : 'form-horizontal', 'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:CompletarResultadosDesempate:messages/sucess.html.twig') }}
    {{ include('futfunBundle:CompletarResultadosDesempate:messages/danger.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row">
                    Desempate fecha {{ datos.fechaDesempate.nombreFecha }} - Fecha comienzo
                    {% if datos.arrayFechas[0] is not empty %}
                        {{ datos.arrayFechas[0] }}
                    {% else %}
                        no hay fecha ingresada
                    {% endif %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyCrear1">
            <table class="table tableClass">
                <tr>
                    {% set i = 1 %}
                    {% set j = 0 %}
                    {% for partidoFecha in datos.fechaDesempate.desempatePartidos %}
                        {% set j = j + 1 %}
                        <div class="panel panel-warning pnlPartidosGrupo">
                            <div class="panel-heading pnlTitpartido">
                                <div class="row pnl-row">
                                    <label>
                                        {% if datos.arrayFechas[i][j] is empty %}
                                            No hay fecha ingresada
                                        {% else %}
                                            {{ datos.arrayFechas[i][j] }}
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="panel-body pnlBodyCrear3">
                                <div class="container pnlPartidosIndividual">
                                    {% if datos.fechaAnterior is empty %}
                                        {% set globality = "" %}
                                        {% set isGlobal = "false" %}
                                        {% set valorLocalIda = 0 %}
                                        {% set valorVisitaIda = 0 %}
                                    {% else %}
                                        {% if datos.fechaAnterior.desempatePartidos[j - 1].valorLocal is empty %}
                                            {% set globality = "" %}
                                            {% set isGlobal = "false" %}
                                            {% set valorLocalIda = 0 %}
                                            {% set valorVisitaIda = 0 %}
                                        {% else %}
                                            {% set valorLocalIda = datos.fechaAnterior.desempatePartidos[j - 1].valorLocal %}
                                            {% set valorVisitaIda = datos.fechaAnterior.desempatePartidos[j - 1].valorVisita %}
                                            {% set globality = "Global: " ~ (valorVisitaIda + partidoFecha.valorLocal) ~ " - " ~ (valorLocalIda + partidoFecha.valorVisita) %}
                                            {% set isGlobal = "true" %}

                                        {% endif %}
                                    {% endif %}
                                    <label class="col-xs-1 lblNumPartidoDentro">
                                        {{ partidoFecha.numeroPartido }}
                                    </label>

                                    <div class="col-xs-3 lblNombreLocal {% if ganador[partidoFecha.numeroPartido] == "local" %}negrita{% endif %}">
                                        {% if partidoFecha.local is empty %}
                                            {% set localNombre = datos.datosEliminacion[j - 1].tipoLocal %}
                                        {% else %}
                                            {% set localNombre = partidoFecha.local.nombre %}
                                        {% endif %}
                                        <label id="lblLocal{{ partidoFecha.numeroPartido }}">{{ localNombre }}</label>
                                    </div>
                                    <div class="col-xs-1 lblResultLocal {% if datos.definicion == false %}margenParaDisplayLeft{% endif %}">
                                        {{ form_widget(form['valorLocal' ~ partidoFecha.numeroPartido],
                                        {'id' : 'txtResultadoLocal' ~ partidoFecha.numeroPartido,
                                            'attr' : {'class' : 'form-control txtLocalRes ','readonly' : 'true',
                                            'onchange' : 'habilitarDefinicionPenales("'~ datos.definicion ~'","'~ datos.isGolVisitante ~'",
                                                                "'~ valorLocalIda ~'","'~ valorVisitaIda ~'","'~ partidoFecha.numeroPartido ~'","true")'}}) }}
                                        <span class="text-danger">{{ form_errors(form['valorLocal' ~ partidoFecha.numeroPartido]) }}</span>
                                    </div>
                                    <div class="col-xs-1 lblValorDefLocal {% if datos.definicion == false %}ocultarDisplay{% endif %}">
                                        {{ form_widget(form['valorDefinicionLocal' ~ partidoFecha.numeroPartido],
                                        {'id' : 'txtValorDefinicionLocal' ~ partidoFecha.numeroPartido,
                                            'attr' : {'class' : 'form-control txtValorDefLoc txtModificarWin','readonly' : 'true',
                                            'onchange' : 'procesarGanador("'~ false ~ '","' ~ partidoFecha.numeroPartido ~ '")'}}) }}
                                        <span class="text-danger">{{ form_errors(form['valorDefinicionLocal' ~ partidoFecha.numeroPartido]) }}</span>
                                    </div>
                                    <label class="col-xs-1 lblVs">VS</label>

                                    <div class="col-xs-1 lblValorDefVisita {% if datos.definicion == false %}ocultarDisplay{% endif %}">
                                        {{ form_widget(form['valorDefinicionVisita' ~ partidoFecha.numeroPartido],
                                        {'id' : 'txtValorDefinicionVisita' ~ partidoFecha.numeroPartido,
                                            'attr' : {'class' : 'form-control txtValorDefVis txtModificarWin','readonly' : 'true',
                                            'onchange' : 'procesarGanador("'~ false ~ '","' ~ partidoFecha.numeroPartido ~ '")'}}) }}
                                        <span class="text-danger">{{ form_errors(form['valorDefinicionVisita' ~ partidoFecha.numeroPartido]) }}</span>
                                    </div>
                                    <div class="col-xs-1 lblResultVisita {% if datos.definicion == false %}margenParaDisplayRight{% endif %}">
                                        {{ form_widget(form['valorVisita' ~ partidoFecha.numeroPartido],
                                        {'id' : 'txtResultadoVisita'~ partidoFecha.numeroPartido,
                                            'attr' : {'class' : 'form-control txtVisitaRes','readonly' : 'true',
                                            'onchange' : 'habilitarDefinicionPenales("'~ datos.definicion ~'","'~ datos.isGolVisitante ~'",
                                                                "'~ valorLocalIda ~'","'~ valorVisitaIda ~'","'~ partidoFecha.numeroPartido ~'","true")'}}) }}
                                        <span class="text-danger">{{ form_errors(form['valorVisita' ~ partidoFecha.numeroPartido]) }}</span>
                                    </div>
                                    <div class="col-xs-3 lblNombreVisita {% if ganador[partidoFecha.numeroPartido] == "visita" %}negrita{% endif %}">
                                        {% if partidoFecha.visita is empty %}
                                            {% set visitaNombre = datos.datosEliminacion[j - 1].tipoVisita %}
                                        {% else %}
                                            {% set visitaNombre = partidoFecha.visita.nombre %}
                                        {% endif %}
                                        <label id="lblVisita{{ partidoFecha.numeroPartido }}">{{ visitaNombre }}</label>
                                    </div>
                                </div>
                                <div class="container pnlResultadoGlobal {% if isGlobal == "false" %}ocultarDisplay{% endif %}"
                                     onload="habilitarDefinicionPenales({{ datos.definicion }},{{ datos.isGolVisitante }},{{ valorLocalIda }},{{ valorVisitaIda }},{{ partidoFecha.numeroPartido }},'false')">
                                    <label class="lblGlobal"
                                           id="lblGlobal{{ partidoFecha.numeroPartido }}">{{ globality }}</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tr>
                <tr>
                    <div class="col-xs-3 pnlEquipoLibre {% if datos.fechaDesempate.equipoLibre is empty %}ocultar{% endif %}">
                        <label>
                            {% if datos.fechaDesempate.equipoLibre is empty %}
                                No hay equipos libres
                            {% else %}
                                Libre {{ datos.fechaDesempate.equipoLibre.nombre }}
                            {% endif %}
                        </label>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : 'cmbEditarAbajo', 'clase' : 'cmbGuardarAbajoConEditar' } %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_completar_resultados_desempate',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.desempateDatos.torneo.id,
    'numeroFechaAtras' : datos.fechaDesempate.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaDesempate.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaDesempate.numeroFecha,
    'arrayFecha' : datos.fechasDesempate,
    'claseBoton' : "abajo"} %}
    {{ form_end(form) }}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('public/js/page/completarResultadosDesempate.js') }}"></script>
    {% endblock %}