{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/cambiarclave.css') }}">
{% endblock %}

{% block fechas %}

    {{ form_start(form, {'method': 'POST','name' : 'frmcambiarclave',
        'attr' : {'novalidate': 'novalidate',
            'role' : 'form','class':'form-horizontal'} }) }}

    {% if form.passwordActual is defined %}
        <div class="form-group" id="pnlContrasenaActual">
            <label for="inputPasswordActual" class="col-sm-2 control-label">Contrase&ntilde;a actual:</label>

            <div class="col-sm-9" id="pnlTextContrasenaActual">
                {{ form_widget(form.passwordActual, { 'attr' : {'class' : 'form-control',
                    'placeholder' : 'Ingrese clave actual...','id' : 'inputPasswordActual', 'type' : 'password',
                    'style':'font-size:20px;height:40px;'} }) }}
            </div>
            <span class="text-danger" id="spnPassActual">{{ form_errors(form.passwordActual) }}</span>
        </div>
    {% endif %}
    <div class="form-group" id="pnlContrasena">
        <label for="inputPassword1" class="col-sm-2 control-label">Contrase&ntilde;a:</label>

        <div class="col-sm-9" id="pnlTextContrasena">
            {{ form_widget(form.password.first, { 'attr' : {'class' : 'form-control',
                'placeholder' : 'Ingrese una clave...','id' : 'inputPassword1', 'type' : 'password',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
        <span class="text-danger" id="spnPass1">{{ form_errors(form.password.first) }}</span>
    </div>
    <div class="form-group" id="pnlRepetirContrasena">
        <label for="inputPassword2" class="col-sm-2 control-label" id="lblRepetirContrasena">Repetir
            Contrase&ntilde;a:</label>

        <div class="col-sm-9" id="pnlTextRepContrasena">
            {{ form_widget(form.password.second, { 'id' : 'inputPassword2', 'attr' : {'class' : 'form-control',
                'placeholder' : 'Repita la clave...','type' : 'password',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
    </div>

    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar' } %}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/cambiarclave.js') }}"></script>
{% endblock %}