{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/registrarse.css') }}">
{% endblock %}

{% block fechas %}

    {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form_start(form, {'method': 'POST','name' : 'frmregistrarse',
        'attr' : {'novalidate': 'novalidate',
            'role' : 'form','class':'form-horizontal'} }) }}

    <div class="form-group" id="pnlUsuario">
        <label for="inputUsuario" class="col-sm-2 control-label">Usuario:</label>

        <div class="col-sm-10" id="pnlTextUsuario">
            {{ form_widget(form.username, { 'attr' : {'class' : 'form-control',
                'placeholder' : 'Ingrese Usuario...', 'id' : 'inputUsuario', 'type' : 'text',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
        <span class="text-danger" id="spnUsuario">{{ form_errors(form.username) }}</span>
    </div>
    <div class="form-group" id="pnlEmail">
        <label for="inputEmail" class="col-sm-2 control-label">Email:</label>

        <div class="col-sm-10" id="pnlTextEmail">
            {{ form_widget(form.email, { 'attr' : {'class' : 'form-control',
                'placeholder' : 'Ingrese E-mail...', 'id' : 'inputEmail', 'type' : 'email',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
        <span class="text-danger" id="spnEmail">{{ form_errors(form.email) }}</span>
    </div>
    <div class="form-group" id="pnlContrasena">
        <label for="inputPassword1" class="col-sm-2 control-label">Contrase&ntilde;a:</label>

        <div class="col-sm-10" id="pnlTextContrasena">
            {{ form_widget(form.password.first, { 'attr' : {'class' : 'form-control',
                'placeholder' : 'Ingrese una clave...','id' : 'inputPassword1', 'type' : 'password',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
        <span class="text-danger" id="spnPass">{{ form_errors(form.password.first) }}</span>
    </div>
    <div class="form-group" id="pnlRepetirContrasena">
        <label for="inputPassword2" class="col-sm-2 control-label" id="lblRepetirContrasena">Repetir
            Contrase&ntilde;a:</label>

        <div class="col-sm-10" id="pnlTextRepContrasena">
            {{ form_widget(form.password.second, { 'id' : 'inputPassword2', 'attr' : {'class' : 'form-control',
                'placeholder' : 'Repita la clave...','type' : 'password',
                'style':'font-size:20px;height:40px;'} }) }}
        </div>
    </div>

    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar' } %}
    <div class="form-group ocultar" id="pnlGuardar">
        <div class="col-sm-offset-2 col-sm-10" id="btnGuardar">
            {{ form_widget(form.Guardar, {'id' : 'btnGuardarWdt','label' : 'Registrarse', 'attr' : {'class' : 'btn btn-primary',
                'type' : 'submit'} }) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/registrarse.js') }}"></script>
{% endblock %}