<div class="alert-danger">{{ form_errors(form['fechaAt']) }}</div>
{% for msg in app.session.flashBag.get('mensaje-danger') %}
    <div class="alert alert-danger" role="alert">
        <div class="container">{{ msg }}</div>
    </div>
{% endfor %}
{{ form_errors(form) }}