<select class="form-control" id="cmbAROpciones"
        data-url="{{ path('getApuestasElegidas') }}">
    <option value="reg">{% trans %}For registration{% endtrans %}</option>
    <option value="pro">{% trans %}In progress{% endtrans %}</option>
    <option value="fiy">{% trans %}Finished with participation{% endtrans %}</option>
    <option value="fin">{% trans %}Completed without participation{% endtrans %}</option>
</select>
<div class="pnlCantApuestas">
    Hay <p id="pCantApuestas">{{ datos.apuestasInscripcion|length }}</p> apuesta/s.
</div>
<select class="form-control" id="cmbARApuestasOpciones"
        data-url="{{ path('getApuestasElegidas2') }}">
    <option value="">{% trans %}Select...{% endtrans %}</option>
    {% for apuesta in datos.apuestasInscripcion %}
        <option value="{{ apuesta.id }}">{{ apuesta.nombre }}</option>
    {% endfor %}
</select>
<div id="pnlARSpan" class="ocultar">
    <a id="aAnotarse" href="#" class="btnSignUp accessos" data-id="{{ 1 }}" data-hab="false">
                                <span title="{% trans %}Sign up{% endtrans %}"
                                      class="glyphicon glyphicon-plus-sign red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': "parameter" }) }}"
       href="#" class="accessos" id="aDatos" data-hab="false">
                                <span title="{% trans %}Tournament data{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': "parameter" }) }}"
       href="#" class="accessos" id="aExtras" data-hab="false">
                <span class="glyphicon glyphicon-edit spnAccesos" aria-hidden="true"
                      title="{% trans %}See extras{% endtrans %}"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': "parameter" }) }}"
       href="#" class="accessos" id="aCompletar" data-hab="false">
                <span class="glyphicon glyphicon-pencil spnAccesos" aria-hidden="true"
                      title="{% trans %}Complete results{% endtrans %}"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': "parameter" }) }}"
       href="#" class="accessos" id="aTabla" data-hab="false">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': "parameter" }) }}"
       href="#" id="aVer" class="accessos" data-hab="false">
                                <span title="{% trans %}See results{% endtrans %}"
                                      class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
    </a>
</div>
