{% if datos.apuestasParticipando|length > 0 %}
    {% for participante in datos.apuestasParticipando %}
        {% set isExtra = false %}
        {% if datos.extras[participante.apuestasBase.id].valor == "1" %}
            {% set claseColor = "verde" %}
            {% set letraColorE = "LetraVerde" %}
        {% elseif datos.extras[participante.apuestasBase.id].isCompleto == true %}
            {% set claseColor = "verde" %}
            {% set letraColorE = "LetraVerde" %}
            {% set isExtra = true %}
        {% else %}
            {% set claseColor = "rojo" %}
            {% set letraColorE = "LetraRojo" %}
        {% endif %}
        {% set isFecha = true %}
        {% set letraColorF = "LetraVerde" %}
        {% if datos.fechasApuestas[participante.apuestasBase.id].isComplete == false %}
            {% set claseColor = "rojo" %}
            {% set letraColorF = "LetraRojo" %}
            {% set isFecha = false %}
        {% endif %}
        {% if isExtra == false and isFecha == false %}
            {% set panelAccion = "Completar extras y fecha" %}
        {% elseif isExtra == false %}
            {% set panelAccion = "Completar solo extras" %}
        {% elseif isFecha == false %}
            {% set panelAccion = "Completar solo fecha" %}
        {% else %}
            {% set panelAccion = "Todo completado" %}
        {% endif %}
        <div>
            <strong>{% trans %}Name of the bet{% endtrans %}:</strong>
            &nbsp;
            {{ participante.apuestasBase.nombre }}
        </div>
        <div class="pnlAccionesAll marginNecesario" data-extra="{{ isExtra }}">
            <strong>{% trans %}Actions to be carried out{% endtrans %}:</strong>
            &nbsp;
            {% if isExtra == false %}
                {% set direccion = 'trabajo_dbbundle_apuestas_completar_apuesta_extras' %}
                {% set gets = {'idApuesta': participante.apuestasBase.id } %}
                {% set title = 'Ir a la pagina de los extras' %}
            {% else %}
                {% set direccion = 'trabajo_dbbundle_apuestas_completar_fecha_apuesta' %}
                {% set gets = {'idApuesta': participante.apuestasBase.id, 'numeroFecha' : datos.fechasApuestas[participante.apuestasBase.id].numFechaApu } %}
                {% set title = 'Ir a la pagina de las fechas' %}
            {% endif %}
            <a class="pnlAcciones {{ claseColor }}"
               href="{{ path(direccion,gets) }}" title="{{ title }}">
                {{ panelAccion }}
            </a>
        </div>
        <div class="pnlFechaLimiteExtra fontNecesario marginNecesario">
            <strong>{% trans %}Extras deadline{% endtrans %}:</strong>
            &nbsp;
            <div class="pnlExtraLimite {{ letraColorE }}">
                {{ datos.extras[participante.apuestasBase.id].fecha }}
                &nbsp;
                {{ datos.extras[participante.apuestasBase.id].hora }}
                hs
            </div>
        </div>
        <div class="pnlFechaLimiteFecha fontNecesario marginNecesario">
            <strong>{% trans %}Limit of the current date{% endtrans %}:</strong>
            &nbsp;
            <div class="pnlExtraFecha {{ letraColorF }}">
                {{ datos.fechasApuestas[participante.apuestasBase.id].fechaLimite }}
                &nbsp;
                {{ datos.fechasApuestas[participante.apuestasBase.id].horaLimite }}
                hs
            </div>
            - Fecha {{ datos.fechasApuestas[participante.apuestasBase.id].numeroFecha }}
        </div>
        <div id="pnlSpan">
            <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}Tournament data{% endtrans %}"
                                      class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
            </a>
            <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': participante.apuestasBase.id }) }}">
                <span class="glyphicon glyphicon-edit spnAccesos" aria-hidden="true"
                      title="{% trans %}See extras{% endtrans %}"></span>
            </a>
            <a href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': participante.apuestasBase.id }) }}">
                <span class="glyphicon glyphicon-pencil spnAccesos" aria-hidden="true"
                      title="{% trans %}Complete results{% endtrans %}"></span>
            </a>
            <a class="leftM"
               href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}View positions{% endtrans %}"
                                      class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
            </a>
            <a class="leftM"
               href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': participante.apuestasBase.id }) }}">
                                <span title="{% trans %}See results{% endtrans %}"
                                      class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
            </a>
        </div>
        <hr/>
    {% endfor %}
{% else %}
    <td colspan="4">{% trans %}You are not participating in any bet{% endtrans %}</td>
{% endif %}