<select class="form-control" id="cmbTOOpciones"
        data-url="{{ path('getApuestasElegidas') }}">
    <option value="tpro">{% trans %}In progress{% endtrans %}</option>
    <option value="tfin">{% trans %}finalize{% endtrans %}</option>
</select>
<div class="pnlCantTorneos">
    Hay <p id="pCantTorneos">{{ datos.torneosEjecucion|length }}</p> torneo/s.
</div>
<select class="form-control" id="cmbTOTorneosOpciones"
        data-url="{{ path('getTorneosElegidos2') }}">
    <option value="">{% trans %}Select...{% endtrans %}</option>
    {% for torneo in datos.torneosEjecucion %}
        <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
    {% endfor %}
</select>
<div id="pnlTOSpan">
    <a data-url="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': 'parameter' }) }}"
       href="#" id="aDatosT" data-hab="false" class="accessosT">
        <span title="{% trans %}Tournament data{% endtrans %}"
              class="glyphicon glyphicon-list-alt red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': 'parameter' }) }}"
       href="#" id="aCrearT" data-hab="false" class="accessosT">
        <span title="{% trans %}Update date{% endtrans %}"
              class="glyphicon glyphicon-edit red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': 'parameter' }) }}"
       href="#" id="aTablaT" data-hab="false" class="accessosT">
        <span title="{% trans %}View positions{% endtrans %}"
              class="glyphicon glyphicon-th-list red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': 'parameter' }) }}"
       href="#" id="aCompletarT" data-hab="false" class="accessosT">
        <span title="{% trans %}Complete/edit results{% endtrans %}"
              class="glyphicon glyphicon-pencil red" aria-hidden="true"></span>
    </a>
    <a data-url="{{ path('trabajo_dbbundle_torneos_ver_datos_desempate',{'idTorneo' : 'parameter' }) }}"
       href="#" id="aDesempateT" data-hab="false" class="accessosT">
        <span title="{% trans %}Ver Desempate{% endtrans %}"
              class="glyphicon glyphicon-eye-open red" aria-hidden="true"></span>
    </a>
</div>