{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/emailrecuperarusuario.css') }}">
{% endblock %}

{% block fechas %}

    {{ include('futfunBundle:ApuestasTabla:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasTabla:messages/danger.html.twig') }}

    {{ form_start(form, {'method': 'POST',
        'name' : 'frmRecuperarXMail','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ form_errors(form) }}
    <div class="row pnl-row" id="pnl1FilaArriba">
        <div class="col-xs-2" id="lblNombreUsuario">
            {{ form_label(form.usuario) }}
        </div>
        <div class="col-xs-10">
            {{ form_widget(form.usuario,{'id' : 'txtUsuario',
                'attr' : {'class' : 'form-control',
                    'placeholder' : 'Enter name...'|trans}}) }}
            <span class="text-danger">{{ form_errors(form.usuario) }}</span>
        </div>
    </div>
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar' } %}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/emailrecuperarusuario.js') }}"></script>
{% endblock %}