{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/login.css') }}">
{% endblock %}

{% block fechas %}

    {{ include('futfunBundle:ApuestasTabla:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasTabla:messages/danger.html.twig') }}

    <form action="{{ path('login_check') }}" method="post"
          class="form-horizontal" id="frmLogin">

        {% if error %}
            <div class="text-danger">
                <p>
                    <strong>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </strong>
                </p>
            </div>
        {% endif %}
        <div class="form-group" id="pnlUsuario">
            <label for="username" class="col-sm-2 control-label" id="lblUsername">Usuario/Email: </label>

            <div class="col-sm-10" id="pnlTextUsuario">
                <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}"
                       placeholder="{% trans %}Enter User or e-mail ...{% endtrans %}"/>
            </div>
        </div>
        <div class="form-group" id="pnlContrasena">
            <label for="password" class="col-sm-2 control-label" id="lblContrasena">Contrase&ntilde;a: </label>

            <div class="col-sm-10" id="pnlTextContrasena">
                <input type="password" class="form-control" name="_password" id="password"
                       placeholder="Ingrese contrase&ntilde;a..."/>
            </div>
        </div>
        <div class="form-group" id="pnlRecordar">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label id="lblRecordar">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        {% trans %}Remember user{% endtrans %}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" id="pnlGuardar">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="btnGuardar">Login</button>
            </div>
        </div>
    </form>
    <form action="{{ path('email_recuperar_usuario') }}" method="post">
        <div class="form-group" id="pnlRecuperar">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <input id="aRecuperar" type="submit" value="Recuperar Usuario"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}