{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/textorecuperarusuario.css') }}">
{% endblock %}

{% block fechas %}

    <p id="lblTextoRU">{{ texto }}</p>

{% endblock %}