<ul class="nav nav-pills" id="pnlOpcionesPizarra">
    <li role="presentation" class="{% if btnPizarra == 'public' %}active disabled{% endif %}"
        id="liOpcionesPizarra1">
        <a id="aOpcionesPizarra1">
            {% trans %}Public{% endtrans %}
        </a>
    </li>
    {% if isHabilitarMsgApuesta.isValid == true %}
        {% if btnPizarra == 'private' %}
            {% set claseLi2 = "active disabled" %}
            {% set clasea2 = "" %}
        {% else %}
            {% set claseLi2 = "" %}
            {% set clasea2 = "grayColor" %}
        {% endif %}
    {% else %}
        {% set claseLi2 = "disabled" %}
        {% set clasea2 = "" %}
    {% endif %}
    <li role="presentation" class="{{ claseLi2 }}"
        id="liOpcionesPizarra2"
        {% if isHabilitarMsgApuesta.isValid == true %}data-ida="{{ isHabilitarMsgApuesta.id }}"{% endif %}>
        <a id="aOpcionesPizarra2" class="{{ clasea2 }}">
            {% trans %}Of the bet{% endtrans %}
        </a>
    </li>
    <span class="glyphicon glyphicon-refresh" id="spnRefrescarMsg" aria-hidden="true"></span>
    {{ include('futfunBundle:PizarraMensajes:forms/formrecargarmsg.html.twig',
    {formMenu : delete_form_ajax_2, message : 'Are you sure?'|trans, id: 'form-recargarmsg'}) }}
</ul>
<div id="mensajesPizarra" data-msg="{{ mensajesArmados }}">
    <div id='pnlMostrarMas'>
        <span id='spnMensajePM' class="{% if isMostrarMas == false %}ocultar{% endif %}">{{ 'Show more'|trans }}</span>
    </div>
    <div id="pnlmensajePizarraDnto">
    </div>
</div>
{{ include('futfunBundle:PizarraMensajes:forms/formEnviarMsg.html.twig',
{formMenu : delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-enviarmsg'}) }}