{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/armarApuestas.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {{ form_start(form, {'method': 'POST','name' : 'frmcrearapuesta','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="row" id="pnlNombreApuesta">
        <div class="col-xs-2" id="lblNombreApuesta">
            {{ form_label(form.apuesta.nombre) }}
        </div>
        <div class="col-xs-2" id="pnlTxtNombreApuesta">
            {{ form_widget(form.apuesta.nombre,{'id' : "txtNombreApuesta",'attr' : {'class' : 'form-control',
                'placeholder' : 'Enter name...'|trans}}) }}
            <span class="text-danger" id="errorNombreApuesta">{{ form_errors(form.apuesta.nombre) }}</span>
        </div>
    </div>
    <div class="row" id="pnlTorneoBase">
        <div class="col-xs-2" id="lblTorneoBase">
            {{ form_label(form.apuesta.torneo) }}
        </div>
        <div class="col-xs-2" id="pnlTxtTorneo">
            {{ form_widget(form.apuesta.torneo,{'id' : 'cmbTipoTorneo','attr' : {'class' : 'form-control',
                'placeholder' : 'Enter Type...'|trans}}) }}
            <span class="text-danger" id="errorTorneo">{{ form_errors(form.apuesta.torneo) }}</span>
        </div>
    </div>
    <div class="row" id="pnlApuestaSimbolica">
        <div class="col-xs-2" id="lblApuestaSimbolica">
            {{ form_label(form.apuesta.apuestaSimbolica) }}
        </div>
        <div class="col-xs-2" id="pnlTxtApuestaSimbolica">
            {{ form_widget(form.apuesta.apuestaSimbolica,{'id' : 'cmbApuestaSimbolica',
                'attr' : {'class' : '',"value" : "0.0"}}) }}
            <span class="text-danger"
                  id="errorApuestaSimbolica">{{ form_errors(form.apuesta.apuestaSimbolica) }}</span>
        </div>
    </div>
    <div class="row" id="pnlFechaLimite">
        <div class="col-xs-2" id="lblFechaLimite">
            {{ form_label(form.apuesta.fechaLimite) }}
        </div>
        <div class="col-xs-2" id="pnlTxtFechaLimite">
            {{ form_widget(form.apuesta.fechaLimite,{'id' : 'cmbFechaLimite',
                'attr' : {'class' : 'form-control',"value" : "0.0"}}) }}
            <span class="text-danger"
                  id="errorFechaLimite">{{ form_errors(form.apuesta.fechaLimite) }}</span>
        </div>
    </div>
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-success" id="pnlPuntosContainer">
            <div class="panel-heading" role="tab" id="headingOne1">
                <h4 class="panel-title" id="h4Puntos">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       href="#collapseOne1" id="aPuntosPor"
                       aria-expanded="false" aria-controls="collapseOne1">
                        <label id="lblPuntos">Puntos por:</label>
                                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
                                      id="spnPuntos"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne1">
                <div class="panel-body" id="pnlBodyPuntos">
                    <div class="row contPuntos">
                        <div class="col-xs-2" id="lblPxG">
                            {{ form_label(form.apuesta.puntosPartExactos) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.apuesta.puntosPartExactos,{'id' : 'txtPxG', 'value' : '3',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.apuesta.puntosPartExactos) }}</span>
                        </div>
                        <div class="col-xs-2" id="lblPxE">
                            {{ form_label(form.apuesta.puntosPartResultados) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.apuesta.puntosPartResultados,{'id' : 'txtPxE','value' : '1',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.apuesta.puntosPartResultados) }}</span>
                        </div>
                        <div class="col-xs-2" id="lblPxP">
                            {{ form_label(form.apuesta.puntosPartErrados) }}
                        </div>
                        <div class="col-xs-2">
                            {{ form_widget(form.apuesta.puntosPartErrados,{'id' : 'txtPxP','value' : '0',
                                'attr' : {'class' : 'form-control', 'placeholder' : 'Points...'|trans}}) }}
                            <span class="text-danger">{{ form_errors(form.apuesta.puntosPartErrados) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-success" id="pnlLiga">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title" id="h4Liga">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       href="#collapseOne" id="aLiga"
                       aria-expanded="false" aria-controls="collapseOne">
                        <label id="lblLiga">Extras</label>
                                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
                                      id="spnLiga"></span>

                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body" id="pnlLigabody">
                    <div class="row" id="pnlFechaInicio">
                        <div class="col-xs-2" id="lblFechaInicio">
                            {{ form_label(form.apuesta.fechaLimiteExtraAt) }}
                        </div>
                        <div class="col-xs-2" id="lblFechaInicioSelect">
                            <select id="sltFechaInicioSelect" class="form-control">
                                <option value="nada" selected>
                                    {% trans %}The start date of the base tournament{% endtrans %}
                                </option>
                                <option value="fecha">
                                    {% trans %}Date to be determined ...{% endtrans %}
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-2" id="pnlTxtFechaInicio">
                            {{ form_widget(form.apuesta.fechaLimiteExtraAt,{'id' : 'cmbFechaInicio',
                                'attr' : {'class' : 'form-control js-datepicker',
                                    'placeholder' : 'Enter date...'|trans,'readonly' : 'true', 'disabled' : 'true'}}) }}
                            <span class="text-danger"
                                  id="errorFechaInicio">{{ form_errors(form.apuesta.fechaLimiteExtraAt) }}</span>
                        </div>
                    </div>
                    <div class="row" id="pnlCompletarExtra">
                        <div class="col-xs-2" id="pnlExtra">
                            <label id="lblExtra">Extra:</label>
                            <select id="sltExtra" class="form-control">
                                <option value="" selected>Seleccione...</option>
                                <option value="gol">Goleador</option>
                                <option value="golExt">Goleador extra</option>
                                <option value="camp">Campeon</option>
                                <option value="camExt">Campeon extra</option>
                                <option value="desc">Descenso</option>
                                <option value="clasf">Clasificados del grupo</option>
                                <option value="orden">Orden de clasificados del grupo</option>
                                <option value="otros">Otros</option>
                            </select>
                        </div>
                        <div class="col-xs-2" id="pnlDetalle">
                            <label id="lblDetalle">Detalle:</label>
                            <input id="txtDetalleExtra" type="text" class="form-control"
                                   placeholder="Ingresar Detalle..." disabled>
                        </div>
                        <div class="col-xs-1" id="pnlValor">
                            <label id="lblValor">Valor:</label>
                            <input id="txtValor" type="text" class="form-control" placeholder="Puntos...">
                        </div>
                        <div class="checkbox" id="pnlIsComplete">
                            <label>
                                <input type="checkbox" id="chkIsComplete" disabled/>
                                {% trans %}It is completed{% endtrans %}
                            </label>
                        </div>
                                <textarea class="form-control txtDescripcion" rows="3" id="areaDescripcion"
                                          placeholder="Ingrese una breve Descripcion del extra..."></textarea>

                        <div class="col-xs-1" id="pnlAgregar">
                            <button id="btnAgregar" type="button" class="btn btn-success">Agregar</button>
                        </div>

                    </div>

                    <table class="table table-condensed" id="tblExtras">
                        <thead>
                        <tr id="trHead">
                            <th id="lblTitDetalle">{% trans %}Detail{% endtrans %}</th>
                            <th id="lblTitValor">{% trans %}Value{% endtrans %}</th>
                            <th id="lblIsComplete">{% trans %}It is completed{% endtrans %}</th>
                            <th id="lblDescripcion">{% trans %}Description{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 1..10 %}
                            <tr class="trBody">
                                <td>
                                    {{ form_widget(form['extra' ~ i]['detalle'],{'id' : 'txtExtra' ~ i,
                                        'attr' : {'class' : 'form-control celdaDetalle', 'readonly' : 'true'}}) }}
                                </td>
                                <td>
                                    {{ form_widget(form['extra' ~ i]['valor'],{'id' : 'txtExtraValor' ~ i,
                                        'attr' : {'class' : 'form-control celdaValor', 'readonly' : 'true'}}) }}
                                </td>
                                <td>
                                    {{ form_widget(form['isComplete' ~ i],{'id' : 'txtIsComplete' ~ i,
                                        'attr' : {'class' : 'form-control celdaIsComplete' ,'readonly' : 'true'}}) }}
                                </td>
                                <td>
                                    {{ form_widget(form['extra' ~ i]['descripcion'],{'id' : 'txtDescripcion' ~ i,
                                        'attr' : {'class' : 'form-control celdaDescripcion' ,'readonly' : 'true'}}) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : '',"clase" : "cmbGuardarAbajoSinEditar"} %}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarApuestas.js') }}"></script>
{% endblock %}