{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verFechasApuestasOtro.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    <div class="dropdown pnlParticipantes">
        <button class="btn btn-default dropdown-toggle" type="button" id="btnParticipates" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {{ datos.usuarioDeLaApuesta.username }}
            <span class="caret spanTit"></span>
        </button>
        <ul class="dropdown-menu ulParticipantes" aria-labelledby="dropdownMenu1">
            {% set i = 0 %}
            {% for participante in datos.participantes %}
                {% if i > 0 %}
                    <li role="separator" class="divider"></li>
                {% endif %}
                <li class="liParticipante">
                    <a class="aParticipante"
                       href="{{ path("trabajo_dbbundle_apuestas_ver_apuesta_otro") }}?idApuesta={{ datos.apuesta.id }}&numeroFecha={{ datos.fechaBase.numeroFecha }}&usuario={{ participante.user.username }}">{{ participante.user.username|e }}</a>
                </li>
                {% set i = 1 %}
            {% endfor %}
        </ul>
    </div>
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_apuestas_ver_apuesta_otro',
    'atributoTorneo' : "idApuesta", 'idTorneo' : datos.apuesta.id,
    'numeroFechaAtras' : datos.fechaBase.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaBase.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "arriba"} %}

    {{ include('futfunBundle:ApuestasVerFechas:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasVerFechas:messages/danger.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    Fecha {{ datos.fechaBase.nombreFecha }}
                    {% if datos.apuesta.fechaLimite == "fecha" and
                    datos.fechaBase.fechaInicioAt is not empty %}
                        - Fecha Limite de la apuesta: {{ datos.arrayFechas[0] }}
                    {% endif %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyCrear1">
            {% set i = 0 %}
            {% set ndt = false %}
            {% set sdt = false %}
            {% set sumaTotal = 0 %}
            {% for grupoFecha in datos.fechaBase.grupoFechas %}
                {% set i = i + 1 %}
                <div class="panel panel-success pnlGrupo">
                    <div class="panel-heading pnlTitGrupo">
                        <h3 class="panel-title">
                            <div class="row pnl-row pnlTituloGrupo">
                                {% if grupoFecha.grupo is not empty %}
                                    {% set grupoNombre = "Grupo " ~ grupoFecha.grupo.nombre %}
                                {% else %}
                                    {% set grupoNombre = "No lleva nombre de grupo" %}
                                {% endif %}
                                {{ grupoNombre }}
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body pnlBodyCrear2">
                        <div class="table-responsive pnlRespTabla">
                            <table class="table tableClass">

                                <tr class="trTH verdeclaro">
                                    <th class="thParticipante">Partidos</th>
                                    <th class="thResto">Resultados Reales</th>
                                    <th class="thResto">Resultados Apuesta</th>
                                    <th class="thResto">Puntos</th>
                                </tr>
                                {% set suma = 0 %}
                                {% set j = 0 %}
                                {% set ndg = false %}
                                {% set sdg = false %}
                                {% for partidoArray in datos.resultados[i].grupoDatos %}
                                    {% set j = 1 %}
                                    <tr class="trTD fondoBlanco">
                                        <td class="tdParticipante">
                                            <p class="pCenter">{{ partidoArray.partido }}</p>
                                            {% if datos.apuesta.fechaLimite == "partido" and
                                            grupoFecha.partidoFechas[j - 1].fechaPartidoAt is not empty %}
                                                <p class="pFechaLimite">Fecha limite: {{ datos.arrayFechas[i][j] }}</p>
                                            {% endif %}
                                        </td>
                                        <td class="tdResto">{{ partidoArray.real }}</td>
                                        <td class="tdResto">{{ partidoArray.apuesta }}</td>
                                        <td class="tdResto">{{ partidoArray.puntos }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <div class="row pnlTotalGrupo">
                                <label class="lblTotalGrupo">Total en el grupo:</label>
                                <label class="lblTotalGrupoDetalle fondoBlanco">
                                    {{ datos.resultados[i].sumaGrupo }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row pnlTotalFecha">
                <label class="lblTotalFecha">Total de la fecha:</label>
                <label class="lblTotalFechaDetalle fondoBlanco">
                    {{ datos.resultados[0] }}
                </label>
            </div>
        </div>
    </div>
    <p class="claseP1">n/d - {% trans %}The result is not available{% endtrans %}</p>
    <p class="claseP1">s/c - {% trans %}The result is not complete{% endtrans %}</p>
    <p class="claseP1">s/d - {% trans %}The value is undefined{% endtrans %}</p>
    <p class="claseP2">n/c - {% trans %}The result was not completed (can not be completed anymore){% endtrans %}</p>
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_apuestas_ver_apuesta_otro',
    'atributoTorneo' : "idApuesta", 'idTorneo' : datos.apuesta.id,
    'numeroFechaAtras' : datos.fechaBase.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaBase.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "abajo"} %}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('public/js/page/verFechasApuestasOtro.js') }}"></script>
    {% endblock %}