{% if torneo.estado == "En espera" and isAnotarse == true %}
    <a href="#" class="btnSignUp" data-id="{{ torneo.id }}">
        <span class="glyphicon glyphicon-plus-sign spnAccesos" aria-hidden="true"></span>
        {% trans %}Sign up{% endtrans %}
    </a>
{% endif %}
{% if lugar != "verdatosapuesta" %}
    <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': torneo.id }) }}">
        <span class="glyphicon glyphicon-list-alt spnAccesos" aria-hidden="true"></span>
        {% trans %}See bet{% endtrans %}
    </a>
{% endif %}
{% if lugar != "completarapuestaextras" and isAnotarse != true and torneo.extras|length > 0 %}
    <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': torneo.id }) }}">
        <span class="glyphicon glyphicon-edit spnAccesos" aria-hidden="true"></span>
        {% if isFechaCumplida == false %}
            {% trans %}Complete extras{% endtrans %}
        {% else %}
            {% trans %}View extras{% endtrans %}
        {% endif %}
    </a>
{% endif %}
{% if lugar != "vertabla" %}
    <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': torneo.id }) }}">
        <span class="glyphicon glyphicon-th-list spnAccesos" aria-hidden="true"></span>
        {% trans %}View positions{% endtrans %}
    </a>
{% endif %}
{% if lugar != "completarfechaapuesta" and isAnotarse != true %}
    <a href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': torneo.id }) }}">
        <span class="glyphicon glyphicon-pencil spnAccesos" aria-hidden="true"></span>
        {% trans %}Complete results{% endtrans %}
    </a>
{% endif %}
{% if lugar != "verapuestafecha" and torneo.estado != "En espera" %}
    <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': torneo.id }) }}">
        <span class="glyphicon glyphicon-eye-open spnAccesos" aria-hidden="true"></span>
        {% trans %}See results{% endtrans %}
    </a>
{% endif %}
<a href="#" id="aTitAA">
    <span class="glyphicon glyphicon-eye-open spnAccesos" aria-hidden="true"></span>
    {% trans %}See tournament{% endtrans %}
</a>
{{ include('futfunBundle:ApuestasTorneo:forms/formAgregarUsuApu.html.twig',
{formMenu : delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-agregar', with_submit: false}) }}

<div class="panel panel-info ocultar" id="pnlAccesoApuesta">
    <div class="panel-heading" id="pnlHeadingTituloAccesoApuesta">
        <h3 class="panel-title" id="pnlTitleAccesoApuesta">
            {% trans %}Choose action{% endtrans %}
            <span class="glyphicon glyphicon-remove leftMargen"
                  aria-hidden="true" id="spnClose"></span>
        </h3>
    </div>
    <div class="panel-body" id="pnlBodyAccesoApuesta">
        <div class="pnlDentro">
            <span class="glyphicon glyphicon-play spnFlecha red" aria-hidden="true"></span>

            <p class="pDentro">{{ torneo.torneo.nombre }}</p>
            <a title="{% trans %}Tournament data{% endtrans %}" class="aDentro"
               href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.torneo.id }) }}">
                <span class="glyphicon glyphicon-list-alt spnDentro red" aria-hidden="true"></span>
            </a>
            {% if isAdministrador == "true" %}
                <a title="{% trans %}Update date{% endtrans %}" class="aDentro"
                   href="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': torneo.torneo.id }) }}">
                    <span class="glyphicon glyphicon-edit spnDentro red" aria-hidden="true"></span>
                </a>
            {% endif %}
            <a title="{% trans %}View positions{% endtrans %}" class="aDentro"
               href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.torneo.id }) }}">
                <span class="glyphicon glyphicon-th-list spnDentro red" aria-hidden="true"></span>
            </a>
            <a title="{% trans %}Complete/edit results{% endtrans %}" class="aDentro"
               href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.torneo.id }) }}">
                <span class="glyphicon glyphicon-pencil spnDentro red" aria-hidden="true"></span>
            </a>
            {% if desempate is not null %}
                <a title="{% trans %}See results{% endtrans %}" class="aDentro"
                   href="{{ path('trabajo_dbbundle_torneos_crear_desempate',{'idTorneo' : desempate.torneo.id }) }}">
                    <span class="glyphicon glyphicon-eye-open spnDentro red" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
    </div>
</div>