<li>
    <a tabindex="0" href="{{ path('trabajo_dbbundle_apuestas_crear_apuestas_nueva') }}">
        {% trans %}Create new{% endtrans %}
    </a>
</li>
<li role="separator" class="divider"></li>
<li class="dropdown-submenu">
    <a tabindex="0" href="#">{% trans %}Created{% endtrans %}</a>

    <ul class="dropdown-menu ulFondo">
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}For registration{% endtrans %}</a>

            <ul class="dropdown-menu ulFondo">
                {% if apuestaEnEspera is empty %}
                    <li>{% trans %}No bets{% endtrans %}</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in apuestaEnEspera %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a tabindex="0" href="#">
                                {{ torneo.nombre }}
                            </a>
                            <ul class="dropdown-menu ulFondo" data-id="{{ torneo.id }}">
                                {% set j = 0 %}
                                {% if arrayParaLoguearse[torneo.id] == true %}
                                    <li>
                                        <a href="#" class="btnSignUp" tabindex="0">
                                            {% trans %}Sign up{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% set k = 0 %}
                                {% if not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "verdatosapuesta" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% trans %}See bet{% endtrans %}
                                        </a>
                                    </li>
                                    {% set k = 1 %}
                                {% endif %}
                                {% set l = 0 %}
                                {% if arrayParaLoguearse[torneo.id] != true and torneo.extras|length > 0 and
                                not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "completarapuestaextras" ) %}
                                    {% if j == 1 or k == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% if arrayIsFechaCumplida[torneo.id] == false %}
                                                {% trans %}Complete extras{% endtrans %}
                                            {% else %}
                                                {% trans %}View extras{% endtrans %}
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% set l = 1 %}
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "vertabla" ) %}
                                    {% if j == 1 or k == 1 or l == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': torneo.id }) }}"
                                           class="btnVerPosiciones disabled" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if arrayParaLoguearse[torneo.id] != true and
                                not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "completarfechaapuesta" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}Complete results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}Started{% endtrans %}</a>
            <ul class="dropdown-menu ulFondo">
                {% if apuestaComenzado is empty %}
                    <li>{% trans %}No bets{% endtrans %}</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in apuestaComenzado %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a tabindex="0" href="#">{{ torneo.nombre }}</a>
                            <ul class="dropdown-menu ulFondo" data-id="{{ torneo.id }}">
                                {% set j = 0 %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "verdatosapuesta" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% trans %}See bet{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% set k = 0 %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "completarapuestaextras" )
                                and arrayParaLoguearse[torneo.id] != true %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% if arrayIsFechaCumplida[torneo.id] == false %}
                                                {% trans %}Complete extras{% endtrans %}
                                            {% else %}
                                                {% trans %}View extras{% endtrans %}
                                            {% endif %}
                                        </a>
                                        {% set k = 1 %}
                                    </li>
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "vertabla" ) %}
                                    {% if j == 1 or k == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "completarfechaapuesta" )
                                and arrayParaLoguearse[torneo.id] != true %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}Complete results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id
                                and lugar["lugar"] == "verapuestafecha" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}See results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if torneo.torneo.estado == 'Finalizado' and  torneo.estado == "Comenzado" and
                                not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "confirmarextras" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuesta_confirmarextras',{'idApuesta': torneo.id }) }}"
                                           class="btnConfirmarExtras" tabindex="0">
                                            {% trans %}Confirmar Extras{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}Finished{% endtrans %}</a>
            <ul class="dropdown-menu ulFondo">
                {% if apuestaFinalizado is empty %}
                    <li>{% trans %}No bets{% endtrans %}</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in apuestaFinalizado %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a href="#">{{ torneo.nombre }}</a>
                            <ul class="dropdown-menu ulFondo" data-id="{{ torneo.id }}">
                                {% set j = 0 %}
                                {% if not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "verdatosapuesta" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% trans %}See bet{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% set k = 0 %}
                                {% if not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "completarapuestaextras" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': torneo.id }) }}"
                                           tabindex="0">
                                            {% trans %}View extras{% endtrans %}
                                        </a>
                                    </li>
                                    {% set k = 1 %}
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "vertabla" ) %}
                                    {% if j == 1 or k == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idApuesta"] == torneo.id and lugar["lugar"] == "completarfechaapuesta" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}See results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    </ul>
    {{ include('futfunBundle:ApuestasTorneo:forms/formAgregarUsuApu.html.twig',
    {formMenu : delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-agregar', with_submit: false}) }}
</li>