{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/completarApuestasExtraUsu.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    <div class="dropdown pnlParticipantes">
        <button class="btn btn-default dropdown-toggle" type="button" id="btnParticipates" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {{ datos.usuarioEntrante.username }}
            <span class="caret spanTit"></span>
        </button>
        <ul class="dropdown-menu ulParticipantes" aria-labelledby="dropdownMenu1">
            {% set i = 0 %}
            {% for participante in datos.participantes %}
                {% if i > 0 %}
                    <li role="separator" class="divider"></li>
                {% endif %}
                <li class="liParticipante">
                    <a class="aParticipante"
                       href="{{ path("trabajo_dbbundle_apuestas_completar_apuesta_extras") }}?idApuesta={{ datos.apuesta.id }}&idUsuario={{ participante.user.id }}">{{ participante.user.username|e }}</a>
                </li>
                {% set i = 1 %}
            {% endfor %}
        </ul>
    </div>

    {{ form_start(form, {'method': 'POST','name' : 'frmCompletarExtras','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ApuestasFechas:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasFechas:messages/danger.html.twig') }}
    {% if datos.isFechaCumplida == false %}
        {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarArriba',
        'editar' : '',"clase" : 'cmbGuardarArribaSinEditar'} %}
    {% endif %}
    <div class="table-responsive pnlRespTabla">
        <table id="tblExtras" class="table">
            <tr class="trTH">
                <div class="row pnl-row fondoTH">
                    <th class="txtGrandeTH fondoTH">{% trans %}Additional{% endtrans %}</th>
                    <th class="txtGrandeTH fondoTH">{% trans %}User value{% endtrans %}</th>
                    <th class="txtGrandeTH fondoTH">{% trans %}Real value{% endtrans %}</th>
                    <th class="txtChicoTH fondoTH">{% trans %}Points{% endtrans %}</th>
                    <th class="txtCorrect fondoTH">{% trans %}He hit{% endtrans %}</th>
                </div>

            </tr>
            {% set i = 0 %}
            {% for extraApuesta in datos.extrasApuesta %}
                {% set i = i + 1 %}
                <tr>
                    <div class="row pnl-row">
                        <td class="txtGrande fondoOpacity">
                            <div>
                                {{ extraApuesta.detalle }}
                            </div>
                        </td>
                        <td class="txtGrande black fondoOpacity">
                            <div>
                                {% if extraApuesta.isComplete %}
                                    {% set placeH = 'Enter value...' %}
                                    {% set clase = '' %}
                                {% else %}
                                    {% set placeH = 'It is not completed' %}
                                    {% set clase = 'noCompletar' %}
                                {% endif %}
                                {% if form['extra' ~ i]['detalle'] is defined %}
                                    {{ form_widget(form['extra' ~ i]['detalle'], {'id' : 'txtExtra' ~ i,
                                        'attr' : {'class' : 'fondoOpacity txtGrandeCaja ' ~ clase ,
                                            'disabled' : datos.isFechaCumplida or not extraApuesta.isComplete,
                                            'placeholder' : placeH|trans}}) }}
                                    <span class="text-danger">{{ form_errors(form['extra' ~ i]['detalle']) }}</span>
                                {% else %}
                                    <span class="glyphicon glyphicon-ban-circle red fondoOpacity"
                                          aria-hidden="true"></span>
                                {% endif %}
                            </div>
                        </td>
                        <td class="txtGrande">
                            <div class="fondoOpacity">
                                {% if datos.isFechaCumplida == false %}
                                    <span class="glyphicon glyphicon-ban-circle red fondoOpacity"
                                          aria-hidden="true"></span>
                                {% else %}
                                    {% if extraApuesta.valorDetalle != "" %}
                                        {{ extraApuesta.valorDetalle }}
                                    {% elseif extraApuesta.isComplete %}
                                        {% trans %}It is not defined{% endtrans %}
                                    {% else %}
                                        {% trans %}It is not completed{% endtrans %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                        <td class="txtChico fondoOpacity">
                            <div class="">
                                {% if datos.isFechaCumplida == false %}
                                    <span class="glyphicon glyphicon-ban-circle red"
                                          aria-hidden="true"></span>
                                {% else %}
                                    {{ extraApuesta.valor }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="txtCorrect fondoOpacity">
                            <div class="fondoOpacity">
                                {% if datos.isFechaCumplida == false %}
                                    <span class="glyphicon glyphicon-ban-circle red"
                                          aria-hidden="true"></span>
                                {% else %}
                                    {% if datos.apuestaExtraUsuario[i - 1].isCorrect is not defined %}
                                        <span class="glyphicon glyphicon-remove red"
                                              aria-hidden="true"></span>
                                    {% else %}
                                        {% if datos.apuestaExtraUsuario[i - 1].isCorrect == false %}
                                            <span class="glyphicon glyphicon-remove red"
                                                  aria-hidden="true"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-ok green"
                                                  aria-hidden="true"></span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </div>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if datos.isFechaCumplida == false %}
        {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
        'editar' : '',"clase" : 'cmbGuardarAbajoSinEditar'} %}
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/completarApuestasExtraUsu.js') }}"></script>
{% endblock %}