{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/confirmarApuestasExtraUsu.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarArriba',
    'editar' : 'cmbEditarArriba',"clase" : 'cmbGuardarArribaConEditar'} %}
    {{ form_start(form, {'method': 'POST','name' : 'frmConfirmarExtras','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:ApuestasExtra:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasExtra:messages/danger.html.twig') }}

    <div id="pnlTabla">
        <table>
            <tr>
                <th class="thMasGrande font16">Extra</th>
                <th class="thMasGrande font16">Real</th>
                {% for posicion in datos.participantes %}
                    <th class="thMasGrande font16">{{ posicion.user.username }}</th>
                {% endfor %}
            </tr>
            {% for i in 1..datos.extrasApuesta|length %}
                <span class="text-danger">{{ form_errors(form['valorDetalle' ~ i]) }}</span>
                <tr class="margenArriba">
                    <td class="tdDetalleExtra separar">
                        <label class="font12">
                            {{ datos.extrasApuesta[i - 1].detalle }}
                        </label>
                    </td>
                    <td class="tdValores">
                        <div class="font12 separar">
                            {% if datos.extrasApuesta[i - 1].isComplete == true %}
                                {% set detalleUsuario = false %}
                                {% set placeH = 'Enter value...' %}
                            {% else %}
                                {% set detalleUsuario = true %}
                                {% set placeH = 'It is not completed' %}
                            {% endif %}
                            {{ form_widget(form['valorDetalle' ~ i],
                            {'id' : 'txtValorDetalle' ~ i ,
                                'attr' : {'class' : 'form-control txtDetalleExtraReal',
                                'placeholder' : placeH, 'readonly' : detalleUsuario}}) }}
                        </div>
                    </td>
                    {% for j in 1..datos.apuestaExtraUsuarios|length %}
                        <td class="tdValores">
                            <div class="pnlDetalleDentro separar">
                                <label class="lblDetalleUsuario font12">
                                    {% if datos.apuestaExtraUsuarios[j - 1][i - 1].detalle is defined %}
                                        {% if datos.extrasApuesta[i - 1].isComplete == true %}
                                            {% if datos.extrasApuesta[i - 1].detalle is not empty %}
                                                {{ datos.apuestaExtraUsuarios[j - 1][i - 1].detalle }}
                                                {% set detalleUsuario = false %}
                                            {% else %}
                                                {% trans %}It is not defined{% endtrans %}
                                                {% set detalleUsuario = true %}
                                            {% endif %}
                                        {% else %}
                                            {% trans %}It is not completed{% endtrans %}
                                            {% set detalleUsuario = false %}
                                        {% endif %}
                                    {% else %}
                                        {% if datos.extrasApuesta[i - 1].isComplete == true %}
                                            {% trans %}It is not defined{% endtrans %}
                                            {% set detalleUsuario = true %}
                                        {% else %}
                                            {% trans %}It is not completed{% endtrans %}
                                            {% set detalleUsuario = false %}
                                        {% endif %}

                                    {% endif %}
                                </label>

                                <div class="pnlChkExtraUsu font12">
                                    {{ form_widget(form['extraUsu' ~ i ~ j],
                                    {'id' : 'chkExtraUsu' ~ i ~ j ,
                                        'attr' : {'class' : 'chkExtraUsu',
                                        'disabled' : detalleUsuario }}) }}
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ form_widget(form.save,{'id' : 'btnGuardar',
        'attr' : {'class' : 'btn btn-primary ocultar'}}) }}
    {{ form_widget(form.saveAndConfirm,{'id' : 'btnGuardarYConfirmar' ,
        'attr' : {'class' : 'btn btn-primary ocultar'}}) }}
    {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
    'editar' : 'cmbEditarAbajo',"clase" : 'cmbGuardarAbajoConEditar'} %}


    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/confirmarApuestasExtraUsu.js') }}"></script>
{% endblock %}