{% if torneo.isConfirm == false %}
    {% if isAdministrador == true %}
        <a href="{{ path('trabajo_dbbundle_torneos_crear_desempate',{'idTorneo' : torneo.torneo.id }) }}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            {% trans %}Create data{% endtrans %}
        </a>
    {% else %}
        <a class="disabled">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            {% trans %}Create data{% endtrans %}
        </a>
    {% endif %}
{% else %}
    {% if lugar != "verdatosdesempate" %}
        <a href="{{ path('trabajo_dbbundle_torneos_ver_datos_desempate',{'idTorneo' : torneo.torneo.id }) }}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            {% trans %}See data{% endtrans %}
        </a>
    {% endif %}
    {% if isAdministrador == "true" and lugar != "crearfechasdesempate" %}
        <a href="{{ path('trabajo_dbbundle_torneos_crear_fechas_desempate',{'idTorneo' : torneo.torneo.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            {% trans %}Create matches{% endtrans %}
        </a>
    {% endif %}
    {% if lugar != "vertabladesempate" and torneo.tipoTorneo.nombre == "Liga" %}
        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla_desempate',{'idTorneo' : torneo.torneo.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            {% trans %}View positions{% endtrans %}
        </a>
    {% endif %}
    {% if lugar != "completarresultadosdesempate" %}
        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados_desempate',{'idTorneo' : torneo.torneo.id }) }}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            {% trans %}View or modify results{% endtrans %}
        </a>
    {% endif %}
    <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.torneo.id }) }}">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        {% trans %}See tournament{% endtrans %}
    </a>
{% endif %}
