{% if desempate != null %}
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
        <a href="#" tabindex="0">{% trans %}Tie-breaker{% endtrans %}</a>
        <ul class="dropdown-menu ulFondo">
            {% if desempate.isConfirm == false %}
                {% if isAdministrador == true %}
                    <li>
                        <a href="{{ path('trabajo_dbbundle_torneos_crear_desempate',{'idTorneo' : desempate.torneo.id }) }}">
                            {% trans %}Create data{% endtrans %}
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a title="Solo el administrador puede crear el desempate">
                            {% trans %}Create data{% endtrans %}
                        </a>
                    </li>
                {% endif %}

            {% else %}
                {% set i = 0 %}
                {% if lugar != "verdatosdesempate" %}
                    <li>
                        <a href="{{ path('trabajo_dbbundle_torneos_ver_datos_desempate',{'idTorneo' : desempate.torneo.id }) }}"
                           class="btnVerPosiciones" tabindex="0">
                            {% trans %}See data{% endtrans %}
                        </a>
                    </li>
                    {% set i = 1 %}
                {% endif %}
                {% if lugar != "crearfechasdesempate" and desempate.torneo.estado == 'En progreso'
                and isAdministrador == true %}
                    {% if i == 1 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                    <li>
                        <a href="{{ path('trabajo_dbbundle_torneos_crear_fechas_desempate',{'idTorneo' : desempate.torneo.id }) }}"
                           class="btnVerFechas" tabindex="0">
                            {% trans %}Create matches{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if desempate.tipoTorneo.nombre == "Liga" and lugar != "vertabladesempate" %}
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla_desempate',{'idTorneo' : desempate.torneo.id }) }}"
                           class="btnVerFechas" tabindex="0">
                            {% trans %}View positions{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if lugar != "completarresultadosdesempate" %}
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados_desempate',{'idTorneo' : desempate.torneo.id }) }}"
                           class="btnVerFechas" tabindex="0">
                            {% if desempate.torneo.estado == 'En progreso' %}
                                {% trans %}View or modify results{% endtrans %}
                            {% else %}
                                {% trans %}See results{% endtrans %}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </li>
{% endif %}