{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/datosApuesta.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    <div class="panel panel-success" id="pnlDatosPrincipales">
        <div class="panel-heading" id="pnlHeadingTituloDatosPrincipales">
            <h3 class="panel-title" id="pnlTitleDatosPrincipales">{% trans %}See main data{% endtrans %}</h3>
        </div>
        <div class="panel-body" id="pnlBodyCrearDatosPrincipales">
            <div class="row pnl1Linea">
                <div class="container" id="pnlCreadoPor">
                    <label id="lblCreadoPor">{% trans %}Create:{% endtrans %}</label>

                    <div id="pnlCreado">
                        <label id="lblThe">{% trans %}The:{% endtrans %}</label>
                        <label id="lblCreadoEl">{{ datos.apuesta.fechaCreacionAt|date("D, M d, Y") }}</label>
                        <label id="lblBy">{% trans %}By:{% endtrans %}</label>
                        <label id="lblCreadoPorDetalle">{{ datos.apuesta.administradores[0].user.username }}</label>
                    </div>
                    <label id="lblEstado">{% trans %}State:{% endtrans %}</label>
                    <label id="lblEstadoDetalle">{{ datos.apuesta.estado }}</label>
                </div>
            </div>
            <div class="row pnl2Linea">
                <label id="lblApuestaSimbolica">{% trans %}Symbolic bet:{% endtrans %}</label>
                <label id="lblApuestaSimbolicaDetalle">{{ datos.apuesta.apuestaSimbolica }}</label>
                <label id="lblCantParticipantes">{% trans %}Amount of participants:{% endtrans %}</label>
                <label id="lblCantParticipantesDetalle">
                    {% if datos.participantes|length > 0 %}
                        {{ datos.participantes|length }}
                    {% else %}
                        No hay participantes
                    {% endif %}
                </label>
                <label id="lblCampeon">{% trans %}Winner:{% endtrans %}</label>
                <label id="lblCampeonDetalle">
                    {% if datos.apuesta.campeon is not empty %}
                        {{ datos.apuesta.campeon.username }}
                    {% else %}
                        No esta definido
                    {% endif %}
                </label>
            </div>
            <div class="row pnl3Linea">
                <label id="lblPuntosGanados">{% trans %}By exact result:{% endtrans %}</label>
                <label id="lblPuntosGanadosDetalle">{{ datos.apuesta.puntosPartExactos }}</label>
                <label id="lblPuntosEmpate">{% trans %}For only result:{% endtrans %}</label>
                <label id="lblPuntosEmpateDetalle">{{ datos.apuesta.puntosPartResultados }}</label>
                <label id="lblPuntosPerdidos">{% trans %}By failed result:{% endtrans %}</label>
                <label id="lblPuntosPerdidosDetalle">{{ datos.apuesta.puntosPartErrados }}</label>
            </div>
        </div>
    </div>
    <div class="panel panel-success" id="pnlDatosExtras">
        <div class="panel-heading" id="pnlHeadingTituloDatosExtras">
            <h3 class="panel-title" id="pnlTitleDatosExtras">
                {% trans %}See extras{% endtrans %}
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyCrearDatosExtras">
            <table class="table table-condensed" id="tblExtras">
                <thead>
                <tr id="trHead">
                    <th class="claseIzquierda" id="lblTitDetalle">{% trans %}Detail{% endtrans %}</th>
                    <th class="claseCentro" id="lblTitValor">{% trans %}Value{% endtrans %}</th>
                    <th class="claseCentro" id="lblIsComplete">{% trans %}It is completed{% endtrans %}</th>
                    <th class="claseCentro" id="lblDescripcion">{% trans %}Description{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for extra in datos.apuesta.extras %}
                    <tr class="trBody">
                        <td class="claseIzquierda">{{ extra.detalle }}</td>
                        <td class="claseCentro">{{ extra.valor }}</td>
                        <td class="claseCentro">
                            {% if extra.isComplete == 1 %}
                                SI
                            {% else %}
                                NO
                            {% endif %}
                        </td>
                        <td class="claseIzquierda">{{ extra.descripcion }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/datosApuesta.js') }}"></script>
{% endblock %}