{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verTablaTorneo.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {{ include('futfunBundle:ApuestasTabla:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasTabla:messages/danger.html.twig') }}

    {% for i in 1..datos.posiciones|length %}

        <div class="container pnlNomGrupo">
            <label class="lblNomGrupo">{{ datos.posiciones[i-1][0].grupo.nombre }}</label>
        </div>
        <div class="table-responsive pnlRespTabla">
            <table class="table tblEquipos">

                <tr class="verdeclaro">
                    <th>Equipo</th>
                    <th>Pts</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                </tr>
                {% set pos = 0 %}
                {% for posicion in datos.posiciones[i-1] %}
                    {% set pos = pos + 1 %}
                    <tr class="fondoBlanco">
                        <td class="{% if datos.torneo.campeon is not empty and datos.torneo.campeon.nombre == posicion.club.nombre %}cursiva{% endif %}">
                            <div class="posEquipo">{{ pos }}</div>
                            {% if datos.torneo.campeon is not empty and datos.torneo.campeon.nombre == posicion.club.nombre %}
                                <span id="spnEstrellitaIzq" class="glyphicon glyphicon-star"
                                      aria-hidden="true"></span>
                            {% endif %}
                            {{ posicion.club.nombre }}
                            {% if datos.torneo.campeon is not empty and datos.torneo.campeon.nombre == posicion.club.nombre %}
                                <span id="spnEstrellitaDer" class="glyphicon glyphicon-star"
                                      aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td class="tdValores">{{ posicion.puntos }}</td>
                        <td class="tdValores">{{ posicion.pg + posicion.pe + posicion.pp }}</td>
                        <td class="tdValores">{{ posicion.pg }}</td>
                        <td class="tdValores">{{ posicion.pe }}</td>
                        <td class="tdValores">{{ posicion.pp }}</td>
                        <td class="tdValores">{{ posicion.gf }}</td>
                        <td class="tdValores">{{ posicion.gc }}</td>
                        <td class="tdValores">{{ posicion.dg }}</td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarApuestas.js') }}"></script>
{% endblock %}