{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/crearfechasdesempate.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {% if datos.fecha.numeroFecha is defined %}
        {% set fechaGet = datos.fecha.numeroFecha %}
    {% else %}
        {% set fechaGet = datos.fecha %}
    {% endif %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_crear_fechas_desempate',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.desempateDatos.torneo.id,
    'numeroFechaAtras' : fechaGet - 1,
    'numeroFechaAdel' : fechaGet + 1} %}
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarArriba','editar' : '', 'clase' : 'cmbGuardarArribaSinEditar'} %}

    {{ form_start(form, {'method': 'POST','name' : 'frmCrearFecha','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:CrearFechasDesempate:messages/sucess.html.twig') }}
    {{ include('futfunBundle:CrearFechasDesempate:messages/danger.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row pnlTFecha">
                    <div class="col-xs-1" id="lblnomFecha">
                        {{ form_label(form.fecha['nombreFecha']) }}
                    </div>
                    <div class="col-xs-4" id="pnlNombreFecha">
                        {{ form_widget(form.fecha['nombreFecha'],{'id' : 'txtNombreFecha',
                            'attr' : {'class' : 'form-control', 'placeholder' : 'Enter date name...'|trans}}) }}
                    </div>
                    <div class="col-xs-2" id="lblFechaInicio">
                        {{ form_label(form['fechaAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlFechaInicio">
                        {{ form_widget(form['fechaAt'],{'id' : 'txtFechaInicio',
                            'attr' : {'class' : 'form-control js-datepicker',
                                'placeholder' : 'Enter date start...'|trans,'readonly' : 'true'}}) }}
                    </div>
                    <div class="col-xs-2" id="lblHoraInicio">
                        {{ form_label(form['timeAt']) }}
                    </div>
                    <div class="col-xs-3" id="pnlHoraInicio">
                        {{ form_widget(form['timeAt'],{'id' : 'txtHoraInicio',
                            'attr' : {'class' : 'form-control js-timespicker',
                                'placeholder' : 'Enter start time...'|trans,'readonly' : 'true' }}) }}
                    </div>
                </div>
            </h3>
        </div>

        <div class="panel-body" id="pnlBodyCrear1">
            <div class="container cntLoco">
                <table class="table tableClass">
                    <tr>
                        {% for j in 1..datos.cantPartidos %}
                            <div class="panel panel-warning pnlPartido">
                                <div class="panel-heading pnlTPartido">
                                    <h3 class="panel-title">
                                        <div class="row pnl-row pnlTituloPartido">
                                            <div class="col-xs-3 lblfechaAt">
                                                {{ form_label(form['fechaPartidoAt' ~ j]) }}
                                            </div>
                                            <div class="col-xs-6 ">
                                                {{ form_widget(form['fechaPartidoAt' ~ j],{'id' : 'txtFechaPartido' ~ j,
                                                    'attr' : {'class' : 'form-control js-datepicker txtfechaAt',
                                                        'placeholder' : 'Enter date match...'|trans,'readonly' : 'true'}}) }}
                                                <span class="text-danger">{{ form_errors(form['fechaPartidoAt' ~ j]) }}</span>
                                            </div>
                                        </div>
                                    </h3>
                                </div>
                                <div class="panel-body pnlBodyCrear3">
                                    <div class="form-group pnlPartidoDentro">
                                        <label class="col-xs-1 lblNumPartido">{{ j }}</label>

                                        <div class="col-xs-5">
                                            {{ form_widget(form['localPartido' ~ j],
                                            {'id' : 'txtLocal'  ~ j,
                                                'attr' : {'class' : 'form-control bordeClass txtLocal', 'placeholder' : 'Enter local...'|trans,
                                                'readonly' : 'true','onclick' : 'cambiarBorde(this)'}}) }}
                                            <span id="spnLocal"
                                                  class="text-danger">{{ form_errors(form['localPartido' ~ j]) }}</span>
                                        </div>
                                        <label class="col-xs-1 lblVs">vs</label>

                                        <div class="col-xs-5">
                                            {{ form_widget(form['visitaPartido' ~ j],
                                            {'id' : 'txtVisita' ~ j,
                                                'attr' : {'class' : 'form-control bordeClass txtVisita', 'placeholder' : 'Login visitor...'|trans,
                                                'readonly' : 'true','onclick' : 'cambiarBorde(this)'}}) }}
                                            <span id="spnVisita"
                                                  class="text-danger">{{ form_errors(form['visitaPartido' ~ j]) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tr>
                    <tr>
                        <div class="row pnl-row pnlEquipoLibre {% if not datos.isHabLibre %}ocultar{% endif %}">
                            <div class="col-xs-2 pnlEquipoLibreLbl" id="lblEquipoLibre">
                                {{ form_label(form['equipoLibre']) }}
                            </div>
                            <div class="col-xs-4 pnlEquipoLibreTxt">
                                {{ form_widget(form['equipoLibre'],{'id' : 'txtEquipoLibre',
                                    'attr' : {'class' : 'form-control bordeClass txtEquipoLibre', 'placeholder' : 'Enter free team...'|trans,
                                        'disabled' : not datos.isHabLibre,'readonly' : 'true',
                                        'onclick' : 'cambiarBorde(this)'}}) }}
                                <span id="spnLibre"
                                      class="text-danger">{{ form_errors(form['equipoLibre']) }}</span>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="panel panel-info pnlEquipos">
                <!-- Default panel contents -->
                <div class="panel-heading pnlTitEquipos">
                    <h3 class="panel-title">Equipos</h3>
                </div>

                <table id="tblEquipos" class="table">

                    {% for posicion in datos.equipos %}

                        {% if posicion.nombre is defined %}
                            {% set nombreEquipo = posicion.nombre %}
                        {% else %}
                            {% set nombreEquipo = posicion %}
                        {% endif %}

                        <div class="pnlIntE" id="pnlEquipoGral" data-idclub="{{ nombreEquipo }}">
                            <input type="button" value="{{ nombreEquipo }}"
                                   onclick="ingresarEquipo('{{ nombreEquipo|e('js') }}',{{ datos.cantPartidos }},{{ not datos.isHabLibre }});"
                                   id="btnEquipoGral"/>
                        </div>

                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    {% include 'baseBotones.html.twig' with {
    'id': 'cmbGuardarAbajo','editar' : '', 'clase' : 'cmbGuardarAbajoSinEditar'} %}
    {% if datos.fecha.numeroFecha is defined %}
        {% set fechaGet = datos.fecha.numeroFecha %}
    {% else %}
        {% set fechaGet = datos.fecha %}
    {% endif %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_crear_fechas_desempate',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.desempateDatos.torneo.id,
    'numeroFechaAtras' : fechaGet - 1,
    'numeroFechaAdel' : fechaGet + 1} %}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/crearfechadesempate.js') }}"></script>
{% endblock %}