body
{
    padding: 0px;
    margin: 180px 0px 0px 0px;
	background: url("../../images/fondo futbol.jpg") no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	color: black;
	z-index: 18;
}

#h1Home{
    text-align: center;
}