#pnlPrimary {
    width: 900px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 0px;
}

#pnlHeadingTitulo {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#pnlTitle {
    font-size: 22px;
    margin: 0px 0px 0px 0px;
    width: 898px;
    text-align: center;
}

#pnlSubTitle {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: orange;
    text-align: center;
}

#lblTitTorneoA {
    color: black;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#lblTitTorneoB {
    color: #449d44;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    font-size: 20px;
}

#pnlBodyCrear {
    padding: 3px 5px;
    margin: 0px;
}

#pnlTituloTorneo {
    width: 100%;
    background-color: black;
    position: fixed;
    margin: -30px 0px 0px 0px;
    text-align: center;
    z-index: 2;
}

#lblTipoTorneoNombre {
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    color: white;
}

#h1TitTorneo {
    font-size: 16px;
    margin: 0px 20px 0px 20px;
    color: red;
}

#lblTitTorneoA {
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    color: white;
}

#lblTitTorneoB {
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    color: red;
}

#pnlFechasCorridas {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#pnlFechasCorridas a {
    background-color: rgba(1, 1, 1, 0.5);
}

#pnlFechasCorridas ul {
    padding: 0px;
    margin: 0px;
}

#pnlFechasCorridas li {
    padding: 0px;
    margin: 0px;
}

.pnlIrFecha {
    margin: -30px 0px 0px 430px;
    padding: 0px;
    width: 43px;
}

#pnlGuardarLYE {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.cmbGuardarArribaConEditar {
    width: 180px;
    margin: 10px 0px 0px 40px;
}

.cmbGuardarAbajoConEditar {
    width: 180px;
    margin: 10px 0px 0px 40px;
}

.cmbGuardarArribaSinEditar {
    width: 180px;
    margin: 0px 0px 10px 350px;
}

.cmbGuardarAbajoSinEditar {
    width: 180px;
    margin: -10px 0px 0px 350px;
}

#cmbEditarArriba {
    width: 180px;
    margin: 10px 0px 0px 250px;
}

#cmbEditarAbajo {
    width: 180px;
    margin: 10px 0px 0px 250px;
}

#pnlAccesoTorneo {
    width: 100%;
    height: 25px;
    z-index: 1;
    margin: -30px 0px 0px 0px;
    position: fixed;
    background: #999999;
    padding: 0px;
    text-align: center;
}

#pnlHeadingTituloAccesoTorneo {
    width: 100px;
    height: 24px;
    padding: 4px 0px 0px 0px;
    margin: 0px;
}

#pnlTitleAccesoTorneo {
    height: 24px;
    padding: 0px;
    margin: 0px;
}

#pnlBodyCrearAccesoTorneo {
    margin: -35px 0px 0px 100px;
}

#pnlBodyCrearAccesoTorneo a {
    color: blue;
}

.spnAccesos {
    color: red;
    margin: 0px 5px 0px 30px;
}

#pnlAccesoApuesta {
    margin: auto;
    padding: 0px;
    min-width: 300px;
    max-width: 500px;
    min-height: 50px;
}

#pnlBodyAccesoApuesta {
    text-align: left;
    margin: 10px;
    padding: 0px;
}

#pnlHeadingTitulo {
    text-align: center;
}

#pnlHeadingTituloAccesoApuesta {
    padding: 3px;
    margin: 0px;
    text-align: center;
}

#pnlTitleAccesoApuesta {
    padding: 0px 0px 0px 150px;
    margin: 0px;
    text-align: center;
}

.leftMargen {
    margin-left: 180px;
}

.leftMargen:hover {
    cursor: pointer;
}

.pnlDentro {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.aDentro {
    margin: 0px;
    padding: 0px;
}

.spnDentro {
    margin: 0px 5px 0px 5px;
    padding: 0px;
}

.spnDentro:hover {
    text-decoration: none;
}

.spnFlecha {
    margin: 0px;
    padding: 0px;
}

.pDentro {
    display: inline;
    margin: 0px 30px 0px 10px;
}

#aVerPosiciones {
    width: 10px;
    background: none;
}

#spnVerPosiciones {
    width: 10px;
}

.red {
    color: red;
}

.ocultar {
    display: none;
}

#pnlAccesoPizarraMsg {
    font-size: 12px;
   /* writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    transform: rotate(180deg);*/
    background: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    right: 0px;
    position: fixed;
    width: 150px;
    height: 20px;
    text-align: center;
    border-radius: 70px 70px 70px 70px;
    -moz-border-radius: 70px 70px 70px 70px;
    -webkit-border-radius: 70px 70px 70px 70px;
    border: 1px solid #000000;
    z-index: 1000;
}

#pnlAccesoPizarraMsg:hover {
    cursor: pointer;
}

#pnlPizarraMsg {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 300px;
    height: 420px;
    bottom: 25px;
    right: 0px;
    z-index: 1000;
}

#mensajesPizarra {
    margin: 10px 0px 0px 10px;
    width: 280px;
    height: 320px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#pnlEnviarMsg {
    margin: 5px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}

#txtMensajePizarra {
    width: 215px;
}

#pnlOpcionesPizarra {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#liOpcionesPizarra1 {
    margin: 5px;
    padding: 0px;
}

#aOpcionesPizarra1 {
    margin: 5px;
    padding: 5px;
}

#liOpcionesPizarra2 {
    margin: 5px;
    padding: 0px;
}

#aOpcionesPizarra2 {
    margin: 5px;
    padding: 5px;
}

.grayColor:hover {
    cursor: pointer;
}

.grayColor {
    background-color: grey;
}

#spnRefrescarMsg {
    font-size: 20px;
    margin: 15px 0px 0px 70px;
}

#spnRefrescarMsg:hover {
    cursor: pointer;
}

.pnlMensajeInterno {
    margin: 5px 0px 0px 0px;
}

.spnTituloPM {
    font-weight: bolder;
    margin: 25px 0px 0px 0px;
}

.spnMensajePM {
    margin: 25px 0px 0px 5px;
    color: #c7ddef;
}

#pnlMostrarMas {
    text-align: center;
    color: white;
    font-size: 12px;
}

#spnMensajePM:hover {
    cursor: pointer;
}

