#pnltituloLoco {
    width: 100%;
    background: transparent;
	z-index:45;
	position: fixed;
	margin: 0px 0px 0px 0px;
	border: none;
    padding-left: 5%;
    top: 107px;
}

.pnlAdentro {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#pnlCollapse {
    height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    width: 100%;
}

.ulContenedor {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#pnlLogueo{
    margin: -20px 40px 0px 0px;
}

.ulContenedor li,a{
    background: transparent;
    font-family: bold;
    margin: 0px;
    padding: 0px;
    color: white;
}

#ulFondo1 a:hover{
    background: transparent;
    color: blue;
}

#ulFondo2 a:hover{
    background: transparent;
    color: blue;
}

.ulContenedor ul{
    background-color: rgba(76, 175, 80, 0.9);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px dotted #000000;
}

.liTorneos {
    /*margin: 0px 10px;
    padding: 0px;
    height: 10px;*/
    font-size: 25px;
}

.liApuestas {
    /*margin: 0px 10px;
    padding: 0px;
    height: 10px;*/
    font-size: 25px;
}

#aTorneos {
    margin: 0px;
    padding: 0px;
    width: 150px;
    text-align: center;
}

#aTorneos:link{
    background: transparent;
}

#aApuestas {
    margin: 0px;
    padding: 0px;
    width: 150px;
    text-align: center;
}

#aApuestas:link{
    background: transparent;
}

.ulFondo{
   /* background-color: #888888;*/
}

/* ------------------- Usuario Logueado ----------------------------------- */

#ulUsuarioLogueado {
    width: 150px;
    height: 25px;
    font-size: 10px;
    margin: -26px 0px 0px 0px;
    padding: 0px;
}

#ulUsuarioALoguearse {
    width: 150px;
    height: 25px;
    font-size: 10px;
    margin: -5px 0px 0px 0px;
    padding: 0px;
}

#ulUsuarioALoguearse li{
	margin: 0px;
    padding: 0px;
}

#usuarioLogueado {
    margin: 0px;
    padding: 0px;
}

#btnTitulo {
    width: 150px;
    height: 35px;
    margin: 0px;
    padding: 0px;
}

#btnTitulo span {
    margin-left: 5px;
}

#ddnLogueo {
    float: right;
    margin-right: -10px;
    margin-top: 1px;
}

#icoPerfil {
    margin-left: 80px;
}

#icoMensaje {
    margin-left: 25px;
}

#icoCerrarSesion {
    margin-left: 38px;
}

#spnMensaje {
    margin-left: 10px;
}

/* ------------------- Usuario no logueado ----------------------------------- */

#iniciarSesion {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px;
	display: inline;
}

#registrarse {
    margin: 0px 0px 0px 10px;
    padding: 5px 10px;
	display: inline;
}

#ulUsuarioALoguearse{
    width: 196px;
    margin: -13px 0px 0px 0px;
    padding: 0px;
}







