#topTit {
    color: #dad55e;
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 60px;
}

#top {
    height: 150px;
    background-color: black;
    padding: 10px;
    background: url("../../images/fondo titulo.jpg") no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
}

#aInicio {
    color: #dad55e;
}

#aInicio:hover {
    text-decoration: none;
}