{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/creardesempate.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {{ form_start(form, {'method': 'POST','name' : 'frmCrearDesempate',
        'attr' : {'class' : 'form-horizontal',
            'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:CrearDesempate:messages/sucess.html.twig') }}
    {{ include('futfunBundle:CrearDesempate:messages/danger.html.twig') }}

    <div class="row pnl-row" id="pnl1fila">
        <div class="col-xs-2" id="lblCantidadEquiposT">
            <label>{% trans %}Amount of equipment:{% endtrans %}</label>
        </div>
        <div class="col-xs-2" id="lblCantidadEquiposD">
            <label id="txtCantEquipos">{{ datos.desempateDatos.cantidadEquipos }}</label>
        </div>

        <div class="col-xs-2" id="lblTipoTorneo">
            {{ form_label(form.tipoTorneo) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.tipoTorneo,{'id' : 'cmbTipoTorneo','attr' : {'class' : 'form-control',
                'placeholder' : 'Enter Type...'|trans}}) }}
            <span id="spnTipo" class="text-danger">{{ form_errors(form.tipoTorneo) }}</span>
        </div>
    </div>
    <div class="row pnl-row" id="pnl2fila">
        <div class="col-xs-3" id="lblFormaDesempate">
            {{ form_label(form.forma) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.forma,{'id' : 'cmbFormaDesempate','attr' : {'class' : 'form-control'}}) }}
            <span id="spnForma" class="text-danger">{{ form_errors(form.forma) }}</span>
        </div>
        <div class="col-xs-3" id="lblFormaVuelta">
            {{ form_label(form.vueltaGrupo) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.vueltaGrupo,{'id' : 'cmbFormaVuelta','attr' : {'class' : 'form-control'}}) }}
            <span id="spnVuelta" class="text-danger">{{ form_errors(form.vueltaGrupo) }}</span>
        </div>
    </div>
    <div class="row pnl-row" id="pnl3fila">
        <div class="col-xs-2" id="lblGolVisita">
            {{ form_label(form.golVisitante) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.golVisitante,{'id' : 'chcGolVisita',
                'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(form.golVisitante) }}</span>
        </div>
        <div class="col-xs-2" id="lblIsConfirm">
            {{ form_label(form.isConfirm) }} (*)
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.isConfirm,{'id' : 'chcIsConfirm',
                'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(form.isConfirm) }}</span>
        </div>
    </div>
    <input type="button" value="{% trans %}Save data{% endtrans %}"
           class="btn btn-primary col-xs-1"
           id="btnGuardar"/>

    <div class="col-xs-2" id="lblAdvertencia">
        <label id="lblAdvertenciaTxt">(*)
            {% trans %}Once you have saved and confirmed the jump-off you will not be able to modify the{% endtrans %}
            {% trans %}data, if you are not completely sure you can save the data without confirming{% endtrans %}
            {% trans %}them{% endtrans %}
        </label>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/creardesempate.js') }}"></script>
{% endblock %}