{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verperfilusu.css') }}" type="text/css">
{% endblock %}

{% block fechas %}

    {{ include('futfunBundle:ApuestasTabla:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasTabla:messages/danger.html.twig') }}


    <h2 id="h2User">{{ datos.user.username }}</h2>

    <div class="panel panel-success" id="pnlDatosPrincipales">
        <div class="panel-heading">{% trans %}Main data{% endtrans %}</div>
        <div class="panel-body bodyDP">
            <div>
                <label>{% trans %}User{% endtrans %}:</label>
                <label class="blanco">{{ datos.user.username }}</label>
            </div>
            <div>
                <label>{% trans %}E-mail{% endtrans %}:</label>
                <label class="blanco">{{ datos.user.email }}</label>
            </div>
            <div>
                <label>{% trans %}Role{% endtrans %}:</label>
                {% if datos.user.role.nombre == "ROLE_ADMIN" %}
                    <label class="blanco">{% trans %}Administrator{% endtrans %}</label>
                {% else %}
                    <label class="blanco">{% trans %}User{% endtrans %}</label>
                {% endif %}

            </div>
            <a id="aCambioClave" href="{{ path('trabajo_dbbundle_modificar_clave') }}">
                {% trans %}Change password{% endtrans %}
            </a>
        </div>
    </div>
    <div class="panel panel-success" id="pnlDatosTYA">
        <div class="panel-heading">{% trans %}Tournament and betting data{% endtrans %}</div>
        <div class="panel-body">
            <label>{% trans %}Organized tournaments{% endtrans %}:</label>
            <div class="btn-group margen">
                <button type="button" class="btn btn-info">{{ datos.torneosOrganizados|length }}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if datos.torneosOrganizados|length > 0 %}
                        {% for administrador in datos.torneosOrganizados %}
                            <li><a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': administrador.torneo.id }) }}">{{ administrador.torneo.nombre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No organizo torneos</li>
                    {% endif %}
                </ul>
            </div>
            <br />
            <label>{% trans %}Organized betting{% endtrans %}:</label>
            <div class="btn-group margen">
                <button type="button" class="btn btn-info">{{ datos.apuestasOrganizadas|length }}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if datos.apuestasOrganizadas|length > 0 %}
                        {% for administrador in datos.apuestasOrganizadas %}
                            <li><a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': administrador.apuesta.id }) }}">{{ administrador.apuesta.nombre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No organizo apuestas</li>
                    {% endif %}
                </ul>
            </div>
            <br />
            <label>{% trans %}Participation in active bets{% endtrans %}:</label>
            <div class="btn-group margen">
                <button type="button" class="btn btn-info">{{ datos.apuestasParticipanteActivas|length }}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if datos.apuestasParticipanteActivas|length > 0 %}
                        {% for participante in datos.apuestasParticipanteActivas %}
                            <li><a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': participante.apuestasBase.id }) }}">{{ participante.apuestasBase.nombre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No participo en apuestas</li>
                    {% endif %}
                </ul>
            </div>
            <br />
            <label>{% trans %}Participation in finished bets{% endtrans %}:</label>
            <div class="btn-group margen">
                <button type="button" class="btn btn-info">{{ datos.apuestasParticipanteFinalizadas|length }}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if datos.apuestasParticipanteFinalizadas|length > 0 %}
                        {% for participante in datos.apuestasParticipanteFinalizadas %}
                            <li><a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': participante.apuestasBase.id }) }}">{{ participante.apuestasBase.nombre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No participo en apuestas</li>
                    {% endif %}
                </ul>
            </div>
            <br />
            <label>{% trans %}Betting won{% endtrans %}:</label>
            <div class="btn-group margen">
                <button type="button" class="btn btn-info">{{ datos.apuestasGanadas|length }}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if datos.apuestasGanadas|length > 0 %}
                        {% for apuesta in datos.apuestasGanadas %}
                            <li><a href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': apuesta.id }) }}">{{ apuesta.nombre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No gano apuestas</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/verperfilusu.js') }}"></script>
{% endblock %}