/* ------------------------  La parte de la cabeza dek Panel ------------------------------------------------------ */

#pnlATBSuperior {
    width: 65%;
    margin-left: 18%;
    margin-top: 30px;
	background: transparent;
}

#pnlPrimary{
	background: transparent;
}

#pnlTitATB {
    color: red;
    background-color: black;
    height: 90px;
}

#h1Titulo {
    font-size: 25px;
    margin-left: 28%;
}

#olDireccion {
    height: 30px;
    width: 690px;
    margin-left: -10px;
    margin-top: 15px;
    padding-left: 80px;
    font-size: 14px;
    background-color: black;
    color: #265a88;
}

/* ------------------------  Pagina Principal crear.html.twig ----------------------------------------------- */

#pnlBodyCrear {
    margin-left: 45px;
}

#accordion{
	background: transparent;
}

#accordion{
	
}

#accordion{
	
}

#lblNombreTorneo {
    margin-top: 10px;
    font-size: 20px;
}

#pnlNombreTorneo {
    margin-left: 110px;
    margin-top: -30px;
}

#form_nombre {
    font-size: 16px;
    height: 32px;
    width: 450px;
}

#spnMensajeNombre {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#spanNombreRepetido {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 16px;
}

#lblTipoTorneo {
    width: 210px;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 0px;
}

#pnlTipoTorneo {
    margin-left: 220px;
    margin-top: -30px;
}

#form_tipoTorneo {
    font-size: 16px;
    height: 32px;
    width: 340px;
}

#spnMensajeTipoTorneo {
    float: left;
    margin-left: 250px;
    margin-top: 10px;
    font-size: 16px;
}

#lblCantidadEquipos {
    width: 210px;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 20px;
    padding: 0px;
}

#pnlCantidadEquipos {
    margin-left: 222px;
    margin-top: -30px;
}

#form_cantEquipos {
    font-size: 16px;
    height: 32px;
    width: 340px;
}

#spnMensajeCantidadEquipos {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 16px;
}

#pnlGuardar {
    float: left;
    margin-top: 10px;
    margin-left: 180px;
}

#form_Siguiente {

}

/* ------------------------  Pagina crearFormato.html.twig -------------------------------------------------- */

#pnlBodyFormLiga {
    margin-left: 25px;
}

#lblForma {
    width: 160px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 0px;
}

#pnlFormaChoice {
    margin-top: -28px;
    margin-left: 180px;
}

#form_forma {
    font-size: 16px;
    height: 36px;
    width: 400px;
    padding: 0px 0px 0px 5px;
}

#spnMensajeForma {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#lblVuelta {
    width: 235px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0px;
}

#pnlTipoVueltaChoice {
    margin-left: 250px;
    margin-top: -30px;
}

#form_tipoVuelta {
    font-size: 16px;
    height: 36px;
    width: 330px;
    padding: 0px 0px 0px 5px;
}

#spnMensajeTipoVuelta {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#lblCantFechas {
    width: 278px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 0px;
}

#pnlCantidadFechas {
    margin-left: 290px;
    margin-top: -33px;
}

#form_cantFechas {
    font-size: 16px;
    height: 36px;
    width: 290px;
    padding: 0px 5px 0px 5px;
}

#spnMensajeCantFechas {
    float: left;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 16px;
}

#pnlAtrasLiga {
    margin-top: 10px;
    margin-left: 150px;
}

#form_Atras {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 7px 5px 0px 5px;
}

#pnlGuardarLiga {
    margin-top: -55px;
    margin-left: 320px;
}

#btnGuardarLiga button {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 0px 5px 0px 5px;
}

/* ------------------------  Pagina crearFormatoEliminacion.html.twig --------------------------------------- */

#pnlBodyFormEliminacion {
    margin-left: 45px;
}

#lblEliminacion {
    width: 235px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 0px;
}

#pnlEliminacionChoice {
    margin-top: -32px;
    margin-left: 260px;
}

#form_Eliminacion {
    font-size: 16px;
    height: 36px;
    width: 300px;
    padding: 0px 0px 0px 5px;
}

#spnMensajeEliminacion {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#lblTercerPuesto {
    width: 165px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 0px;
}

#pnlTercerPuestoChoice {
    margin-top: -32px;
    margin-left: 200px;
    border: none;
}

#form_tercerPuesto {
    font-size: 16px;
    height: 36px;
    width: 150px;
    padding: 5px;
    border: 0px;
}

#form_tercerPuesto input {
    margin-left: 10px;
}

#form_tercerPuesto label {
    margin-left: 5px;
}

#spnMensajeTercerPuesto {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#lblfinal {
    width: 170px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 0px;
}

#pnlfinalChoice {
    margin-top: -32px;
    margin-left: 200px;
}

#form_final {
    font-size: 16px;
    height: 36px;
    width: 360px;
    padding: 0px 0px 0px 5px;
}

#spnMensajeFinal {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

#pnlAtrasEliminacion {
    margin-top: 10px;
    margin-left: 120px;
}

#form_AtrasEliminacion {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 7px 5px 0px 5px;
}

#pnlGuardarEliminar {
    margin-top: -55px;
    margin-left: 300px;
}

#btnGuardarElimin button {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 0px 5px 0px 5px;
}

/* ------------------------  Pagina crearFormatoLigayElim.html.twig ----------------------------------------- */

#pnlGrupoSuperior {
    /*width: 700px;
    margin-left: 450px;
    margin-top: 30px;*/
}

#pnlTitGrupo {
    /*color: red;
    background-color: black;
    height: 90px;*/
}

#h1TituloGrupo {
    font-size: 25px;
    margin-left: 200px;
}

#h1TituloElim {
    font-size: 25px;
    margin-left: 200px;
}

#pnlBodyLYE {
    height: 200px;
}

#pnlbodyElim {
    height: 180px;
}

#lblCantidadGrupos {
    width: 152px;
    font-size: 16px;
    margin-left: 45px;
    margin-top: 0px;
    padding: 0px;
}

#pnlCantidadGruposChoice {
    margin-top: 10px;
    margin-left: 10px;
}

#form_cantGrupos {
    font-size: 12px;
    height: 30px;
    width: 200px;
    padding: 0px 10px 0px 10px;
}

#spnMensajeCantidadGrupos {
    position: absolute;
    left: 460px;
    top: 365px;
    font-size: 10px;
}

#lblcantEqPorGrupos {
    width: 145px;
    font-size: 16px;
    margin-left: 265px;
    margin-top: -77px;
    padding: 0px;
}

#pnlcantEqPorGruposChoice {
    margin-top: -45px;
    margin-left: 230px;
}

#form_cantEqPorGrupos {
    font-size: 12px;
    height: 30px;
    width: 200px;
    padding: 0px 10px 0px 10px;
}

#spnMensajecantEqPorGrupos {
    position: absolute;
    left: 680px;
    top: 365px;
    font-size: 10px;
}

#lblFormaGrupos {
    width: 128px;
    font-size: 16px;
    margin-left: 475px;
    margin-top: -92px;
    padding: 0px;
}

#pnlFormaGruposChoice {
    margin-top: -60px;
    margin-left: 450px;
}

#form_FormaGrupos {
    font-size: 12px;
    height: 30px;
    width: 170px;
    padding: 0px 10px 0px 10px;
}

#spnMensajeFormaGrupos {
    position: absolute;
    left: 910px;
    top: 365px;
    font-size: 10px;
}

#lblTipoVueltaGrupo {
    width: 110px;
    font-size: 16px;
    margin-left: 70px;
    margin-top: -20px;
    padding: 0px;
}

#pnlTipoVueltaGrupoChoice {
    margin-top: 5px;
    margin-left: 5px;
}

#form_tipoVueltaGrupo {
    font-size: 12px;
    height: 30px;
    width: 235px;
    padding: 0px 10px 0px 10px;
}

#spnMensajeTipoVueltaGrupo {
    position: absolute;
    left: 460px;
    top: 450px;
    font-size: 10px;
}

#lblcantClasPorGrupos {
    width: 175px;
    font-size: 16px;
    margin-left: 270px;
    margin-top: -72px;
    padding: 0px;
}

#pnlcantClasPorGruposChoice {
    margin-top: -45px;
    margin-left: 255px;
}

#form_cantClasPorGrupos {
    font-size: 12px;
    height: 30px;
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#spnMensajecantClasPorGrupos {
    position: absolute;
    left: 690px;
    top: 450px;
    font-size: 10px;
}

#lblcantClasifAdicionales {
    width: 190px;
    font-size: 16px;
    margin-left: 460px;
    margin-top: -87px;
    padding: 0px;
}

#pnlcantClasifAdicionalesChoice {
    margin-top: -60px;
    margin-left: 450px;
}

#form_cantClasifAdicionales {
    font-size: 12px;
    height: 30px;
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#spnMensajecantClasifAdicionales {
    position: absolute;
    left: 690px;
    top: 450px;
    font-size: 10px;
}

#lblPrimeraEliminacion {
    width: 218px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 0px;
    padding: 0px;
}

#pnlPrimeraEliminacionChoice {
    margin-top: 10px;
    margin-left: 50px;
}

#form_primeraEliminacion {
    font-size: 12px;
    height: 30px;
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#spnMensajePrimeraEliminacion {
    position: absolute;
    left: 510px;
    top: 635px;
    font-size: 10px;
}

#lblEliminacionLYE {
    width: 190px;
    font-size: 16px;
    margin-left: 360px;
    margin-top: -78px;
    padding: 0px;
}

#pnlEliminacionLYEChoice {
    margin-top: -48px;
    margin-left: 350px;
}

#form_EliminacionLYE {
    font-size: 12px;
    height: 30px;
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#spnMensajeEliminacionLYE {
    position: absolute;
    left: 810px;
    top: 632px;
    font-size: 10px;
}

#lbltercerPuestoLYE {
    width: 135px;
    font-size: 16px;
    margin-left: 80px;
    margin-top: -5px;
    padding: 0px;
}

#pnltercerPuestoLYEChoice {
    margin-top: 5px;
    margin-left: 75px;
}

#form_tercerPuestoLYE {
    font-size: 12px;
    height: 30px;
    width: 180px;
}

#form_tercerPuestoLYE input {
    margin-left: 10px;
}

#form_tercerPuestoLYE label {
    margin-left: 5px;
}

#spnMensajetercerPuestoLYE {
    position: absolute;
    left: 460px;
    top: 650px;
    font-size: 10px;
}

#lblFinalLYE {
    width: 135px;
    font-size: 16px;
    margin-left: 380px;
    margin-top: -82px;
    padding: 0px;
}

#pnlFinalLYEChoice {
    margin-top: -55px;
    margin-left: 350px;
}

#form_finalLYE {
    font-size: 12px;
    height: 30px;
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#spnMensajeFinalLYE {
    position: absolute;
    left: 810px;
    top: 708px;
    font-size: 10px;
}

#pnlAtrasLYE {
    margin-top: 10px;
    margin-left: 120px;
}

#form_AtrasLYE {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 7px 5px 0px 5px;
}

#pnlGuardarLYE {
    margin-top: -55px;
    margin-left: 300px;
}

#pnlGuardarLYE button {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 0px 5px 0px 5px;
}

/* ------------------------  Pagina confirmarLiga.html.twig ------------------------------------------------ */

#h1TituloCT {
    margin-left: 180px;
}

#pnlBodyInformacion{
    height: 380px;
}

#pnlNombreTorneoCL {

    margin-left: 2%;
    margin-top: 0%;
}

#lblNombreTorneoConf {
    font-size: 14px;
    height: 30px;
    width: 25%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblNombreTorneoDato {
    font-size: 12px;
    height: 30px;
    width: 65%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlTipoTorneoCT {

    margin-left: 2%;
    margin-top: -2%;
}

#lblTipoTorneoCT {
    font-size: 14px;
    height: 30px;
    width: 20%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblTipoTorneoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 25%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlCantEquiposCT {

    margin-left: 50%;
    margin-top: -8%;
}

#lblCantEquiposCT {
    font-size: 14px;
    height: 30px;
    width: 48%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblCantEquiposCTDatos {
    font-size: 12px;
    height: 30px;
    width: 28%;
    margin-left: 50%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlCantGruposCT {

    margin-left: 2%;
    margin-top: -2%;
}

#lblCantGruposCT {
    font-size: 14px;
    height: 30px;
    width: 25%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblCantGruposCTDatos {
    font-size: 12px;
    height: 30px;
    width: 20%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlEquiposXGrupoCT {

    margin-left: 50%;
    margin-top: -8%;
}

#lblEquiposXGrupoCT {
    font-size: 14px;
    height: 30px;
    width: 44%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblEquiposXGrupoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 35%;
    margin-left: 46%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlFormaGrupoCT {

    margin-left: 2%;
    margin-top: -2%;
}

#lblFormaGrupoCT {
    font-size: 14px;
    height: 30px;
    width: 22%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblFormaGrupoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 24%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlVueltaGrupoCT {

    margin-left: 50%;
    margin-top: -8%;
}

#lblVueltaGrupoCT {
    font-size: 14px;
    height: 30px;
    width: 50%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblVueltaGrupoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 40%;
    margin-left: 51%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlClasifPorGrupoCT {

    margin-left: 2%;
    margin-top: -2%;
}

#lblClasifPorGrupoCT {
    font-size: 14px;
    height: 30px;
    width: 28%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblClasifPorGrupoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 17%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlClasifAdicionalesCT {

    margin-left: 49%;
    margin-top: -8%;
}

#lblClasifAdicionalesCT {
    font-size: 14px;
    height: 30px;
    width: 58%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblClasifAdicionalesCTDatos {
    font-size: 12px;
    height: 30px;
    width: 37%;
    margin-left: 60%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlFechasAdicionalesCT {

    margin-left: 2%;
    margin-top: -2%;
}

#lblFechasAdicionalesCT {
    font-size: 14px;
    height: 30px;
    width: 25%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblFechasAdicionalesCTDatos {
    font-size: 12px;
    height: 30px;
    width: 30%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlComienzoElimCT {
    margin-left: 2%;
    margin-top: -2%;
}

#lblComienzoElimCT {
    font-size: 14px;
    height: 30px;
    width: 34%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblComienzoElimCTDatos {
    font-size: 12px;
    height: 30px;
    width: 40%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlFormaEliminacionCT {
    margin-left: 2%;
    margin-top: -2%;
}

#lblFormaEliminacionCT {
    font-size: 14px;
    height: 30px;
    width: 31%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblFormaEliminacionCTDatos {
    font-size: 12px;
    height: 30px;
    width: 18%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlTercerPuestoCT {
    margin-left: 53%;
    margin-top: -8%;
}

#lblTercerPuestoCT {
    font-size: 14px;
    height: 30px;
    width: 68%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblTercerPuestoCTDatos {
    font-size: 12px;
    height: 30px;
    width: 23%;
    margin-left: 70%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlFormaFinalCT {
    margin-left: 2%;
    margin-top: -2%;
}

#lblFormaFinalCT {
    font-size: 14px;
    height: 30px;
    width: 22%;
    padding: 5px 5px 3px 5px;
    font-weight: bolder;
}

#lblFormaFinalCTDatos {
    font-size: 12px;
    height: 30px;
    width: 40%;
    margin-left: 1%;
    padding: 7px 5px 3px 5px;
    font-weight: 200;
}

#pnlAtrasConfL {
    margin-top: 10px;
    margin-left: 120px;
}

#form_AtrasConfL {
    font-size: 16px;
    height: 40px;
    width: 100px;
    padding: 7px 5px 0px 5px;
}

#pnlGuardarConfL {
    margin-top: -55px;
    margin-left: 300px;
}

#btnConfirmarTorneo {
    font-size: 16px;
    height: 40px;
    width: 140px;
    padding: 0px 5px 0px 5px;
}