
/* -------------------Los div contenedores mas altos ------------------------------ */

#pnlPartidos {
    margin: 3px 3px 23px 3px;
	background: transparent;
}

.pnlGrupo {
    margin: 3px;
	background: transparent;
}

.cntLoco{
	width: 540px;
	padding: 0px;
    margin: 0px 0px 0px 5px;
	float: left;
	background: transparent;
}

.pnlPartido {
    padding: 0px;
    margin: 0px;
    width: 620px;
	background: transparent;
}

.pnlEquipos {
    width: 240px;
    padding: 0px;
    margin: 0px 0px 0px 85px;
	float: left;
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
}

.pnlEquipoLibre {
	padding: 0px;
    margin: 0px 0px 0px 0px;
	width: 620px;
	height: 20px;
	background: transparent;
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */

#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 25px;
}

.pnlTitGrupo {
    padding: 0px;
}

.pnlTituloGrupo {
    padding: 0px;
    height: 20px;
}

.pnlTPartido{
	padding: 0px;
	margin: 0px;
    height: 20px;
}

.pnlTituloPartido {
    padding: 0px;
	margin: 0px;
}

.pnlTitEquipos {
    padding: 0px;
	margin: 0px;
    height: 20px;
	font-size: 11px;
	text-align: center;
}

/* -------------------Los titulos de adentro de los contenedores ---------------------------------- */

#lblnomFecha {
    font-size: 11px;
    width: 100px;
    padding: 0%;
    margin: 7px 0px 0px 15px;
}

#txtNombreFecha {
    font-size: 11px;
    width: 250px;
    height: 22px;
    margin: 1px 0px 0px -10px;
    padding: 1px 10px;
}

#lblFechaInicio {
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: 7px 0px 0px -50px;
}

#txtFechaInicio {
    margin: 1px 0px 0px -17px;
    width: 200px;
    height: 22px;
    font-size: 11px;
    padding: 1px 10px;
    text-align: center;
}

#lblHoraInicio {
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: 7px 0px 0px -40px;
}

#txtHoraInicio {
    margin: -24px 0px 0px 730px;
    width: 135px;
    height: 22px;
    font-size: 11px;
    padding: 1px 10px;
    text-align: center;
}

.lblTituloGrupo {
    width: 80px;
    padding: 0px;
    font-size: 11px;
    margin: 4px 0px 0px 300px;
}

.txtGrupos {
    width: 250px;
    height: 18px;
    font-size: 11px;
    margin: 1px 0px 0px -50px;
    padding: 1px 10px;
}

.lblfechaAt {
    width: 120px;
    padding: 0px;
    font-size: 11px;
    margin: 3px 0px 0px 100px;
}

.txtfechaAt {
    width: 140px;
    height: 18px;
    font-size: 11px;
    margin: 0px 0px 0px -30px;
    padding: 1px 10px;
    text-align: center;
}

.lblHoraAt{
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: -15px 0px 0px 150px;
}

.txtHoraAt{
    width: 120px;
    height: 18px;
    font-size: 11px;
    margin: -20px 0px 0px 450px;
    padding: 1px 10px;
    text-align: center;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */

#pnlBodyCrear1 {
    padding: 3px;
	margin: 0px;
}

.pnlBodyCrear2 {
    padding: 2px 10px;
	margin: 0px;
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

/* -------------------Lo que esta dentro del div de los partidos ---------------------------------- */

.pnlPartidoDentro {
    margin: 0px;
    padding: 0px;
    height: 20px;
}

.lblNumPartido{
	margin: 0px 0px 0px 5px;
    padding: 4px 0px 0px 0px;
	font-size: 11px;
	text-align: center;
	width: 40px;
	color: white;
}

.lblVs{
	margin: 0px 0px 0px 7px;
    padding: 4px 0px 0px 0px;
	font-size: 11px;
	text-align: center;
	width: 40px;
	color: white;
}

.txtLocal{
	margin: 0px 0px 0px -14px;
    padding: 1px 5px;
	font-size: 11px;
	text-align: center;
	width: 265px;
	height: 20px;
}

.txtVisita{
	margin: 0px 0px 0px -13px;
    padding: 1px 5px;
	font-size: 11px;
	text-align: center;
	width: 265px;
	height: 20px;
}



/* -------------------El resto ---------------------------------- */

.pnlEquipoLibreLbl {
    margin: 3px 0px 0px 180px;
	width: 120px;
	font-size: 11px;
	padding: 0px;
}

.txtEquipoLibre{
	margin: 1px 0px 0px -50px;
	width: 200px;
	font-size: 11px;
	padding: 0px;
	height: 18px;
}

.pnlIntE {
    padding: 0px;
	margin: 3px 0px;
	height: 20px;
}

.pnlIntE input {
    background: none;
    border: none;
}

.pnlIntE span:hover {
    cursor: pointer;
}
