/* -------------------Los div contenedores mas altos ------------------------------ */
#accordion {
    margin: 10px;
    padding: 0px;
	background: transparent;
}

#accordion1 {
    margin: 10px;
    padding: 0px;
	background: transparent;
}

#pnlLiga {
    margin: 0px;
    padding: 0px;
	background: transparent;
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */
#pnlPuntosContainer {
    margin: 0px;
    padding: 0px;
	background: transparent;
}

#headingOne1 {
    padding: 5px 5px 5px 10px;
    margin: 0px;
    height: 30px;
}

#aPuntosPor {
    padding: 0px;
    margin: 0px;
}

#h4Puntos {
    padding: 0px;
    margin: 0px;
}

#lblPuntos {
    float: left;
    width: 800px;
    margin: 0px 0px 0px 10px;
}

#lblPuntos:hover {
    cursor: pointer;
}

#spnPuntos {
    float: left;
    margin: -5px 0px 0px 0px;
    font-size: 26px;
}

#headingOne {
    padding: 5px 5px 5px 10px;
    margin: 0px;
    height: 30px;
}

#aLiga {
    padding: 0px;
    margin: 0px;
}

#h4Liga {
    padding: 0px;
    margin: 0px;
}

#lblLiga {
    float: left;
    width: 800px;
    margin: 0px 0px 0px 10px;
}

#lblLiga:hover {
    cursor: pointer;
}

#spnLiga {
    float: left;
    margin: -5px 0px 0px 0px;
    font-size: 26px;
}

#collapseOne {
    margin: 0px;
    padding: 0px;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#collapseOne1 {
    padding: 0px;
    margin: 0px;
}

#pnlBodyPuntos {
    padding: 3px;
    margin: 0px;
}

#pnlLigabody {
    padding: 0px;
    margin: 0px;
}

/* -------------------Adentro de la primera parte ------------------------------ */

#pnlNombreApuesta {
    padding: 0px;
    margin: 0px;
}

#lblNombreApuesta {
    font-size: 16px;
    width: 80px;
    padding: 0px;
    margin: 8px 0px 0px 35px;
}

#txtNombreApuesta {
    font-size: 18px;
    width: 630px;
    height: 30px;
    margin: 4px 0px 0px 110px;
    padding: 3px 10px;
}

#pnlTorneoBase {
    padding: 0px;
    margin: 0px;
}

#lblTorneoBase {
    font-size: 16px;
    width: 170px;
    padding: 0px;
    margin: 8px 0px 0px 35px;
}

#cmbTipoTorneo {
    font-size: 18px;
    width: 630px;
    height: 30px;
    margin: 4px 0px 0px 20px;
    padding: 3px 10px;
}

#pnlTxtNombreApuesta {
    padding: 0px;
    margin: 0px;
    width: 700px;

}

#pnlTxtTorneo {
    padding: 0px;
    margin: 0px;
    width: 600px;
}

#pnlApuestaSimbolica {
     padding: 0px;
     margin: 0px;
 }

#pnlTxtApuestaSimbolica {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: 600px;
}

#pnlTxtApuestaSimbolica #text{
	margin: 0px 0px 0px -80px;
}

#lblApuestaSimbolica {
    font-size: 16px;
    width: 160px;
    padding: 0px;
    margin: 8px 0px 0px 35px;
}

#cmbApuestaSimbolica {
    font-size: 18px;
    width: 200px;
    height: 30px;
    margin: 5px 15px 0px 30px;
    padding: 3px 0px;
    text-align: center;
}

#pnlFechaLimite {
    padding: 0px;
    margin: 0px;
}

#pnlTxtFechaLimite {
    padding: 0px;
    margin: 10px 0px 0px 5px;
    width: 600px;
}

#lblFechaLimite {
    font-size: 16px;
    width: 180px;
    padding: 0px;
    margin: 8px 0px 0px 35px;
}

#cmbFechaLimite {
    font-size: 18px;
    width: 630px;
    height: 30px;
    margin: -5px 0px 0px 5px;
    padding: 3px 10px;
}

/* -------------------Adentro del primer collapse ------------------------------ */

.contPuntos {
    padding: 0px;
    margin: 0px 0px 0px 25px;
}

#lblPxG {
    font-size: 14px;
    width: 135px;
    padding: 0px;
    margin: 5px 0px 0px 4px;
}

#txtPxG {
    font-size: 11px;
    width: 80px;
    height: 30px;
    margin: 2px 0px 0px -10px;
    padding: 5px;
    text-align: center;
}

#lblPxE {
    font-size: 14px;
    width: 135px;
    padding: 0px;
    margin: 5px 0px 0px 20px;
}

#txtPxE {
    font-size: 11px;
    width: 80px;
    height: 30px;
    margin: 2px 0px 0px -20px;
    padding: 5px;
    text-align: center;
}

#lblPxP {
    font-size: 14px;
    width: 135px;
    padding: 0px;
    margin: 5px 0px 0px 4px;
}

#txtPxP {
    font-size: 11px;
    width: 80px;
    height: 30px;
    margin: -30px 0px 0px 140px;
    padding: 5px;
    text-align: center;
}

/* -------------------Adentro del segundo collapse ------------------------------ */

#pnlFechaInicio {
    margin: 10px 0px 4px 30px;
    padding: 0px;
}

#lblFechaInicio {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 5px 0px 0px 10px;
}

#sltFechaInicioSelect {
    font-size: 11px;
    width: 270px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 5px;
}

#pnlTxtFechaInicio {
    margin: 0px 0px 0px 190px;
    padding: 0px;
}

#cmbFechaInicio {
    font-size: 11px;
    width: 230px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 5px 15px;
}

#pnlCompletarExtra {
    margin: 10px 0px 4px 30px;
    padding: 0px;
}

#pnlExtra {
    margin: 0px;
    padding: 0px;
}

#lblExtra {
    font-size: 14px;
    width: 40px;
    padding: 0px;
    margin: 5px 0px 0px 10px;
}

#sltExtra {
    font-size: 11px;
    width: 150px;
    height: 30px;
    margin: -24px 0px 0px 60px;
    padding: 5px;
}

#pnlIsComplete {
    margin: 6px 0px 0px 700px;
    padding: 0px;
}

#pnlDetalle {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#lblDetalle {
    font-size: 14px;
    width: 40px;
    padding: 0px;
    margin: 5px 0px 0px 60px;
}

#txtDetalleExtra {
    font-size: 11px;
    width: 230px;
    height: 30px;
    margin: -24px 0px 0px 125px;
    padding: 5px 15px;
}

#pnlValor {
    margin: 0px;
    padding: 0px;
}

#lblValor {
    font-size: 14px;
    width: 40px;
    padding: 0px;
    margin: 5px 0px 0px 230px;
}

#txtValor {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: -24px 0px 0px 285px;
    padding: 5px 15px;
}

.txtDescripcion {
    padding: 10px;
    margin: 5px 0px 0px 5px;
    max-width: 700px;
    min-width: 700px;
    max-height: 100px;
    min-height: 100px;
}

#pnlAgregar {
    margin: -30px 0px 0px 725px;
    padding: 0px;
}

#btnAgregar {
    font-size: 11px;
    width: 100px;
    height: 30px;
}

/* ------------------- La tabla ------------------------------ */

#trHead {
    margin: 0px;
    padding: 0px;
}

.trBody {
    margin: 0px;
    padding: 0px;
}

#tblExtras {
    margin: 0px;
    padding: 0px;
}

#lblTitDetalle {
    text-align: center;
    width: 250px;
}

#lblTitValor {
    text-align: center;
    width: 100px;
}

#lblIsComplete {
    text-align: center;
    width: 100px;
}

#lblDescripcion {
    text-align: center;
}

.celdaIsComplete {
    text-align: center;
    width: 100px;
}

.celdaDescripcion {
    text-align: left;
    width: 380px;
}

.celdaDetalle {
    text-align: center;
    width: 250px;
}

.celdaValor {
    text-align: center;
    width: 100px;
}

/* -------------------El resto ------------------------------ */