#pnlContrasena label{
    width: 100px;
    text-align: left;
    margin-top: 3px;
}

#pnlRepetirContrasena label{
    width: 175px;
    text-align: left;
    margin-top: 3px;
}

#pnlContrasenaActual label{
    width: 175px;
    text-align: left;
    margin-top: 3px;
}

#spnPassActual li{
    margin-left: 170px;
}

#spnPass1 li{
    margin: 40px 0px 0px 170px;
}

#pnlTextContrasena{
    margin-left: 75px;
}

form{
    margin: 5px 50px;
}

#cmbGuardarAbajo{
    margin: 0px 0px 0px 175px;
    padding: 0px;
}