/* -------------------Los div contenedores mas altos ------------------------------ */
#pnlPartidos {
    margin: 3px;
	background: transparent;
}

.pnlGrupos {
    margin: 3px;
	background: transparent;
}

.pnlPartidosGrupo {
    padding: 0px;
    margin: 3px;
	background: transparent;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#pnlBodyCrear1 {
    padding: 0px;
}

.pnlBodyCrear2 {
    padding: 0px;
}

.pnlBodyCrear3 {
    padding: 0px;
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

.tableClass tr {
    margin: 0px;
    padding: 0px;
}

/* -------------------Los titulos de los contenedores ---------------------------------- */
#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitGrupo {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitpartido {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

/* -------------------Lo que esta dentro del div de los partidos ---------------------------------- */

.pnlPartidosIndividual {
    font-size: 12px;
    padding: 0px;
}

.lblNumPartidoDentro {
    margin: 0px;
    height: 22px;
    width: 50px;
    padding: 3px 0px;
    text-align: center;
}

.lblNombreLocal {
    height: 22px;
    padding: 3px 5px;
    margin: 0px;
    width: 285px;
}

.lblResultLocal {
    padding: 0px;
    margin: 0px 0px 0px 2px;
    width: 57px;
}

.lblResultVisita {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblValorDefLocal {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblValorDefVisita {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblNombreVisita {
    padding: 3px 5px;
    margin: 0px;
    width: 285px;
    height: 22px;
}

.txtLocalRes {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtVisitaRes {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtValorDefLoc {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtValorDefVis {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.lblVs {
    margin: 0px 3px;
    padding: 4px 0px 0px 0px;
    font-size: 10px;
    height: 22px;
    width: 16px;
}

/* -------------------El resto ---------------------------------- */

.pnlEquipoLibre {
    color: red;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    height: 17px;
    width: 880px;
    text-align: center;
}


.btnAtras {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.btnAdelante {
    margin: 0px;
    padding: 0px;
}

.ocultarDisplay {
    display: none;
}

.margenParaDisplayLeft {
    margin-left: 50px;
}

.margenParaDisplayRight {
    margin-right: 30px;
}

.pnlResultadoGlobal {
    margin: 0px;
    padding: 0px;
}

.lblGlobal {
    text-align: center;
    margin: 0px;
    padding: 0px 0px 0px 50px;
    font-size: 12px;
    width: 873px;
}

.negrita {
    font-family: bold;
    color: #1b6d85;
}

.ocultar {
    display: none;
}