/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */

.pnlRespTabla {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    margin: 0px 0px 20px 0px;
}

#pnlParticipantes {
    width: 200px;
    height: 24px;
}

#btnParticipates {
    width: 200px;
    height: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    background-color: #454545;
    color: #269abc;
}

.ulParticipantes {
    background-color: #888888;
    color: #269abc;
    width: 200px;
    font-size: 14px;
}

.liParticipante {
    color: #269abc;
    font-size: 14px;
}

.aParticipante {
    color: #269abc;
    font-size: 14px;
}

#pnlBodyCrear {
    padding: 0px;
    margin: 5px;
}

#frmCompletarExtras {
    padding: 0px;
    margin: 0px;
}

.pnlExtraGral {
    padding: 0px;
    margin: 10px 0px;
}

.lblExtra {
    padding: 0px;
    margin: 6px 0px 0px 20px;
    font-size: 12px;
    width: 200px;
    text-align: center;
}

.txtExtra {
    height: 30px;
    margin: 0px;
    font-size: 12px;
    width: 650px;
}

.ocultar {
    display: none;
}

.red {
    font-size: 20px;
    color: darkred;
}

.green {
    font-size: 20px;
    color: green;
}

.txtGrandeTH {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.txtGrande {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.txtGrandeCaja {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.black {
    color: black;
}

.txtGrande input {
    padding-left: 8px;
}

.txtChicoTH {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.txtChico div {
}

.txtChico {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.txtCorrect {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width: 20px;
    text-align: center;
}

#tblExtras {
    margin: 0px;
    padding: 0px;
}

.noCompletar {
    background-color: #555555;
    color: white;
}

.fondoTH {
    background-color: #c9e2b3;
}