/* -------------------Titulo del torneo ------------------------------ */

/* -------------------Los div contenedores mas altos ------------------------------ */
#pnlPartidos {
    margin: 3px;
    background: transparent;
}

.pnlGrupos {
    margin: 3px;
    background: transparent;
}

.pnlPartidosGrupo {
    padding: 0px;
    margin: 3px;
    background: transparent;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#pnlBodyCrear1 {
    padding: 0px;
}

.pnlBodyCrear2 {
    padding: 0px;
}

.pnlBodyCrear3 {
    padding: 0px;
    background-color: white;
    opacity: 0.9;
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

.tableClass tr {
    margin: 0px;
    padding: 0px;
}

/* -------------------Los titulos de los contenedores ---------------------------------- */
#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitGrupo {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitpartido {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

/* -------------------Lo que esta dentro del div de los partidos ---------------------------------- */

.pnlPartidosIndividual {
    font-size: 12px;
    padding: 0px;
}

.lblNumPartidoDentro {
    margin: 0px;
    height: 22px;
    width: 50px;
    padding: 3px 0px;
    text-align: center;
}

.lblNombreLocal {
    height: 22px;
    padding: 3px 5px;
    margin: 0px;
    width: 285px;
}

.lblResultLocal {
    padding: 0px;
    margin: 0px 0px 0px 2px;
    width: 57px;
}

.lblResultVisita {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblValorDefLocal {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblValorDefVisita {
    padding: 0px;
    margin: 0px 0px;
    width: 57px;
}

.lblNombreVisita {
    padding: 3px 5px;
    margin: 0px;
    width: 285px;
    height: 22px;
}

.txtLocalRes {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtVisitaRes {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtValorDefLoc {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.txtValorDefVis {
    margin: 0px;
    padding: 1px 3px;
    font-size: 10px;
    height: 22px;
    width: 55px;
    text-align: center;
}

.lblVs {
    margin: 0px 3px;
    padding: 4px 0px 0px 0px;
    font-size: 10px;
    height: 22px;
    width: 16px;
}

/* -------------------El resto ---------------------------------- */

.pnlEquipoLibre {
    color: red;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    height: 17px;
    width: 880px;
    text-align: center;
}

#pnlGuardarLYE {
    margin: 10px 0px;
    width: 890px;
}

#btnGuardar {
    margin: 0px 0px 0px 10px;
}

#pnlPagination {
    width: 898px;
    margin: 5px 0px;
    padding: 0px 2px;
    height: 32px;
}

.btnAtras {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.btnAdelante {
    margin: 0px;
    padding: 0px;
}

.ocultarDisplay {
    display: none;
}

.margenParaDisplayLeft {
    margin-left: 50px;
}

.margenParaDisplayRight {
    margin-right: 30px;
}

.pnlResultadoGlobal {
    margin: 0px;
    padding: 0px;
}

.lblGlobal {
    text-align: center;
    margin: 0px;
    padding: 0px 0px 0px 50px;
    font-size: 12px;
    width: 873px;
}

.negrita {
    font-family: bold;
    color: #1b6d85;
}

.btnModifFecha {
    margin-left: 10px;
}

.btnModifFecha:hover {
    cursor: pointer;
}

#txtHoraInicio {
    z-index: 10000;
}

#btnAbrirEnviar {
    border: none;
    background: none;
}

.spnClase {
    font-size: 30px;
}

.spnClase:hover {
    cursor: pointer;
}

#spnCancel {
    color: red;
}

#spnOk {
    color: green;
}

.mdlCambiarFecha {
    width: 450px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px dotted #000000;
    position: absolute;
    top: 380px;
    left: 300px;
    background-color: white;
    z-index: 100000;
}

.pnlHeaderMF {
    height: 40px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

#txtFechaInicio {
    width: 200px;
    text-align: center;
}

#txtHoraInicio {
    width: 150px;
    text-align: center;
}

.exampleModalLabel {
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.pnlMFValores {
    padding: 13px 0px 13px 45px;
}

#spnError1 {
    width: 350px;
    margin: 5px 0px 0px 10px;
}

#spnError2 {
    width: 350px;
    margin: 5px 0px 0px 30px;
}

#pError1 {
    display: inline;
}

#pError2 {
    display: inline;
}

.pnlFooterBtn {
    padding: 2px 30px 0px 0px;
}

.pnlFooterBtn span {
    margin-left: 20px;
}

#txtNombreFecha {
    width: 300px;
    margin-left: 26px;
    padding-left: 10px;
}

.btnModifNombreFec {
    margin: 0px 10px 0px 10px;
}

.btnModifNombreFec:hover {
    cursor: pointer;
}