/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */

#pnlTabla {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    overflow-x: auto;
}

.thMasChico {
    padding: 0px;
    margin: 0px;
    width: 150px;
    text-align: center;
}

.thMasGrande {
    padding: 0px;
    margin: 0px;
    width: 250px;
    min-width: 250px;
    text-align: center;
}

.tdDetalleExtra {
    font-family: bold;
}

.txtDetalleExtraReal {
    width: 200px;
    font-size: 12px;
}

.pnlDetalleDentro {
    padding: 0px;
    margin: 0px;
}

.lblDetalleUsuario {
    float: left;
    margin: 2px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.chkExtraUsu {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.pnlChkExtraUsu {
    float: left;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
}

.margenArriba {
    margin-bottom: 15px;
    height: 40px;
}

.ocultar {
    display: none;
}

#btnGuardarOculto {
    margin: 10px 0px 0px 300px;
}

#btnGuardarVisible {
    margin: 0px 0px 0px 0px;
}

#btnGuardarYCOnfirmarVisible {
    margin: 0px 0px 0px 20px;
    width: 150px;
}

.font12 {
    font-size: 12px;
}

.separar{
    margin-left: 10px;
}

.pnlTodoDentro{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

.font16{
    font-size: 16px;
}