/* -------------------Los div contenedores mas altos ------------------------------ */


#accordion {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    width: 875px;
	background: transparent;
}

#pnlSuperiorLiga {
    margin: 0px 0px 5px 0px;
    padding: 0px;
	background: transparent;
}

#pnlSuperiorLigaExtra {
    margin: 0px 0px 5px 0px;
    padding: 0px;
	background: transparent;
}

#pnlSuperiorEliminacion {
    margin: 0px 0px 5px 0px;
    padding: 0px;
	background: transparent;
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */

#headingOne {
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#h4Liga {
    margin: 0px;
    padding: 0px;
}

#aLiga {
    float: left;
    margin: 6px 0px 0px 18px;
    padding: 2px 0px 0px 0px;
}

#aLiga label:hover {
    cursor: pointer;
}

#spnLiga {
    float: left;
    margin: -28px 0px 0px 801px;
    padding: 0px;
    font-size: 23px;
}
#headingTwo {
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#h4LigaExtra {
    margin: 0px;
    padding: 0px;
}

#aLigaExtra {
    float: left;
    margin: 6px 0px 0px 18px;
    padding: 2px 0px 0px 0px;
}

#aLigaExtra label:hover {
    cursor: pointer;
}

#spnLigaExtra {
    float: left;
    margin: -28px 0px 0px 801px;
    padding: 0px;
    font-size: 23px;
}

#headingThree {
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#h4Eliminacion {
    margin: 0px;
    padding: 0px;
}

#aEliminacion {
    float: left;
    margin: 6px 0px 0px 18px;
    padding: 2px 0px 0px 0px;
}

#aEliminacion label:hover {
    cursor: pointer;
}

#spnEliminacion {
    float: left;
    margin: -28px 0px 0px 801px;
    padding: 0px;
    font-size: 23px;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */

#pnlBodyCrearPuntos {
    padding: 0px;
    margin: 0px;
}

#collapseOne {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#collapseTwo {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#collapseThree {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/* ------------------- Las filas de los contenedores ---------------------------------- */

#pnl1FilaArriba {
    padding: 0px;
    margin: 3px 0px 0px 0px;
}

#pnlCantYTipo {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnl1filaLiga {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnl2filaLiga {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnl1filaLigExtra {
    margin: 0px 0px 3px 0px;
    padding: 0px;
}

#pnl2filaLigExtra {
    padding: 0px;
    margin: 0px;
}

#pnl3filaLigExtra {
    padding: 0px;
    margin: 0px;
}

#pnl1filaEliminacion {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnl2filaEliminacion {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnl3filaEliminacion {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/* -------------------Lo que esta dentro de la parte torneo general ---------------------------------- */

#lblNombreTorneo {
    font-size: 14px;
    width: 150px;
    padding: 0%;
    margin: 3px 0px 0px 30px;
}

#txtNombreTorneo {
    font-size: 11px;
    width: 662px;
    height: 30px;
    margin: 0px 0px 0px 10px;
}

#lblCantEquipos {
    font-size: 14px;
    width: 170px;
    padding: 0%;
    margin: 12px 0px 0px 30px;
}

#txtCantEquipos {
    font-size: 11px;
    width: 230px;
    height: 30px;
    padding: 2px 10px;
    margin: 6px 0px 0px -10px;
}

#lblTipoTorneo {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 12px 0px 0px 115px;
}

#cmbTipoTorneo {
    font-size: 11px;
    width: 278px;
    height: 30px;
    padding: 2px 10px;
    margin: 6px 0px 0px -30px;
}

/* -------------------Lo que esta dentro de Liga ---------------------------------- */

#pnlLigaAdentro {
    margin: 0px;
    padding: 4px;
}

#lblFormaLiga {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 5px 0px 0px 25px;
}

#cmbFormaLiga {
    font-size: 11px;
    width: 180px;
    height: 30px;
    margin: 2px 0px 0px 10px;
    padding: 5px;
}

#lblVueltaGrupo {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 5px 0px 0px 110px;
}

#cmbVueltaGrupo {
    font-size: 11px;
    width: 260px;
    height: 30px;
    margin: 2px 0px 0px 0px;
    padding: 5px;
}

#lblFechasAdic {
    font-size: 14px;
    width: 160px;
    padding: 0px;
    margin: 5px 0px 0px 25px;
}

#cmbFechasAdic {
    font-size: 11px;
    width: 180px;
    height: 30px;
    margin: 2px 0px 0px -10px;
    padding: 5px;
}

#lblpartDesem {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 5px 0px 0px 20px;
}

#pnlPartidoDes {
    border: none;
}

#chcpartDesem {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: -1px 0px 0px -5px;
    padding: 5px;
    border: none;
    font-size: 14px;
	background: transparent;
	color: black;
}

#chcpartDesem input {
    margin-left: 10px;
}

#pnlPuntos {
    width: 840px;
    margin: 0px 0px 10px 10px;
    padding: 0px;
	background: transparent;
}

#pnlHeadingPuntos {
    margin: 0px;
    padding: 2px 0px 0px 0px;
    height: 22px;
    text-align: center;
}

#pnlTitlePuntos {
    margin: 0px;
    padding: 0px;
}

#lblPxG {
    font-size: 14px;
    width: 110px;
    padding: 0px;
    margin: 11px 0px 0px 12px;
}

#txtPxG {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px 5px;
    padding: 5px;
    text-align: center;
}

#lblPxE {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 11px 0px 0px 15px;
}

#txtPxE {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px -7px;
    padding: 5px;
    text-align: center;
}

#lblPxP {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 11px 0px 0px 0px;
}

#txtPxP {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px -15px;
    padding: 5px;
    text-align: center;
}

.contPuntos {
    padding: 0px;
    margin: 0px 0px 3px 0px;
}

/* -------------------Lo que esta dentro de Liga extra ---------------------------------- */

#pnlLigaExtraAdentro {
    margin: 0px 0px 3px 0px;
    padding: 5px;
}

#lblCantGrupos {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 10px 0px 0px 15px;
}

#txtCantGrupos {
    font-size: 11px;
    width: 200px;
    height: 30px;
    margin: 5px 0px 0px 14px;
    padding: 5px;
    text-align: center;
}

#lblEquipGrupos {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 10px 0px 0px 40px;
}

#txtEquipGrupos {
    font-size: 11px;
    width: 235px;
    height: 30px;
    margin: 5px 0px 0px 30px;
    padding: 5px;
    text-align: center;
}


#lblClasPorGrupo {
    font-size: 14px;
    width: 200px;
    padding: 0px;
    margin: 10px 0px 0px 15px;
}

#txtClasPorGrupo {
    font-size: 11px;
    width: 200px;
    height: 30px;
    margin: 8px 0px 0px -35px;
    padding: 5px;
    text-align: center;
}

#lblClasAdic {
    font-size: 14px;
    width: 180px;
    padding: 0px;
    margin: 10px 0px 0px -10px;
}

#txtClasAdic {
    font-size: 11px;
    width: 235px;
    height: 30px;
    margin: -28px 0px 0px 170px;
    padding: 5px;
    text-align: center;
}

#lblTipoClasif {
    font-size: 14px;
    width: 200px;
    padding: 0px;
    margin: 10px 0px 0px 15px;
}

#cmbTipoClasif {
    font-size: 11px;
    width: 200px;
    height: 30px;
    margin: 8px 0px 0px -35px;
    padding: 5px;
}

/* -------------------Lo que esta dentro de Liga extra ---------------------------------- */

#pnlEliminacionAdentro {
    margin: 0px 0px 5px 0px;
    padding: 5px;
}

#lblComienzo {
    font-size: 14px;
    width: 200px;
    padding: 0px;
    margin: 10px 0px 0px 15px;
}

#cmbComienzo {
    font-size: 11px;
    width: 200px;
    height: 30px;
    margin: 4px 0px 0px -10px;
    padding: 5px;
}

#lblFormaElim {
    font-size: 14px;
    width: 180px;
    padding: 0px;
    margin: 10px 0px 0px 40px;
}

#cmbFormaElim {
    font-size: 11px;
    width: 180px;
    height: 30px;
    margin: 4px 0px 0px -10px;
    padding: 5px;
}

#lblTercerPuesto {
    font-size: 14px;
    width: 160px;
    padding: 0px;
    margin: 5px 0px 0px 15px;
}

#chcTercerPuesto {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin: 0px 0px 0px 30px;
    padding: 5px;
    border: none;
	color: black;
	background: transparent;
}

#chcTercerPuesto input {
    margin-left: 10px;
}

#lblGolVisita {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 5px 0px 0px 15px;
}

#chcGolVisita {
    font-size: 11px;
    width: 300px;
    height: 30px;
    margin: 0px 0px 0px 40px;
    padding: 5px;
    border: none;
}

#lblFormaFinal {
    font-size: 14px;
    width: 140px;
    padding: 0%;
    margin: 5px 0px 0px 80px;
}

#cmbFormaFinal {
    font-size: 11px;
    width: 180px;
    height: 30px;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

#btnGuardar1 {
    width: 200px;
    height: 30px;
    margin: 10px 0px 20px 300px;
    padding: 5px;
}

#btnGuardarOculto {
    margin: 0px;
    padding: 0px;
}

form {
    margin: 0px;
    padding: 0px;
}