/* -------------------Adentro de la primera parte ------------------------------ */

#pnl1fila {
    padding: 0px;
    margin: 3px 0px 0px 60px;
}

#pnl2fila {
    padding: 0px;
    margin: 10px 0px 0px 15px;
}

#pnl3fila {
    padding: 0px;
    margin: 10px 0px 0px 60px;
}

/* -------------------Adentro del primer collapse ------------------------------ */

#lblCantidadEquiposT {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 7px 0px 0px 30px;
}

#lblCantidadEquiposD {
    font-size: 14px;
    width: 50px;
    height: 30px;
    margin: 3px 0px 0px 10px;
    background-color: gainsboro;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
    text-align: center;
    padding: 2px 0px 0px 0px;
}

#lblTipoTorneo {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 7px 0px 0px 70px;
}

#cmbTipoTorneo {
    font-size: 14px;
    width: 250px;
    height: 30px;
    margin: 3px 0px 0px -15px;
    padding: 0px 0px 0px 5px;
}

#lblFormaDesempate {
    font-size: 14px;
    width: 200px;
    padding: 0px;
    margin: 7px 0px 0px 30px;
}

#cmbFormaDesempate {
    font-size: 14px;
    width: 135px;
    height: 30px;
    margin: 3px 0px 0px -25px;
    padding: 0px 0px 0px 5px;
}

#lblFormaVuelta {
    font-size: 14px;
    width: 140px;
    padding: 0px;
    margin: 7px 0px 0px 5px;
}

#cmbFormaVuelta {
    font-size: 14px;
    width: 300px;
    height: 30px;
    margin: 2px 0px 0px 0px;
    padding: 5px;
}

#lblGolVisita {
    font-size: 14px;
    width: 200px;
    padding: 0px;
    margin: 7px 0px 20px 250px;
}

#chcGolVisita {
    font-size: 14px;
    width: 100px;
    height: 30px;
    margin: 5px 0px 20px -65px;
    padding: 0px 0px 0px 5px;
    border: none;
    -moz-border: none;
    background: none;
}

#chcGolVisita input {
    margin-left: 10px;
}

#chcGolVisita label {
    margin-left: 5px;
}

#lblIsConfirm {
    font-size: 14px;
    width: 315px;
    padding: 0px;
    margin: 7px 0px 0px 180px;
}

#chcIsConfirm {
    font-size: 14px;
    width: 100px;
    height: 30px;
    margin: 3px 0px 0px -40px;
    padding: 0px 0px 0px 0px;
}

/* -------------------El resto ------------------------------ */

#lblAdvertencia {
    font-size: 14px;
    width: 850px;
    height: 30px;
    margin: 60px 0px 20px -470px;
    padding: 0px 0px 0px 0px;
}

#lblAdvertenciaTxt {
    font-size: 14px;
    width: 850px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#btnGuardar {
    width: 200px;
    height: 30px;
    margin: 10px 0px 20px 300px;
    padding: 5px;
}

#spnForma ul {
    margin: 5px 0px 0px -80px;
    width: 0px;
}

#spnForma li {
    width: 250px;
}

#spnTipo ul {
    margin: 5px 0px 0px -40px;
    width: 0px;
}

#spnTipo li {
    width: 250px;
}

#spnVuelta ul {
    margin: 5px 0px 0px -20px;
    width: 0px;
}

#spnVuelta li {
    width: 250px;
}