/* -------------------Los div contenedores mas altos ------------------------------ */
#pnlPartidos {
    margin: 3px 3px 20px 3px;
    padding: 0px;
	background: transparent;
}

.pnlPartido {
    padding: 0px;
    margin: 0px;
    width: 620px;
	background: transparent;
}

.pnlPartidoDentro {
    margin: 0px;
    padding: 0px;
    height: 20px;
	background: transparent;
}

.cntLoco {
    width: 623px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
	background: transparent;
}

.pnlEquipos {
    width: 250px;
    padding: 0px;
    margin: -90px 0px 0px 625px;
	background: transparent;
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */
#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 25px;
}

.pnlTPartido {
    padding: 0px;
    margin: 0px;
    height: 20px;
}

.pnlTituloPartido {
    padding: 0px;
    margin: 0px;
}

.lblfechaAt {
    width: 120px;
    padding: 0px;
    font-size: 11px;
    margin: 3px 0px 0px 200px;
}

.txtfechaAt {
    width: 200px;
    height: 18px;
    font-size: 11px;
    margin: -19px 0px 0px 270px;
    padding: 1px 10px;
}

.pnlTitEquipos {
    padding: 0px;
    margin: 0px;
    height: 20px;
    font-size: 11px;
    text-align: center;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#pnlBodyCrear1 {
    padding: 5px;
    margin: 0px;
}

.pnlBodyCrear3 {
    padding: 2px 10px;
    margin: 0px;
}

/* -------------------Los titulos de adentro de los contenedores ---------------------------------- */

#lblnomFecha {
    font-size: 11px;
    width: 100px;
    padding: 0%;
    margin: 7px 0px 0px 15px;
}

#txtNombreFecha {
    font-size: 11px;
    width: 250px;
    height: 22px;
    margin: 1px 0px 0px -10px;
    padding: 1px 10px;
}

#lblFechaInicio {
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: 7px 0px 0px -50px;
}

#txtFechaInicio {
    margin: 1px 0px 0px -17px;
    width: 200px;
    height: 22px;
    font-size: 11px;
    padding: 1px 10px;
}

#lblHoraInicio {
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: 7px 0px 0px -40px;
}

#txtHoraInicio {
    margin: -24px 0px 0px 730px;
    width: 135px;
    height: 22px;
    font-size: 11px;
    padding: 1px 10px;
}

/* -------------------Lo que esta dentro del div de los partidos ---------------------------------- */

.lblNumPartido {
    margin: 0px 0px 0px 5px;
    padding: 4px 0px 0px 0px;
    font-size: 11px;
    text-align: center;
    width: 40px;
}

.lblVs {
    margin: 0px 0px 0px 7px;
    padding: 4px 0px 0px 0px;
    font-size: 11px;
    text-align: center;
    width: 40px;
}

.txtLocal {
    margin: 0px 0px 0px -14px;
    padding: 1px 5px;
    font-size: 11px;
    text-align: center;
    width: 265px;
    height: 20px;
}

.txtVisita {
    margin: 0px 0px 0px -13px;
    padding: 1px 5px;
    font-size: 11px;
    text-align: center;
    width: 265px;
    height: 20px;
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

/* -------------------El resto ---------------------------------- */

.pnlEquipoLibreLbl {
    margin: 3px 0px 0px 180px;
    width: 120px;
    font-size: 11px;
    padding: 0px;
}

.txtEquipoLibre {
    margin: 1px 0px 0px -50px;
    width: 200px;
    font-size: 11px;
    padding: 0px;
    height: 18px;
}

.pnlIntE {
    padding: 0px;
    margin: 3px 0px;
    height: 20px;
}

.pnlIntE input {
    background: none;
    border: none;
}

.pnlIntE span:hover {
    cursor: pointer;
}

.bordeAzul {
    border: #269abc solid 3px;
}

.ocultar {
    display: none;
}

#spnLocal {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    width: 280px;
}

#spnVisita {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    width: 280px;
}

#spnLocal li {
    margin: 2px 0px 0px -40px;
    width: 250px;
}

#spnVisita li {
    margin: 2px 0px 0px -40px;
    width: 250px;
}

#spnLibre {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    width: 280px;
}

#spnLibre li {
    margin: 2px 0px 0px -40px;
    width: 250px;
}