.pnlTFecha {
    height: 18px;
}

#lblFecha {
    margin: -5px 0px 0px 15px;
    width: 120px;
    padding: 0px;
    font-size: 12px;
}

#txtNomFecha {
    margin: -9px 0px 0px -45px;
    width: 250px;
    height: 22px;
    padding: 1px 10px;
    font-size: 11px;
}

#pnlPartidos {
    width: 100%;
    margin: 0px 0px 20px 0px;
    background: transparent;
}

#pnlTitFecha {
    height: 25px;
}

#lblFechaInicio {
    margin: -5px 0px 0px -60px;
    width: 90px;
    padding: 0px;
    font-size: 12px;
}

#txtFechaAt {
    margin: -9px 0px 0px -25px;
    width: 180px;
    height: 22px;
    padding: 1px 10px;
    font-size: 11px;
    text-align: center;
}

#lblHoraInicio {
    margin: -4px 0px 0px -35px;
    width: 90px;
    padding: 0px;
    font-size: 12px;
}

#txtTimeAt {
    margin: -23px 0px 0px 700px;
    width: 140px;
    height: 22px;
    padding: 1px 10px;
    font-size: 11px;
    text-align: center;
}

#pnlBodyCrear1 {
    padding: 0px;
}

.pnlGrupo {
    margin: 3px;
    background: transparent;
}

.pnlTitGrupo {
    margin: 0px;
    padding: 0px;
    height: 20px;
}

.pnlTituloGrupo {
    padding: 0px;
    margin: 0px;
}

.lblTituloGrupo {
    width: 80px;
    padding: 0px;
    font-size: 11px;
    margin: 4px 0px 0px 300px;
}

.txtTituloGrupo {
    width: 250px;
    height: 18px;
    font-size: 11px;
    margin: 1px 0px 0px -50px;
    padding: 1px 5px;
}

.pnlBodyCrear2 {
    padding: 0px;
    margin: 3px;
}

.pnlPartido {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

.pnlPartidoTit {
    padding: 0px;
    height: 20px;
    margin: 0px;
}

.pnlTituloPartido {
    padding: 0px;
    margin: 0px;
}

.lblTituloPartido {
    width: 120px;
    padding: 0px;
    font-size: 11px;
    margin: 3px 0px 0px 200px;
}

.txtTituloPartido {
    width: 140px;
    height: 18px;
    font-size: 11px;
    margin: 0px 0px 0px -30px;
    padding: 1px 10px;
    text-align: center;
}

.lblHoraAt {
    width: 100px;
    padding: 0px;
    font-size: 11px;
    margin: -15px 0px 0px 150px;
}

.txtHoraAt {
    width: 120px;
    height: 18px;
    font-size: 11px;
    margin: -20px 0px 0px 550px;
    padding: 1px 10px;
    text-align: center;
}

.pnlBodyCrear3 {
    padding: 2px 10px;
}

.pnlPartidoDentro {
    padding: 0px;
    margin: 0px;
    font-size: 11px;
}

.lblNumPartido {
    margin: 0px 0px 0px 5px;
    padding: 4px 0px 0px 0px;
    height: 20px;
    width: 50px;
    text-align: center;
    color: white;
}

.txtLocal {
    margin: 0px 0px 0px -15px;
    padding: 0px;
    height: 20px;
    width: 380px;
    padding: 1px 5px;
}

.lblVs {
    margin: 0px 0px 0px 20px;
    padding: 3px 0px 0px 0px;
    height: 20px;
    width: 44px;
    text-align: center;
    color: white;
}

.txtVisita {
    margin: 0px 0px 0px -10px;
    padding: 0px;
    height: 20px;
    width: 380px;
    padding: 1px 5px;
}

.pnlEquipoLibre {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    height: 22px;
    width: 865px;
}

.lblEquipoLibre {
    margin: 0px 0px 0px 250px;
    padding: 0px;
}

.txtEquipoLibre {
    margin: 1px 0px 0px -60px;
    font-size: 12px;
    height: 20px;
    width: 250px;
    padding: 1px 5px;
}

.tableClass {
    margin: 0px;
    padding: 0px;
}

.ocultar {
    display: none;
}