#pnlDatosPrincipales {
    margin: 0px;
    padding: 0px;
	background: rgba(255,255,255,0.8);
}

#pnlDatosExtras {
    margin: 10px 0px;
    padding: 0px;
	background: rgba(255,255,255,0.8);
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */

#pnlHeadingTituloDatosPrincipales {
    padding: 0px;
    height: 25px;
}

#pnlTitleDatosPrincipales {
    font-size: 18px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align: center;
}

#pnlHeadingTituloDatosExtras {
    padding: 0px;
    height: 25px;
}

#pnlTitleDatosExtras {
    font-size: 18px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align: center;
}

/* -------------------El cuerpo del contenedor ---------------------------------- */

#pnlBodyCrearDatosPrincipales {
    padding: 0px;
    margin: 5px;
}

#pnlBodyCrearDatosExtras {
    padding: 0px;
    margin: 5px;
}

/* ------------------------------- Fila 1 ---------------------------------- */

.pnl1Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
    width: 840px;
}

#pnlCreadoPor {
    float: left;
    margin: 0px 0px 0px 0px;
}

#lblCreadoPor {
    float: left;
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px 0px 0px -10px;
    font-family: bold;
}

#pnlCreado {
    padding: 0px;
    margin: -5px 0px 0px 65px;
    width: 500px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
}

#lblThe {
    padding: 0px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    margin: 0px 0px 0px 15px;
    font-family: bold;
}

#lblCreadoEl {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: blue;
    text-align: center;
}

#lblBy {
    padding: 0px;
    height: 20px;
    width: 25px;
    font-size: 14px;
    margin: 0px 0px 0px 15px;
    font-family: bold;
}

#lblCreadoPorDetalle {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: blue;
    text-align: center;
}

#pnlEstado {
    margin: 0px 0px 0px 300px;
    padding: 0px;
}

#lblEstado {
    float: left;
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: -22px 0px 0px 600px;
    font-family: bold;
}

#lblEstadoDetalle {
    float: left;
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 16px;
    margin: -22px 0px 0px 680px;
    font-family: cursive;
    color: orangered;
}

/* ------------------------------- Fila 2 ---------------------------------- */

.pnl2Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblApuestaSimbolica {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px;
    font-family: bold;
}

#lblApuestaSimbolicaDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: orchid;
    text-align: center;
}

#lblCantParticipantes {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 14px;
    margin: 0px;
    font-family: bold;
}

#lblCantParticipantesDetalle {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: orchid;
    text-align: center;
}

#lblCampeon {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: bold;
}

#lblCampeonDetalle {
    padding: 0px;
    height: 20px;
    width: 140px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: #0088CC;
}

/* ------------------------------ 3 fila ---------------------------------- */

.pnl3Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblPuntosGanados {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblPuntosGanadosDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 12px;
    margin: 0px 0px 0px -10px;
    font-family: cursive;
    text-align: center;
    color: Brown;
}

#lblPuntosEmpate {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 80px;
    font-family: bold;
}

#lblPuntosEmpateDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 12px;
    margin: 0px 0px 0px -15px;
    font-family: cursive;
    color: Brown;
    text-align: center
}

#lblPuntosPerdidos {
    padding: 0px;
    height: 20px;
    width: 140px;
    font-size: 14px;
    margin: 5px 0px 0px 90px;
    font-family: bold;
}

#lblPuntosPerdidosDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
    text-align: center
}

/* ------------------------------ Resto ----------------------------------- */

.claseIzquierda {
    text-align: left;
}

.claseCentro {
    text-align: center;
}