/* -------------------Titulo del torneo ------------------------------ */

/* -------------------Los div contenedores mas altos ------------------------------ */

#pnlDatosPrincipales {
    margin: 0px;
    padding: 0px;
	background: transparent;
}

#pnlDatosLiga {
    margin: 10px 0px;
    padding: 0px;
	background: transparent;
}

#pnlDatosEliminacion {
    margin: 0px;
    padding: 0px;
	background: transparent;
}

/* -------------------Los titulos general de los contenedores ---------------------------------- */

#pnlHeadingTituloDatosPrincipales {
    padding: 0px;
    height: 25px;
}

#pnlTitleDatosPrincipales {
    font-size: 18px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align: center;
}

#pnlHeadingTituloDatosLiga {
    padding: 0px;
    height: 25px;
}

#pnlTitleDatosLiga {
    font-size: 18px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align: center;
}

#pnlHeadingTituloDatosEliminacion {
    padding: 0px;
    height: 25px;
}

#pnlTitleDatosEliminacion {
    font-size: 18px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align: center;
}

/* -------------------El cuerpo del contenedor ---------------------------------- */

#pnlBodyCrearDatosPrincipales {
    padding: 0px;
    margin: 5px;
}

#pnlBodyCrearDatosLiga {
    padding: 0px;
    margin: 5px;
}

#pnlBodyCrearDatosEliminacion {
    padding: 0px;
    margin: 5px;
}
/* ------------------------------- Fila 1 ---------------------------------- */

.pnl1Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblCreadoPor {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px;
    font-family: bold;
}

#pnlCreado {
    padding: 0px;
    margin: -25px 0px 0px 60px;
    width: 470px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
}

#lblThe {
    padding: 0px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    margin: 0px 0px 0px 15px;
    font-family: bold;
}

#lblCreadoEl {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: blue;
    text-align: center;
}

#lblBy {
    padding: 0px;
    height: 20px;
    width: 25px;
    font-size: 14px;
    margin: 0px 0px 0px 15px;
    font-family: bold;
}

#lblCreadoPorDetalle {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: blue;
    text-align: center;
}

#pnlEstado {
    margin: -25px 0px 0px 570px;
    padding: 0px;
}

#lblEstado {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblEstadoDetalle {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: orangered;
}

/* ------------------------------- Fila 2 ---------------------------------- */

.pnl2Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblClaseTorneo {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px;
    font-family: bold;
}

#lblClaseTorneoDetalle {
    padding: 0px;
    height: 20px;
    width: 160px;
    font-size: 14px;
    margin: 0px;
    font-family: cursive;
    color: Brown;
}

#lblTipoTorneo {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px 0px 0px -15px;
    font-family: bold;
}

#lblTipoTorneoDetalle {
    padding: 0px;
    height: 20px;
    width: 160px;
    font-size: 14px;
    margin: 0px;
    font-family: cursive;
    color: Brown;
}

#lblCampeon {
    padding: 0px;
    height: 20px;
    width: 110px;
    font-size: 14px;
    margin: 0px;
    font-family: bold;
}

#lblCampeonDetalle {
    padding: 0px;
    height: 20px;
    width: 160px;
    font-size: 16px;
    margin: 0px;
    font-family: cursive;
    color: #0088CC;
}

/* ------------------------------ 3 fila ---------------------------------- */

.pnl3Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblCantEquipos {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblCantEquiposDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

#lblCantidadGrupos {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 70px;
    font-family: bold;
}

#lblCantidadGruposDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

#lblEquipoGrupo {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 100px;
    font-family: bold;
}

#lblEquipoGrupoDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 4 fila ---------------------------------- */

.pnl4Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblFormaGrupo {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblFormaGrupoDetalle {
    padding: 0px;
    height: 20px;
    width: 90px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

#lblFormaVuelta {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 140px;
    font-family: bold;
}

#lblFormaVueltaDetalle {
    padding: 0px;
    height: 20px;
    width: 260px;
    font-size: 14px;
    margin: 0px 0px 0px 3px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 5 fila ---------------------------------- */

.pnl5Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblClasificadosGrupo {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblClasificadosGrupoDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: cursive;
    color: Brown;
}

#lblClasificados {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 70px;
    font-family: bold;
}

#lblClasificadosDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

#lblFechasAdicionales {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 80px;
    font-family: bold;
}

#lblFechasAdicionalesDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 3px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 6 fila ---------------------------------- */

.pnl6Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblPuntosGanados {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblPuntosGanadosDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px -10px;
    font-family: cursive;
    color: Brown;
}

#lblPuntosEmpate {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 80px;
    font-family: bold;
}

#lblPuntosEmpateDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: cursive;
    color: Brown;
}

#lblPuntosPerdidos {
    padding: 0px;
    height: 20px;
    width: 140px;
    font-size: 14px;
    margin: 0px 0px 0px 90px;
    font-family: bold;
}

#lblPuntosPerdidosDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 7 fila ---------------------------------- */

.pnl7Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblComienzoEliminacion {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblComienzoEliminacionDetalle {
    padding: 0px;
    height: 20px;
    width: 120px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: cursive;
    color: Brown;
}

#lblFormaEliminacion {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 30px;
    font-family: bold;
}

#lblFormaEliminacionDetalle {
    padding: 0px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    font-family: cursive;
    color: Brown;
}

#lblTercerPuesto {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblTercerPuestoDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px -30px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 8 fila ---------------------------------- */

.pnl8Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 20px;
}

#lblFormaFinal {
    padding: 0px;
    height: 20px;
    width: 180px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-family: bold;
}

#lblFormaFinalDetalle {
    padding: 0px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    margin: 0px 0px 0px -50px;
    font-family: cursive;
    color: Brown;
}

#lblPartidoDesempate {
    padding: 0px;
    height: 20px;
    width: 150px;
    font-size: 14px;
    margin: 0px 0px 0px 100px;
    font-family: bold;
}

#lblPartidoDesempateDetalle {
    padding: 0px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    margin: 0px 0px 0px -10px;
    font-family: cursive;
    color: Brown;
}

#lblGolVisita {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    margin: 0px 0px 0px 20px;
    font-family: bold;
}

#lblGolVisitaDetalle {
    padding: 0px;
    height: 20px;
    width: 60px;
    font-size: 14px;
    margin: 0px 0px 0px -20px;
    font-family: cursive;
    color: Brown;
}

/* ------------------------------ 9 fila ---------------------------------- */

.pnl9Linea {
    padding: 0px;
    margin: 10px 20px;
    height: 25px;
}

#lblFechaComienzo {
    padding: 0px;
    height: 20px;
    width: 130px;
    font-size: 20px;
    margin: 0px 0px 0px 200px;
    font-family: bold;
}

#lblFechaComienzoDetalle {
    padding: 0px;
    height: 20px;
    width: 450px;
    font-size: 16px;
    margin: 0px 0px 0px -15px;
    font-family: cursive;
    color: darkblue;
}