#pnlMisAPuestas {
    width: 430px;
    height: 220px;
    padding: 0px;
    margin: 0px 0px 0px 10px;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#pnlTitMisApuestas {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlBodyMisApuestas {
    background: none;
    text-align: center;
}

.enlinea {
    display: inline;
}

.fondoAP {
    background-color: #999999;
    padding: 3px;
    border: solid 1px white;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin: 0px 0px 10px 0px;
}

#pnlTorneosEnProgreso {
    width: 430px;
    height: 220px;
    padding: 0px;
    margin: -220px 0px 0px 450px;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#pnlTitTorneosEnProgreso {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlBodyTorneosEnProgreso {
    background: none;
    text-align: center;
}

#pnlApuestasTodas {
    width: 430px;
    height: 220px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#pnlTitApuestasTodas {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlBodyApuestasTodas {
    background: none;
    text-align: center;
}

#pnlTorneosTodos {
    width: 430px;
    height: 220px;
    padding: 0px;
    margin: -220px 0px 10px 450px;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#pnlTitTorneosTodos {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlBodyTorneosTodos {
    background: none;
    text-align: center;
}

#tblApuestasParticipando {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblApuestasParticipando th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasParticipando tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblApuestasParticipando td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblTorneosEjecucion {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblTorneosEjecucion th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblTorneosEjecucion tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblTorneosEjecucion td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasInscripcion {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblApuestasInscripcion th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasInscripcion tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblApuestasInscripcion td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblTorneosFinalizados {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblTorneosFinalizados th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblTorneosFinalizados tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblTorneosFinalizados td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasComenzadasNoParticipando {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblApuestasComenzadasNoParticipando th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasComenzadasNoParticipando tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblApuestasComenzadasNoParticipando td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasFinalizadasParticipando {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblApuestasFinalizadasParticipando th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasFinalizadasParticipando tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblApuestasFinalizadasParticipando td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasFinalizadasNoParticipando {
    width: 390px;
    max-height: 200px;
    font-size: 10px;
    margin: 5px 0px;
}

#tblApuestasFinalizadasNoParticipando th {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

#tblApuestasFinalizadasNoParticipando tr {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
}

#tblApuestasFinalizadasNoParticipando td {
    padding: 3px 0px;
    margin: 0px;
    height: 10px;
    text-align: center;
}

.red {
    color: red;
}

#pnlInfo {
    margin: 0px;
    padding: 0px;
    margin: 5px 0px;
    padding: 0px;
}

#pnlRojo {
    border: none;
    background-color: red;
    height: 10px;
    width: 10px;
    margin: 15px 0px 5px 0px;
    padding: 0px;
}

#pnlVerde {
    border: none;
    background-color: green;
    height: 10px;
    width: 10px;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#pnlGris {
    border: none;
    background-color: gray;
    height: 10px;
    width: 10px;
    margin: 5px 0px 5px 0px;
    padding: 0px;
    font-size: 10px;
}

#pRojo {
    margin: -17px 0px 5px -195px;
    padding: 0px;
    font-size: 10px;
}

#pVerde {
    margin: -17px 0px 0px -210px;
    padding: 0px;
    font-size: 10px;
}

#pGris {
    margin: -17px 0px 0px -227px;
    padding: 0px;
    font-size: 10px;
}

#pnlExtraParticipando {
    border: solid 1px white;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.gris {
    background-color: gray;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.aExtra {
    margin: 0px;
    padding: 0px;
    width: 20px;
}

.aExtra p {
    margin: 0px;
    padding: 0px;
    border: none;
}

.aExtra:hover {
    text-decoration: none;
}

#pnlFechaParticipando {
    border: solid 1px white;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.posPP2 {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    width: 20px;
    font-size: 10px;
}

.pos1 {
    margin: -20px 0px 0px 7px;
    padding: 0px;
    /*width: 20px;*/
}

.pos2 {
    margin: -14px 0px 3px 14px;
    padding: 0px;
    /*width: 20px;*/
}

#p3 {
    margin: -2px 0px 0px 0px;
    padding: 0px;
}

.th1 {
    min-width: 180px;
}

.th2 {
    min-width: 75px;
}

.th3 {
    min-width: 60px;
}

#tblApuestasParticipando tr {
    height: 30px;
}

.pose1 {
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.posP2 {
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

#pnlSpan {
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#pnlNG {
    margin: 2px 0px 0px -370px;
    padding: 0px;
    font-size: 12px;
}

#pNG {
    margin: -15px 0px 5px -215px;
    padding: 0px;
    font-size: 10px;
}

.posPP1 {
    margin: 2px 0px 2px 0px;
    padding: 0px;
}

.posP1 {
    margin: 35px 0px 0px 0px;
    padding: 0px;
}

.pFechaLimite1 {
    margin: 0px;
    padding: 0px;
}

.pFechaLimite2 {
    margin: 0px;
    padding: 0px;
}