#pnlMisAPuestas {
    float: left;
    width: 600px;
    height: 700px;
    padding: 0px;
    margin: 0px 0px 0px 10px;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#pnlTitMisApuestas {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlBodyMisApuestas {
    background: none;
}

.enlinea {
    display: inline;
}

.pnlAcciones {
    display: inline;
    border-radius: 70px 70px 70px 70px;
    -moz-border-radius: 70px 70px 70px 70px;
    -webkit-border-radius: 70px 70px 70px 70px;
    border: 1px solid #000000;
    padding: 5px;
    margin: 5px;
}

.marginNecesario {
    margin: 10px 0px 0px 0px;
}

.pnlExtraLimite {
    display: inline;
}

.pnlExtraFecha {
    display: inline;
}

.fontNecesario {
    font-size: 12px;
}

#pnlSpan {
    height: 70px;
    width: 70px;
    margin: -75px 0px 0px 450px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid red;
    padding: 15px 0px 0px 7px;
}

#pnlSpan span {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
}

#pnlSpan a {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.leftM {
    margin-left: 20px;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.LetraVerde {
    color: #2b542c;
}

.LetraRojo {
    color: red;
}

#pnlAPuestasRestantes {
    float: left;
    width: 260px;
    height: 220px;
    padding: 0px;
    margin: -700px 10px 0px 620px;
    background: none;
}

#pnlTorneos {
    float: left;
    width: 260px;
    height: 220px;
    padding: 0px;
    margin: -470px 10px 0px 620px;
    background: none;
}

#pnlTitApuestasRestantes {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pnlTitTorneos {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#cmbAROpciones li {
    padding-left: 10px;
}

#cmbAROpciones option:hover {
    cursor: pointer;
}

#cmbARApuestasOpciones {
    margin: 10px 0px 0px 0px;
}

#pnlARSpan {
    height: 40px;
    width: 220px;
    margin: 20px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid red;
    padding-top: 12px;
}

#pnlARSpan span {
    padding: 0px;
    margin: 0px 0px 0px 18px;
    font-size: 16px;
}

#pnlARSpan a {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

#cmbTOOpciones li {
    padding-left: 10px;
}

#cmbTOOpciones option:hover {
    cursor: pointer;
}

#cmbTOTorneosOpciones {
    margin: 20px 0px 0px 0px;
}

#pnlTOSpan {
    height: 40px;
    width: 220px;
    margin: 20px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid red;
    padding-top: 12px;
}

#pnlTOSpan span {
    padding: 0px;
    margin: 0px 0px 0px 18px;
    font-size: 16px;
}

#pnlTOSpan a {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.pnlCantApuestas {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#pCantApuestas {
    display: inline;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid blue;
    background-color: white;
    padding: 4px;
}

.pnlCantTorneos {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#pCantTorneos {
    display: inline;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid blue;
    background-color: white;
    padding: 4px;
}

.padding2 {
    padding-left: 60px;
}

.padding3 {
    padding-left: 45px;
}

.padding4 {
    padding-left: 25px;
}

.padding5 {
    padding-left: 10px;
}