#pnlGuardar{
   /* margin-left:150px;*/
}

#btnGuardar{
    width:130px;
    height:40px;
    font-size:20px;
    margin: 0px;
    padding: 0px;
}

#aRecuperar{
    color: black;
    background: none;
    border: none;
}

#aRecuperar:hover{
    color: blue;
}

#pnlRecuperar{
    margin: -10px 0px 0px -20px;
    padding: 0px;
    font-weight: bold;
}