#pnlUsuario {
    margin: 0px;
    margin: 10px 0px 10px 46px;
}

#pnlTextUsuario {
    width: 690px;
    margin: 0px;
    margin: 0px;
}

#pnlEmail {
    margin: 0px;
    margin: 10px 0px 10px 46px;
}

#pnlTextEmail {
    width: 690px;
    margin: 0px;
    margin: 0px;
}

#pnlContrasena {
    margin: 0px;
    margin: 10px 0px 10px 45px;
}

#pnlTextContrasena {
    width: 690px;
    margin: 0px;
    margin: 0px;
}

#pnlRepetirContrasena {
    margin: 0px;
    margin: 10px 0px 10px 16px;
}

#pnlTextRepContrasena {
    width: 690px;
    margin: 0px;
    margin: 0px;
}

#lblRepetirContrasena {
    margin: 0px;
    margin: 0px;
    width: 171px;
}

.cmbGuardarAbajoSinEditar{
    margin: 10px 0px 10px 202px;
    padding: 3px;
}

.ocultar{
    display: none;
}

#spnUsuario li{
    margin-left: 140px;
    font-family: bold;
}

#spnEmail li{
    margin-left: 140px;
    font-family: bold;
}

#spnPass li{
    margin-left: 140px;
    font-family: bold;
}
