/* -------------------Los div contenedores mas altos ------------------------------ */
#pnlPartidos {
    margin: 10px 0px;
    padding: 0px;
	background: transparent;
}

.pnlGrupo {
    margin: 0px;
    padding: 0px;
	background: transparent;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#pnlBodyCrear1 {
    margin: 0px;
    padding: 3px
}

.pnlBodyCrear2 {
    margin: 0px;
    padding: 3px
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

.tableClass tr {
    margin: 0px;
    padding: 0px;
}

.pnlRespTabla {
    padding: 0px;
    margin: 0px;
}

.thParticipante {
    text-align: left;
}

.thResto {
    text-align: center;
}

.tdParticipante {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.tdResto {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* -------------------Los titulos de los contenedores ---------------------------------- */
#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitGrupo {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

/* ------------------------------------ Los totales ------------------------------------------- */

.pnlTotalGrupo {
    padding: 0px;
    margin: 0px;

}

.lblTotalGrupo {
    padding: 0px;
    margin: 0px 0px 0px 660px;
    font-size: 16px;
    width: 127px;
    font-family: bold;
    color: #0000F0;
}

.lblTotalGrupoDetalle {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    width: 60px;
    font-family: cursive;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 4px solid #000000;
    color: red;
}

.pnlTotalFecha {
    padding: 0px;
    margin: 5px 0px;

}

.lblTotalFecha {
    padding: 0px;
    margin: 0px 0px 0px 300px;
    font-size: 20px;
    width: 150px;
    font-family: bold;
    color: #0000F0;
}

.lblTotalFechaDetalle {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    width: 60px;
    font-family: cursive;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 4px solid #000000;
    color: red;
}

/* ------------------------------------Resto -------------------------------------------------- */

#pnlGuardarLYE {
    margin: 8px 0px 0px 350px;
}

.pnlParticipantes{
    margin: 0px 0px 0px 0px;
    position: fixed;
    top: 195px;
    left: 0px;
    width: 200px;
    height: 24px;
}

#btnParticipates{
    width: 200px;
    height: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    background-color: #454545;
    color: #269abc;
}

.ulParticipantes{
    background-color: #888888;
    color: #269abc;
    width: 200px;
    font-size: 14px;
}

.liParticipante{
    color: #269abc;
    font-size: 14px;
}

.aParticipante{
    color: #269abc;
    font-size: 14px;
}

.verdeclaro{
	background: rgba(24,148,45,0.8);
}

.fondoBlanco{
	background: rgba(255,255,255,0.8);
}

.claseP1{
    margin: 0px 0px 0px 10px;
    color: black;
}

.claseP2{
    margin: 0px 0px 10px 10px;
    color: black;
}

.pFechaLimite{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.trTD{
    margin: 0px;
    padding: 0px;
}