/* -------------------Los div contenedores mas altos ------------------------------ */
#pnlPartidos {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

.pnlGrupo {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

.pnlPartidosGrupo {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
#pnlBodyCrear1 {
    margin: 0px;
    padding: 3px
}

.pnlBodyCrear2 {
    margin: 0px;
    padding: 3px
}

.pnlBodyCrear3 {
    margin: 0px;
    padding: 3px
}

/* --------------------------------La tabla ----------------------------------------- */

.tableClass {
    margin: 0px;
    padding: 0px;
}

.tableClass tr {
    margin: 0px;
    padding: 0px;
}

/* -------------------Los titulos de los contenedores ---------------------------------- */

#pnlTitFecha {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitGrupo {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlTitpartido {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlPartidosFechaTit {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}

.pnlPartidosFecha {
    padding: 0px;
    margin: 0px;
}

/* -------------------Lo que esta dentro del div de los partidos ---------------------------------- */

.pnlPartidoDentro {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.lblNumPartidoDentro {
    margin: 0px;
    height: 22px;
    /* width: 50px;*/
    padding: 3px 0px;
    text-align: center;
    color: #0000F0;
}

.lblLocalPartidoDentro {
    height: 22px;
    padding: 3px 5px;
    margin: 0px;
    /*width: 335px;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #245269;
    background-color: #adadad;
    color: black;
}

.txtLocalResultado {
    width: 55px;
    height: 22px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    margin: -20px 0px 0px 360px;
}

.txtVisitaResultado {
    width: 55px;
    height: 22px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    margin: -20px 0px 0px 465px;
}

.lblVisitaPartidoDentro {
    height: 22px;
    padding: 3px 5px;
    margin: 0px;
    /*width: 335px;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #245269;
    background-color: #adadad;
    color: black;
}

.pnlEquipoLibre {
    padding: 0px;
    margin: 4px 0px 4px 350px;
}

.lblEquipoLibre {
    padding: 0px;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #245269;
    background-color: #adadad;
    color: black;
}

.ocultar {
    display: none;
}

.spnResLocal {
    width: 320px;
    margin: 3px 0px 0px -60px;
    text-align: center;
}

.pnl1 {
    width: 20px;
    text-align: center;
    margin: 0px 0px 0px 10px;
}

.pnl2 {
    width: 300px;
    text-align: center;
    margin: -20px 0px 0px 40px;
}

.pnl4 {
    width: 20px;
    text-align: center;
    margin: -20px 0px 0px 430px;
}

.pnl6 {
    width: 300px;
    text-align: center;
    margin: -20px 0px 0px 540px;
}