#pnlDatosPrincipales {
    background: none;
    text-align: center;
    width: 430px;
    margin: 10px 0px 0px 10px;
    padding: 0px;
    height: 300px;
}

.bodyDP{
    padding: 25px;
}
#h2User{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #007fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    margin: 10px 0px 20px 0px;
}

#pnlDatosPrincipales label {
    margin-bottom: 40px;
}

#aCambioClave {
    background: grey;
    border: none;
    padding: 5px 10px;
}

.blanco{
    color: blue;
}

.margen{
    margin: 5px;
}

#pnlDatosTYA {
    background: none;
    text-align: center;
    width: 430px;
    margin: -300px 0px 0px 450px;
    padding: 0px;
    height: 300px;
}
