/* -------------------Los cuerpos de los contenedores mas altos ------------------------------ */
.thParticipante {
    text-align: left;
}

.thResto {
    text-align: center;
    font-size: 12px;
}

.tdParticipante {
    text-align: left;
}

.tdResto {
    text-align: center;
}

.pnlRespTabla {
    padding: 0px;
    margin: 0px;
}

#tblEquipos {
    padding: 0px;
    margin: 0px;
}

.verdeclaro {
    background: rgba(24, 148, 45, 0.8);
}

.fondoBlanco {
    background: rgba(255, 255, 255, 0.8);
}

#spnEstrellitaIzq {
    font-size: 18px;
    color: yellow;
    margin: 0px 7px 0px 0px;
}

#spnEstrellitaDer {
    font-size: 18px;
    color: yellow;
    margin: 0px 0px 0px 7px;
}

#spnEstrellitaWinDate {
    font-size: 18px;
    color: #565656;
    margin: 0px 0px 0px 7px;
}

.posEquipo {
    display: inline;
    border: 1px blue solid;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 30px 30px 30px 30px;
    padding: 3px;
    margin: 0px 10px 0px 0px;
    background: white;
}

.enlinea {
    display: inline;
    margin-left: 30px;
}

.enlinea1 {
    margin: 0px 0px 0px 0px;
}

#lblNombrePosiciones {
    width: 250px;
    text-align: center;
}

#pnlFiltros {
    margin: 5px 0px 5px 30px;
}

#aGeneral {
    height: 10px;
}