.pnlNomGrupo {
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 3px solid #000000;
    background-color: red;
    width: 895px;
    padding: 0px;
    margin: 0px;
}

.lblNomGrupo {
    padding: 0px;
    margin: 0px 0px 0px 400px;
    font-size: 18px;
}

.pnlRespTabla {
    padding: 0px;
    margin: 0px;
}

.tblEquipos {
    padding: 0px;
    margin: 0px;
}

.tblEquipos th {
    text-align: center;
}

.tdValores {
    text-align: center;
}

#spnEstrellitaIzq {
    font-size: 18px;
    color: yellow;
    margin: 0px 7px 0px 0px;
}

#spnEstrellitaDer {
    font-size: 18px;
    color: yellow;
    margin: 0px 0px 0px 7px;
}

.cursiva {
    font-family: cursive;
}

.verdeclaro {
    background: rgba(24, 148, 45, 0.8);
}

.fondoBlanco {
    background: rgba(255, 255, 255, 0.8);
}

.posEquipo {
    display: inline;
    border: 1px blue solid;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 30px 30px 30px 30px;
    padding: 3px;
    margin: 0px 10px 0px 0px;
    background: white;
}