{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/datosTorneo.css') }}" type="text/css">
{% endblock %}

{% block fechas %}
    {{ parent() }}
    <div class="panel panel-success" id="pnlDatosPrincipales">
        <div class="panel-heading" id="pnlHeadingTituloDatosPrincipales">
            <h3 class="panel-title" id="pnlTitleDatosPrincipales">{% trans %}See main data{% endtrans %}</h3>
        </div>
        <div class="panel-body" id="pnlBodyCrearDatosPrincipales">
            <div class="row pnl1Linea">
                <label id="lblCreadoPor">{% trans %}Create:{% endtrans %}</label>

                <div class="" id="pnlCreado">
                    <label id="lblThe">{% trans %}The:{% endtrans %}</label>
                    <label id="lblCreadoEl">{{ datos.torneo.fechaCreacionAt|date("D, M d, Y") }}</label>
                    <label id="lblBy">{% trans %}By:{% endtrans %}</label>
                    <label id="lblCreadoPorDetalle">{{ datos.torneo.administradores[0].user.username }}</label>
                </div>
                <div class="" id="pnlEstado">
                    <label id="lblEstado">{% trans %}State:{% endtrans %}</label>
                    <label id="lblEstadoDetalle">{{ datos.torneo.estado }}</label>
                </div>
            </div>
            <div class="row pnl2Linea">
                <label id="lblClaseTorneo">{% trans %}Class:{% endtrans %}</label>
                <label id="lblClaseTorneoDetalle">{{ datos.torneo.clase }}</label>
                <label id="lblTipoTorneo">{% trans %}Tournament type:{% endtrans %}</label>
                <label id="lblTipoTorneoDetalle">{{ datos.torneo.tipoTorneo.nombre }}</label>
                <label id="lblCampeon">{% trans %}Champion:{% endtrans %}</label>
                <label id="lblCampeonDetalle">
                    {% if datos.torneo.campeon is not empty %}
                        {{ datos.torneo.campeon.nombre }}
                    {% else %}
                        No esta definido
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="panel panel-success" id="pnlDatosLiga">
        <div class="panel-heading" id="pnlHeadingTituloDatosLiga">
            <h3 class="panel-title" id="pnlTitleDatosLiga">{% trans %}See data league{% endtrans %}</h3>
        </div>
        <div class="panel-body" id="pnlBodyCrearDatosLiga">
            <div class="row pnl3Linea">
                <label id="lblCantEquipos">{% trans %}Amount of equipment:{% endtrans %}</label>
                <label id="lblCantEquiposDetalle">{{ datos.torneo.dato.cantEquipos }}</label>
                <label id="lblCantidadGrupos">{% trans %}Amount of groups:{% endtrans %}</label>
                <label id="lblCantidadGruposDetalle">
                    {% if datos.torneo.dato.cantGrupos is not empty %}
                        {{ datos.torneo.dato.cantGrupos }}
                    {% else %}
                        -----
                    {% endif %}
                </label>
                <label id="lblEquipoGrupo">{% trans %}Teams by group:{% endtrans %}</label>
                <label id="lblEquipoGrupoDetalle">
                    {% if datos.torneo.dato.equipGrupos is not empty %}
                        {{ datos.torneo.dato.equipGrupos }}
                    {% else %}
                        -----
                    {% endif %}
                </label>
            </div>
            <div class="row pnl4Linea">
                <label id="lblFormaGrupo">{% trans %}League form:{% endtrans %}</label>
                <label id="lblFormaGrupoDetalle">
                    {% if datos.torneo.dato.formaGrupo == 'idayvuelta' %}
                        Ida y vuelta
                    {% else %}
                        Solo ida
                    {% endif %}
                </label>
                <label id="lblFormaVuelta">{% trans %}Return form:{% endtrans %}</label>
                <label id="lblFormaVueltaDetalle">
                    {% if datos.torneo.dato.vueltaGrupo == 'igualIda' %}
                        {% trans %}Same as the one going to invest the localias{% endtrans %}
                    {% elseif datos.torneo.dato.vueltaGrupo == 'InversaIda' %}
                        {% trans %}Reverse one-way investment{% endtrans %}
                    {% else %}
                        {% trans %}Defining manually{% endtrans %}
                    {% endif %}
                </label>
            </div>
            <div class="row pnl5Linea">
                <label id="lblClasificadosGrupo">{% trans %}Classified by groups:{% endtrans %}</label>
                <label id="lblClasificadosGrupoDetalle">
                    {% if datos.torneo.dato.clasPorGrupo is not empty %}
                        {{ datos.torneo.dato.clasPorGrupo }}
                    {% else %}
                        -----
                    {% endif %}
                </label>
                <label id="lblClasificados">{% trans %}Additional classifieds:{% endtrans %}</label>
                <label id="lblClasificadosDetalle">
                    {% if datos.torneo.dato.clasAdic is not empty %}
                        {{ datos.torneo.dato.clasAdic }}
                    {% else %}
                        -----
                    {% endif %}
                </label>
                <label id="lblFechasAdicionales">{% trans %}Additional Dates:{% endtrans %}</label>
                <label id="lblFechasAdicionalesDetalle">
                    {% if datos.torneo.dato.fechasAdic is not empty %}
                        {{ datos.torneo.dato.fechasAdic }}
                    {% else %}
                        -----
                    {% endif %}
                </label>
            </div>
            <div class="row pnl6Linea">
                <label id="lblPuntosGanados">{% trans %}Per game won:{% endtrans %}</label>
                <label id="lblPuntosGanadosDetalle">{{ datos.torneo.dato.puntosPartGanados }}</label>
                <label id="lblPuntosEmpate">{% trans %}By tied match:{% endtrans %}</label>
                <label id="lblPuntosEmpateDetalle">{{ datos.torneo.dato.puntosPartEmpatados }}</label>
                <label id="lblPuntosPerdidos">{% trans %}By lost party:{% endtrans %}</label>
                <label id="lblPuntosPerdidosDetalle">{{ datos.torneo.dato.puntosPartPerdidos }}</label>
            </div>
        </div>
    </div>
    <div class="panel panel-success" id="pnlDatosEliminacion">
        <div class="panel-heading" id="pnlHeadingTituloDatosEliminacion">
            <h3 class="panel-title" id="pnlTitleDatosEliminacion">
                {% trans %}See data elimination{% endtrans %}
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyCrearDatosEliminacion">
            <div class="row pnl7Linea">
                <label id="lblComienzoEliminacion">{% trans %}Beginning of elimination:{% endtrans %}</label>
                <label id="lblComienzoEliminacionDetalle">
                    {% if datos.torneo.dato.comienzoElim is not empty %}
                        {% if datos.torneo.dato.comienzoElim == '_128avos' %}
                            128avos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_64avos' %}
                            64avos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_32avos' %}
                            32avos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_16avos' %}
                            16avos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_8avos' %}
                            Octavos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_4avos' %}
                            Cuartos de final
                        {% elseif datos.torneo.dato.comienzoElim == '_2avos' %}
                            Semifinal
                        {% elseif datos.torneo.dato.comienzoElim == '_1avos' %}
                            Final
                        {% else %}
                            ------
                        {% endif %}
                    {% else %}
                        -----
                    {% endif %}
                </label>
                <label id="lblFormaEliminacion">{% trans %}Form of elimination:{% endtrans %}</label>
                <label id="lblFormaEliminacionDetalle">
                    {% if datos.torneo.dato.formaElim == 'idayvuelta' %}
                        Ida y vuelta
                    {% else %}
                        Solo ida
                    {% endif %}
                </label>
                <label id="lblTercerPuesto">{% trans %}Third place match:{% endtrans %}</label>
                <label id="lblTercerPuestoDetalle">
                    {% if datos.torneo.dato.partTercerPuesto is not empty %}
                        {% if datos.torneo.dato.partTercerPuesto == 'true' %}
                            SI
                        {% else %}
                            NO
                        {% endif %}
                    {% else %}
                        -----
                    {% endif %}
                </label>
            </div>
            <div class="row pnl8Linea">
                <label id="lblFormaFinal">{% trans %}Form in the final:{% endtrans %}</label>
                <label id="lblFormaFinalDetalle">
                    {% if datos.torneo.dato.formaFinal is not empty %}
                        {% if datos.torneo.dato.formaFinal == 'idayvuelta' %}
                            Ida y vuelta
                        {% else %}
                            Solo ida
                        {% endif %}
                    {% else %}
                        -----
                    {% endif %}
                </label>
                <label id="lblPartidoDesempate">{% trans %}Tie breaker:{% endtrans %}</label>
                <label id="lblPartidoDesempateDetalle">
                    {% if datos.torneo.dato.partidoDesempate == 1 %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </label>
                <label id="lblGolVisita">{% trans %}Visitor goal:{% endtrans %}</label>
                <label id="lblGolVisitaDetalle">
                    {% if datos.torneo.dato.golVisitante == 1 %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="row pnl9Linea">
        <label id="lblFechaComienzo">{% trans %}Start date:{% endtrans %}</label>
        <label id="lblFechaComienzoDetalle">
            {% if datos.fechaComienzo is not empty %}
                {{ datos.fechaComienzo }}
            {% else %}
                No hay fecha ingresada de inicio
            {% endif %}
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/datosTorneo.js') }}"></script>
{% endblock %}