{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/completarResultadosFecha.css') }}" type="text/css">
{% endblock %}
  
{% block fechas %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_completar_resultados',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : datos.fechaBase.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaBase.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "arriba"} %}
    {% if datos.torneo.estado != "Finalizado" %}
        {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarArriba',
        'editar' : 'cmbEditarArriba', 'clase' : 'cmbGuardarArribaConEditar'} %}
    {% endif %}
    {{ form_start(form, {'method': 'POST','name' : 'frmResultadosTorneo','attr' : {'class' : 'form-horizontal',
        'role' : 'form','novalidate': 'novalidate'}}) }}

    {{ include('futfunBundle:TorneoCompletarResultados:messages/sucess.html.twig') }}
    {{ include('futfunBundle:TorneoCompletarResultados:messages/danger.html.twig') }}

    <div class="panel panel-info" id="pnlPartidos">

        <div class="panel-heading" id="pnlTitFecha">
            <h3 class="panel-title">
                <div class="row pnl-row" id="fechaDeLaFecha">
                    <label id="lblT1">Fecha</label>
                    <label id="lblT2">{{ datos.fechaBase.nombreFecha }}</label>
                    {% if datos.isHabEditar == false %}
                        <span class="glyphicon glyphicon-pencil btnModifNombreFec"
                              aria-hidden="true" data-lugar="lblT2"></span>
                    {% endif %}
                    <label id="lblT3">- Fecha comienzo:</label>
                    <label id="lblT4">
                        {% if datos.arrayFechas[0] is not empty %}
                            {{ datos.arrayFechas[0] }}
                        {% else %}
                            no hay fecha ingresada
                        {% endif %}
                    </label>
                    {% if datos.isHabEditar == false %}
                        <span class="glyphicon glyphicon-pencil btnModifFecha"
                              aria-hidden="true" data-lugar="lblT4"></span>
                    {% endif %}
                </div>
            </h3>
        </div>
        <div class="panel-body" id="pnlBodyCrear1">
            {% set i = 0 %}
            {% for grupoFecha in datos.fechaBase.grupoFechas %}
                {% set i = i + 1 %}
                <div class="panel panel-success pnlGrupos" disabled="disabled">
                    <div class="panel-heading pnlTitGrupo">
                        <div class="row pnl-row">
                            {% if grupoFecha.grupo is not empty %}
                                {% set grupoNombre = "Grupo " ~ grupoFecha.grupo.nombre %}
                            {% else %}
                                {% set grupoNombre = "No lleva nombre de grupo" %}
                            {% endif %}
                            {{ grupoNombre }}
                        </div>
                    </div>
                    <div class="panel-body pnlBodyCrear2">
                        <table class="table tableClass">
                            <tr>
                                {% set j = 0 %}
                                {% for partidoFecha in grupoFecha.partidoFechas %}
                                    {% set j = j + 1 %}
                                    <div class="panel panel-warning pnlPartidosGrupo">
                                        <div class="panel-heading pnlTitpartido">
                                            <div class="row pnl-row">
                                                <label id="lblT{{ i ~ j }}">
                                                    {% if datos.arrayFechas[i][j] is empty %}
                                                        No hay fecha ingresada
                                                    {% else %}
                                                        {{ datos.arrayFechas[i][j] }}
                                                    {% endif %}
                                                </label>
                                                {% if datos.isHabEditar == false %}
                                                    <span class="glyphicon glyphicon-pencil btnModifFecha"
                                                          aria-hidden="true" data-lugar="lblT{{ i ~ j }}"></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="panel-body pnlBodyCrear3">
                                            <div class="container pnlPartidosIndividual">
                                                {% if datos.fechaAnterior is empty %}
                                                    {% set globality = "" %}
                                                    {% set isGlobal = "false" %}
                                                    {% set valorLocalIda = 0 %}
                                                    {% set valorVisitaIda = 0 %}
                                                {% else %}
                                                    {% if datos.fechaAnterior.grupoFechas[i - 1].partidoFechas[j - 1].valorLocal is empty %}
                                                        {% set globality = "" %}
                                                        {% set isGlobal = "false" %}
                                                        {% set valorLocalIda = 0 %}
                                                        {% set valorVisitaIda = 0 %}
                                                    {% else %}
                                                        {% set valorLocalIda = datos.fechaAnterior.grupoFechas[i - 1].partidoFechas[j - 1].valorLocal %}
                                                        {% set valorVisitaIda = datos.fechaAnterior.grupoFechas[i - 1].partidoFechas[j - 1].valorVisita %}
                                                        {% set globality = "Global: " ~ (valorVisitaIda + partidoFecha.valorLocal) ~ " - " ~ (valorLocalIda + partidoFecha.valorVisita) %}
                                                        {% set isGlobal = "true" %}

                                                    {% endif %}
                                                {% endif %}
                                                <label class="col-xs-1 lblNumPartidoDentro">
                                                    {{ partidoFecha.numeroPartido }}
                                                </label>

                                                <div class="col-xs-3 lblNombreLocal {% if ganador[partidoFecha.numeroPartido] == "local" %}negrita{% endif %}">
                                                    {% if partidoFecha.local is empty %}
                                                        {% set localNombre = datos.datosEliminacion[j - 1].tipoLocal %}
                                                    {% else %}
                                                        {% set localNombre = partidoFecha.local.nombre %}
                                                    {% endif %}
                                                    <label id="lblLocal{{ i }}{{ partidoFecha.numeroPartido }}">{{ localNombre }}</label>
                                                </div>
                                                <div class="col-xs-1 lblResultLocal {% if datos.definicion == true %}margenParaDisplayLeft{% endif %}">
                                                    {{ form_widget(form['valorLocal' ~ i ~ partidoFecha.numeroPartido],
                                                    {'id' : 'txtResultadoLocal' ~ i ~ partidoFecha.numeroPartido,
                                                        'attr' : {'class' : 'form-control txtLocalRes ','readonly' : 'true',
                                                        'onchange' : 'habilitarDefinicionPenales("'~ datos.definicion ~'","'~ datos.isGolVisitante ~'",
                                                                "'~ valorLocalIda ~'","'~ valorVisitaIda ~'","'~ i ~'","'~ partidoFecha.numeroPartido ~'","true")'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['valorLocal' ~ i ~ partidoFecha.numeroPartido]) }}</span>
                                                </div>
                                                <div class="col-xs-1 lblValorDefLocal {% if datos.definicion == true %}ocultarDisplay{% endif %}">
                                                    {{ form_widget(form['valorDefinicionLocal' ~ i ~ partidoFecha.numeroPartido],
                                                    {'id' : 'txtValorDefinicionLocal' ~ i ~ partidoFecha.numeroPartido,
                                                        'attr' : {'class' : 'form-control txtValorDefLoc txtModificarWin','readonly' : 'true',
                                                        'onchange' : 'procesarGanador("'~ false ~ '","' ~ i ~'","' ~ partidoFecha.numeroPartido ~ '")'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['valorDefinicionLocal' ~ i ~ partidoFecha.numeroPartido]) }}</span>
                                                </div>
                                                <label class="col-xs-1 lblVs">VS</label>

                                                <div class="col-xs-1 lblValorDefVisita {% if datos.definicion == true %}ocultarDisplay{% endif %}">
                                                    {{ form_widget(form['valorDefinicionVisita' ~ i ~ partidoFecha.numeroPartido],
                                                    {'id' : 'txtValorDefinicionVisita' ~ i ~ partidoFecha.numeroPartido,
                                                        'attr' : {'class' : 'form-control txtValorDefVis txtModificarWin','readonly' : 'true',
                                                        'onchange' : 'procesarGanador("'~ false ~ '","' ~ i ~'","' ~ partidoFecha.numeroPartido ~ '")'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['valorDefinicionVisita' ~ i ~ partidoFecha.numeroPartido]) }}</span>
                                                </div>
                                                <div class="col-xs-1 lblResultVisita {% if datos.definicion == true %}margenParaDisplayRight{% endif %}">
                                                    {{ form_widget(form['valorVisita' ~ i ~ partidoFecha.numeroPartido],
                                                    {'id' : 'txtResultadoVisita' ~ i ~ partidoFecha.numeroPartido,
                                                        'attr' : {'class' : 'form-control txtVisitaRes','readonly' : 'true',
                                                        'onchange' : 'habilitarDefinicionPenales("'~ datos.definicion ~'","'~ datos.isGolVisitante ~'",
                                                                "'~ valorLocalIda ~'","'~ valorVisitaIda ~'","'~ i ~'","'~ partidoFecha.numeroPartido ~'","true")'}}) }}
                                                    <span class="text-danger">{{ form_errors(form['valorVisita' ~ i ~ partidoFecha.numeroPartido]) }}</span>
                                                </div>
                                                <div class="col-xs-3 lblNombreVisita {% if ganador[partidoFecha.numeroPartido] == "visita" %}negrita{% endif %}">
                                                    {% if partidoFecha.visita is empty %}
                                                        {% set visitaNombre = datos.datosEliminacion[j - 1].tipoVisita %}
                                                    {% else %}
                                                        {% set visitaNombre = partidoFecha.visita.nombre %}
                                                    {% endif %}
                                                    <label id="lblVisita{{ i }}{{ partidoFecha.numeroPartido }}">{{ visitaNombre }}</label>
                                                </div>
                                            </div>
                                            <div class="container pnlResultadoGlobal {% if isGlobal == "false" %}ocultarDisplay{% endif %}"
                                                 onload="habilitarDefinicionPenales({{ datos.definicion }},{{ datos.isGolVisitante }},{{ valorLocalIda }},{{ valorVisitaIda }},{{ i }},{{ partidoFecha.numeroPartido }},'false')">
                                                <label class="lblGlobal"
                                                       id="lblGlobal{{ i }}{{ partidoFecha.numeroPartido }}">{{ globality }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tr>
                            <tr>
                                <div class="col-xs-3 pnlEquipoLibre {% if grupoFecha.equipoLibre is empty %}ocultarDisplay{% endif %}">
                                    <label>
                                        {% if grupoFecha.equipoLibre is empty %}
                                            No hay equipos libres
                                        {% else %}
                                            Libre {{ grupoFecha.equipoLibre.nombre }}
                                        {% endif %}
                                    </label>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if datos.torneo.estado != "Finalizado" %}
        {% include 'baseBotones.html.twig' with {'id': 'cmbGuardarAbajo',
        'editar' : 'cmbEditarAbajo', 'clase' : 'cmbGuardarAbajoConEditar' } %}
    {% endif %}
    {% include 'baseDireccion.html.twig' with {
    'pathDireccion': 'trabajo_dbbundle_torneos_completar_resultados',
    'atributoTorneo' : "idTorneo", 'idTorneo' : datos.torneo.id,
    'numeroFechaAtras' : datos.fechaBase.numeroFecha - 1,
    'numeroFechaAdel' : datos.fechaBase.numeroFecha + 1,
    'numeroFechaDato' : datos.fechaBase.numeroFecha,
    'arrayFecha' : datos.fechas,
    'claseBoton' : "abajo"} %}

    {{ form_end(form) }}

    <div class="mdlCambiarFecha ocultar">
        {{ include('futfunBundle:TorneoCompletarResultados:forms/formModificarFecha.html.twig',
        {formMenu : modificar_form_ajax, message : 'Are you sure?'|trans, id: 'form-modificarfecha'}) }}
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('public/js/page/completarResultadosFecha.js') }}"></script>
    {% endblock %}