{% if lugar != "verdatostorneo" %}
    <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
        <span class="glyphicon glyphicon-list-alt spnAccesos" aria-hidden="true"></span>
        {% trans %}Tournament data{% endtrans %}
    </a>
{% endif %}
{% if isAdministrador == "true" and lugar != "crearfecha" %}
    <a href="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': torneo.id }) }}">
        <span class="glyphicon glyphicon-edit spnAccesos" aria-hidden="true"></span>
        {% trans %}Update date{% endtrans %}
    </a>
{% endif %}
{% if lugar != "vertablatorneo" %}
    <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}">
        <span class="glyphicon glyphicon-th-list spnAccesos" aria-hidden="true"></span>
        {% trans %}View positions{% endtrans %}
    </a>
{% endif %}
{% if lugar != "completarresultadostorneo" %}
    <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}">
        <span class="glyphicon glyphicon-pencil spnAccesos" aria-hidden="true"></span>
        {% trans %}Complete/edit results{% endtrans %}
    </a>
{% endif %}
{% if desempate is not null %}
    <a href="{{ path('trabajo_dbbundle_torneos_crear_desempate',{'idTorneo' : desempate.torneo.id }) }}">
        <span class="glyphicon glyphicon-eye-open spnAccesos" aria-hidden="true"></span>
        {% trans %}See Tie Break{% endtrans %}
    </a>
{% endif %}
{% if apuestasDelTorneo is not null %}
    <a href="#" id="aTitAA">
        <span class="glyphicon glyphicon-usd red spnAccesos" aria-hidden="true"></span>
        {% trans %}See bets{% endtrans %}
    </a>
{% endif %}
<div class="panel panel-info ocultar" id="pnlAccesoApuesta">
    <div class="panel-heading" id="pnlHeadingTituloAccesoApuesta">
        <h3 class="panel-title" id="pnlTitleAccesoApuesta">
            {% trans %}Choose bet{% endtrans %}
            <span class="glyphicon glyphicon-remove leftMargen"
                  aria-hidden="true" id="spnClose"></span>
        </h3>
    </div>
    <div class="panel-body" id="pnlBodyAccesoApuesta">
        {% for apuestaDelTorneo in apuestasDelTorneo %}
            <div class="pnlDentro">
                <span class="glyphicon glyphicon-play spnFlecha red" aria-hidden="true"></span>

                <p class="pDentro">{{ apuestaDelTorneo.apuesta.nombre }}</p>
                {% if apuestaDelTorneo.apuesta.estado == "En espera"
                and apuestaDelTorneo.isAnotarse == true %}
                    <a title="{% trans %}Sign up{% endtrans %}"
                       href="#" class="btnSignUp" data-id="{{ apuestaDelTorneo.apuesta.id }}">
                        <span class="glyphicon glyphicon-plus-sign spnDentro red" aria-hidden="true"></span>
                    </a>
                {% endif %}
                <a title="{% trans %}See bet{% endtrans %}" class="aDentro"
                   href="{{ path('trabajo_dbbundle_apuesta_datos',{'idApuesta': apuestaDelTorneo.apuesta.id }) }}">
                    <span class="glyphicon glyphicon-list-alt spnDentro red" aria-hidden="true"></span>
                </a>
                {% if  apuestaDelTorneo.isAnotarse != true
                and apuestaDelTorneo.apuesta.extras|length > 0 %}
                    <a title="{% if apuestaDelTorneo.isFechaCumplida == false %}
                        {% trans %}Complete extras{% endtrans %}
                    {% else %}
                        {% trans %}View extras{% endtrans %}
                    {% endif %}" class="aDentro"
                       href="{{ path('trabajo_dbbundle_apuestas_completar_apuesta_extras',{'idApuesta': apuestaDelTorneo.apuesta.id }) }}">
                        <span class="glyphicon glyphicon-edit spnDentro red" aria-hidden="true"></span>
                    </a>
                {% endif %}
                <a title="{% trans %}View positions{% endtrans %}" class="aDentro"
                   href="{{ path('trabajo_dbbundle_apuestas_ver_tabla',{'idApuesta': apuestaDelTorneo.apuesta.id }) }}">
                    <span class="glyphicon glyphicon-th-list spnDentro red" aria-hidden="true"></span>
                </a>
                {% if apuestaDelTorneo.isAnotarse != true %}
                    <a title="{% trans %}Complete results{% endtrans %}" class="aDentro"
                       href="{{ path('trabajo_dbbundle_apuestas_completar_fecha_apuesta',{'idApuesta': apuestaDelTorneo.apuesta.id }) }}">
                        <span class="glyphicon glyphicon-pencil spnDentro red" aria-hidden="true"></span>
                    </a>
                {% endif %}
                {% if apuestaDelTorneo.apuesta.estado != "En espera" %}
                    <a title="{% trans %}See results{% endtrans %}" class="aDentro"
                       href="{{ path('trabajo_dbbundle_apuestas_ver_apuesta_otro',{'idApuesta': apuestaDelTorneo.apuesta.id }) }}">
                        <span class="glyphicon glyphicon-eye-open spnDentro red" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        {{ include('futfunBundle:ApuestasTorneo:forms/formAgregarUsuApu.html.twig',
        {formMenu : delete_form_ajax, message : 'Are you sure?'|trans, id: 'form-agregar', with_submit: false}) }}
    </div>
</div>