<li>
    <a tabindex="0" href="{{ path('trabajo_dbbundle_torneos_crear_torneoNuevo') }}">
        {% trans %}Create new{% endtrans %}
    </a>
</li>
<li role="separator" class="divider"></li>
<li class="dropdown-submenu">
    <a tabindex="0" href="#">{% trans %}Official{% endtrans %}</a>

    <ul class="dropdown-menu ulFondo">
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}In progress{% endtrans %}</a>

            <ul class="dropdown-menu ulFondo">
                {% if oficialProgreso is empty %}
                    <li>No existen Torneos</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in oficialProgreso %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                {{ torneo.nombre }}
                            </a>
                            <ul class="dropdown-menu ulFondo">
                                {% set j = 0 %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "verdatostorneo" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Tournament data{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% set k = 0 %}
                                {% if habActFecha["oficial"][torneo.id]["isValid"] == "true" and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "crearfecha" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Update date{% endtrans %}
                                        </a>
                                    </li>
                                    {% set k = 1 %}
                                {% endif %}
                                {% if torneo.tipoTorneo.id != 3 and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "vertablatorneo" ) %}
                                    {% if j == 1 or k == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "completarresultadostorneo" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}Complete/edit results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {{ render(controller(
                                'futfunBundle:CrearDesempate:menu',{'idTorneo': torneo.id })) }}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}Finished{% endtrans %}</a>

            <ul class="dropdown-menu ulFondo">
                {% if oficialFinalizado is empty %}
                    <li>No existen Torneos</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in oficialFinalizado %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                {{ torneo.nombre }}
                            </a>
                            <ul class="dropdown-menu ulFondo">
                                {% set j = 0 %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "verdatostorneo" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Tournament data{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% if torneo.tipoTorneo.id != 3 and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "vertablatorneo" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "completarresultadostorneo" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}See results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    </ul>
</li>
<li class="divider"></li>
<li class="dropdown-submenu">
    <a tabindex="0" href="#">{% trans %}Private{% endtrans %}</a>

    <ul class="dropdown-menu ulFondo">
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}In progress{% endtrans %}</a>

            <ul class="dropdown-menu ulFondo">
                {% if privadoProgreso is empty %}
                    <li>No existen Torneos</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in privadoProgreso %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                {{ torneo.nombre }}
                            </a>
                            <ul class="dropdown-menu ulFondo">
                                {% set j = 0 %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "verdatostorneo" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Tournament data{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% set k = 0 %}
                                {% if habActFecha["privado"][torneo.id]["isValid"] == "true" and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "crearfecha" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_comprobarFecha',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Update date{% endtrans %}
                                        </a>
                                    </li>
                                    {% set k = 1 %}
                                {% endif %}
                                {% if torneo.tipoTorneo.id != 3 and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "vertablatorneo" ) %}
                                    {% if j == 1 or k == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "completarresultadostorneo" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}Complete/edit results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {{ render(controller(
                                'futfunBundle:CrearDesempate:menu',{'idTorneo': torneo.id })) }}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="0" href="#">{% trans %}Finished{% endtrans %}</a>

            <ul class="dropdown-menu ulFondo">
                {% if privadoFinalizado is empty %}
                    <li>No existen Torneos</li>
                {% else %}
                    {% set i = 0 %}
                    {% for torneo in privadoFinalizado %}
                        {% if i > 0 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                {{ torneo.nombre }}
                            </a>
                            <ul class="dropdown-menu ulFondo">
                                {% set j = 0 %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "verdatostorneo" ) %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_datos',{'idTorneo': torneo.id }) }}">
                                            {% trans %}Tournament data{% endtrans %}
                                        </a>
                                    </li>
                                    {% set j = 1 %}
                                {% endif %}
                                {% if torneo.tipoTorneo.id != 3 and
                                not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "vertablatorneo" ) %}
                                    {% if j == 1 %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_ver_tabla',{'idTorneo': torneo.id }) }}"
                                           class="btnVerPosiciones" tabindex="0">
                                            {% trans %}View positions{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not(lugar["idTorneo"] == torneo.id and lugar["lugar"] == "completarresultadostorneo" ) %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('trabajo_dbbundle_torneos_completar_resultados',{'idTorneo': torneo.id }) }}"
                                           class="btnVerFechas" tabindex="0">
                                            {% trans %}See results{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% set i = 1 %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    </ul>
</li>