{% extends 'baseFechas.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/page/verTablaApuestas.css') }}" type="text/css">
{% endblock %}

{% block fechas %}
    <div id="pnlFiltros">
        <label class="enlinea1" id="lblNombrePosiciones">{{ datos.posiciones.nombre }}</label>
        <a href="{{ path("trabajo_dbbundle_apuestas_ver_tabla") }}?idApuesta={{ datos.apuesta.id }}&filtro=general"
           class="btn btn-primary enlinea"
           id="aGeneral">{{ "General"|trans }}</a>
        <a href="{{ path("trabajo_dbbundle_apuestas_ver_tabla") }}?idApuesta={{ datos.apuesta.id }}&filtro={{ datos.fechaActual.tipoFecha }}&numFecha={{ datos.fechaActual.numFecha }}"
           class="btn btn-primary enlinea" id="aFecActual">{{ "Current date"|trans }}</a>

        <div class="dropdown enlinea" id="aFechaNumero">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ "Choose date"|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for arrayFecha in datos.fechas %}
                    <li>
                        <a href="{{ path("trabajo_dbbundle_apuestas_ver_tabla") }}?idApuesta={{ datos.apuesta.id }}&filtro={{ arrayFecha.tipoFecha }}&numFecha={{ arrayFecha.numFecha }}">
                            {{ arrayFecha.valor }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ include('futfunBundle:ApuestasTabla:messages/sucess.html.twig') }}
    {{ include('futfunBundle:ApuestasTabla:messages/danger.html.twig') }}
    <div class="table-responsive pnlRespTabla">
        <table id="tblEquipos" class="table">

            <tr class="trTH verdeclaro">
                <th class="thParticipante">Participante</th>
                <th class="thResto">Puntos</th>
                {% if datos.isWinDate == 0 %}
                    <th class="thResto">Fechas ganadas</th>
                {% endif %}
                <th class="thResto">Resultados exactos</th>
                <th class="thResto">Solo resultados</th>
                <th class="thResto">Resultados fallidos</th>
                <th class="thResto">Puntos Extras</th>
            </tr>
            {% set pos = 0 %}
            {% for posicion in datos.posiciones.array %}
                {% set pos = pos + 1 %}
                <tr class="fondoBlanco">
                    <td class="tdParticipante {% if datos.apuesta.campeon is not empty and datos.apuesta.campeon.username == posicion.user.username %}cursiva{% endif %}">
                        <div class="posEquipo">{{ pos }}</div>
                        {% if datos.apuesta.campeon is not empty and datos.apuesta.campeon.username == posicion.user.username %}
                            <span id="spnEstrellitaIzq" class="glyphicon glyphicon-star"
                                  aria-hidden="true"></span>
                        {% endif %}
                        {{ posicion.user.username }}
                        {% if datos.apuesta.campeon is not empty and datos.apuesta.campeon.username == posicion.user.username %}
                            <span id="spnEstrellitaDer" class="glyphicon glyphicon-star"
                                  aria-hidden="true"></span>
                        {% endif %}
                        {% if datos.isWinDate == posicion.user.id %}
                            <span id="spnEstrellitaWinDate" class="glyphicon glyphicon-star"
                                  aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="tdResto">{{ posicion.puntos }}</td>
                    {% if datos.isWinDate == 0 %}
                        <td class="tdResto">{{ posicion.dateWin }}</td>
                    {% endif %}
                    <td class="tdResto">{{ posicion.pe }}</td>
                    <td class="tdResto">{{ posicion.pr }}</td>
                    <td class="tdResto">{{ posicion.pp }}</td>
                    <td class="tdResto">{{ posicion.ptsExtras }}</td>
                </tr>

            {% endfor %}

        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/page/armarApuestas.js') }}"></script>
{% endblock %}