{{ form_start(formMenu, {'attr' : {'id': id|default('formMenu')}}) }}

    {{ form_widget(formMenu) }}
<div id="pnlEnviarMsg">
    <input class="" type="text" placeholder="{{ 'Enter message...'|trans }}"
           id="txtMensajePizarra" name="txtMensajePizarra"/>
    <button id="btnEnviarMsg">{{ 'Submit'|trans }}</button>
</div>

{{ form_end(formMenu) }}
