{{ form_start(formMenu, {'attr' : {'id': id|default('formMenu')}}) }}

    {{ form_widget(formMenu) }}


{{ form_end(formMenu) }}

<script>
    var message = '{{ message }}';

    function confirmAgregar() {

    }
</script>